@use 'sass:list';
@use 'sass:string';
@use 'sass:selector';
@use './config';
@use './function';

$-nest: null;
$-block: null;
$-element: null;

// BEM https://juejin.cn/post/6844903672162304013
@mixin b($block, $at-root: true) {
  $-block: function.block($block) !global;

  @if $at-root == true {
    .#{$-block} {
      @content;
    }
  } @else {
    & .#{$-block} {
      @content;
    }
  }
}

@mixin e($element, $at-root: true) {
  $-element: $element !global;
  $selector: &;
  $current-selector: '';

  @each $unit in $element {
    $current-selector: #{$current-selector + '.' + $-block + config.$element-separator + $unit + ','};
  }

  @if function.hit-all-special-nest-rule($selector) {
    @at-root {
      #{$selector} {
        #{$current-selector} {
          @content;
        }
      }
    }
  } @else if $-nest != null and string.length($-nest) > 0 {
    @at-root {
      .#{$-nest} {
        #{$current-selector} {
          @content;
        }
      }
    }
  } @else if $at-root == true {
    @at-root {
      #{$current-selector} {
        @content;
      }
    }
  } @else {
    #{$selector + $current-selector} {
      @content;
    }
  }
}

/**
 * 修饰语，允许多个
 * 使用: @include mixins.m('line', 'underline')
 * 编译: .h-tabs--line, .h-tabs--underline
 */
@mixin m($modifier...) {
  $selector: &;
  $current-selector: '';

  @each $unit in $modifier {
    $current-selector: #{$current-selector + $selector + config.$modifier-separator + $unit + ','};
  }

  @at-root {
    #{$current-selector} {
      @content;
    }
  }
}

/**
 * 并行的 modifier
 * 使用: @include mixins.parallel-modifier('line', 'underline')
 * 编译: .h-tabs--line.h-tabs--underline
 */
@mixin parallel-modifier($modifier...) {
  $selector: &;
  $current-selector: '';

  @each $unit in $modifier {
    $current-selector: #{$current-selector + $selector + config.$modifier-separator + $unit};
  }

  @at-root {
    #{$current-selector} {
      @content;
    }
  }
}

/**
 * 独立的 modifier
 * 使用: @include mixins.m('c') {
 *  @include mixins.standalone-modifier('d') {
 *    // ...
 *  }
 * }
 * 编译: .h-calendar--c .h-calendar--d
 */
@mixin standalone-modifier($modifier) {
  @at-root {
    $current-string: &;
    $first-modifier-separator-index: string.index(#{$current-string}, #{config.$modifier-separator});

    @if $first-modifier-separator-index {
      @if $first-modifier-separator-index >= 0 {
        $current-string: string.slice(#{$current-string}, 0, $first-modifier-separator-index - 1);
      }
    }

    & #{$current-string + config.$modifier-separator + $modifier} {
      @content;
    }
  }
}

@mixin be($block, $element, $at-root: true) {
  $-block: function.block($block) !global;
  $-element: $element !global;

  @if $at-root != true {
    & .#{$-block + config.$element-separator + $element} {
      @content;
    }
  } @else {
    @at-root {
      .#{$-block + config.$element-separator + $element} {
        @content;
      }
    }
  }
}

@mixin bm($block, $modifier, $at-root: true) {
  $-block: function.block($block) !global;

  @if $at-root != true {
    & .#{$-block + config.$modifier-separator + $modifier} {
      @content;
    }
  } @else {
    @at-root {
      .#{$-block + config.$modifier-separator + $modifier} {
        @content;
      }
    }
  }
}

@mixin bem($block, $element, $modifier, $at-root: true) {
  $-block: function.block($block) !global;
  $-element: $element !global;

  @if $at-root != true {
    & .#{$-block + config.$element-separator + $element + config.$modifier-separator + $modifier} {
      @content;
    }
  } @else {
    @at-root {
      .#{$-block + config.$element-separator + $element + config.$modifier-separator + $modifier} {
        @content;
      }
    }
  }
}

@mixin em($element, $modifier, $at-root: true) {
  $-element: $element !global;

  @if $at-root != true {
    & .#{$-block + config.$element-separator + $element + config.$modifier-separator + $modifier} {
      @content;
    }
  } @else {
    @at-root {
      &#{config.$element-separator + $element + config.$modifier-separator + $modifier} {
        @content;
      }
    }
  }
}

/**
 * 根节点的嵌套
 */
@mixin nested($root) {
  $-nest: function.block($root) !global;
  .#{$-nest} {
    @content;
  }

  $-nest: null !global;
}

/**
 * 前置连字符：+~>
 * 包含多级嵌套路径 需配置$hasCascade为true
 */
@mixin prev($spec-selector: '', $element, $has-cascade: false) {
  $current-selector: '';
  $value: list.nth(list.nth(&, 1), 1);
  $root: null;
  @if $has-cascade {
    $root: &;
  } @else {
    $root: string.slice($value, 0, string.index($value, ' ') or string.length($value));
  }
  $-element: $element !global;

  @each $unit in $element {
    $current-selector: #{$current-selector + '.' + $-block + config.$element-separator + $unit + ','};
  }

  @at-root {
    #{$root}#{$spec-selector}#{$current-selector} {
      @content;
    }
  }
}

/**
 * 带前缀的修饰语
 * 使用: @include mixins.prev-modifier('>', 'line', 'underline')
 * 编译: .h-tabs > .h-tabs--line, .h-tabs > .h-tabs--underline
 */
@mixin prev-modifier($prev, $modifier...) {
  @at-root {
    #{function.package-modifier($modifier)} {
      @content;
    }
  }
}

@mixin child-element($letter, $element, $at-root: true) {
  @if $at-root != true {
    #{& + " " + $letter + function.element-name($element, $-block)} {
      @content;
    }
  } @else {
    @at-root {
      &#{$letter + function.element-name($element, $-block)} {
        @content;
      }
    }
  }
}

@mixin when($state, $prefix) {
  @at-root {
    &.#{$prefix + $state} {
      @content;
    }
  }
}

@mixin without($state, $prefix) {
  @at-root {
    &:not(.#{$prefix + $state}) {
      @content;
    }
  }
}

@mixin is($state) {
  @include when($state, config.$state-prefix) {
    @content;
  }
}

@mixin is-not($state) {
  @include without($state, config.$state-prefix) {
    @content;
  }
}

@mixin has($state) {
  @at-root {
    &.#{config.$has-state-prefix + $state} {
      @content;
    }
  }
}

@mixin has-not($state) {
  @at-root {
    &:not(.#{config.$has-state-prefix + $state}) {
      @content;
    }
  }
}

@mixin with-multi-state($args...) {
  $result: '&';

  @each $state in $args {
    $result: #{$result + '.' + #{config.$state-prefix + $state}};
  }

  @at-root {
    #{$result} {
      @content;
    }
  }
}

@mixin with-parallel-state($args...) {
  $result: '';

  @each $state in $args {
    $result: #{$result + & + '.' + #{config.$state-prefix + $state} + ', '};
  }

  @at-root {
    #{$result} {
      @content;
    }
  }
}

@mixin without-multi-state($args...) {
  $result: '&';

  @each $state in $args {
    $result: #{$result + '.' + #{config.$state-prefix + $state}};
  }

  @at-root {
    &:not(#{$result}) {
      @content;
    }
  }
}

@mixin without-parallel-state($args...) {
  $result: '';

  @each $state in $args {
    $result: #{$result + & + ':not(.' + #{config.$state-prefix + $state} + ')' + ', '};
  }

  @at-root {
    #{$result} {
      @content;
    }
  }
}

@mixin siblings-block($block1, $block2: false) {
  $result: '.' + function.block($block1);

  @if $block2 == false {
    $result: list.join($result, ' + .' + function.block($block1));
  } @else {
    $result: list.join($result, ' + .' + function.block($block2));
  }

  @if & {
    @at-root {
      & #{$result} {
        @content;
      }
    }
  } @else {
    @at-root {
      #{$result} {
        @content;
      }
    }
  }
}

@mixin siblings-element($element1, $element2: false) {
  $result: function.element-name($element1, $-block);

  @if $element2 == false {
    $result: list.join($result, ' + ' + function.element-name($element1, $-block));
  } @else {
    $result: list.join($result, ' + ' + function.element-name($element2, $-block));
  }

  @at-root {
    & #{$result} {
      @content;
    }
  }
}

@mixin siblings-modifier($modifier1, $modifier2: false) {
  $result: function.modifier-name($modifier1, $-element, $-block);

  @if $modifier2 == false {
    $result: list.join($result, ' + ' + function.modifier-name($modifier1, $-element, $-block));
  } @else {
    $result: list.join($result, ' + ' + function.modifier-name($modifier2, $-element, $-block));
  }

  @at-root {
    & #{$result} {
      @content;
    }
  }
}
