@use '../../../../styles/mixins/function';

$values: (
  size: (
    width: (
      large: 220px,
      medium: 160px,
      small: 110px,
    ),
  ),
  font-size: (
    description: #{function.css-variable('text-base')},
  ),
  line-height: (
    description: #{function.css-variable('line-height-standard')},
  ),
  color: (
    description: #{function.css-variable('text-tertiary')},
  ),
  spacing: (
    bottom: (
      margin-top: #{function.css-variable('spacing-4')},
    ),
    padding: #{function.css-variable('spacing-5')},
    description: (
      padding: #{function.css-variable('spacing-4')},
    ),
  ),
);
