@use '../../mixins';

@include mixins.b('link') {
  @include mixins.has('anchor') {
    cursor: default;

    @include mixins.e('anchor') {
      pointer-events: auto;
      cursor: pointer;
    }
  }

  @include mixins.is('disabled') {
    cursor: not-allowed;

    @include mixins.has('underline') {
      text-decoration: none;
    }
  }
}
