@use '../../../../styles/mixins';

@include mixins.b('descriptions') {
  font-size: mixins.css-variable('descriptions-font-size--content');
  background-color: mixins.css-variable('descriptions-bg--default');

  @include mixins.e('title') {
    color: mixins.css-variable('descriptions-color--title');
    font-weight: mixins.css-variable('descriptions-font-weight--title');
    font-size: mixins.css-variable('descriptions-font-size--title');
  }

  @include mixins.e('title--small') {
    margin-bottom: mixins.css-variable('descriptions-margin-bottom--title--small');
  }

  @include mixins.e('title--medium') {
    margin-bottom: mixins.css-variable('descriptions-margin-bottom--title--medium');
  }

  @include mixins.e('title--large') {
    margin-bottom: mixins.css-variable('descriptions-margin-bottom--title--large');
  }

  @include mixins.e('item') {
    display: flex;
    align-items: center;
    padding-right: mixins.css-variable('descriptions-padding-right--item');
    line-height: mixins.css-variable('descriptions-line-height--item');

    @include mixins.e('value') {
      padding-left: mixins.css-variable('descriptions-padding-right--item-value');
    }
  }

  @include mixins.e('label') {
    align-self: stretch;
    box-sizing: content-box;
    color: mixins.css-variable('descriptions-color--label');
  }

  @include mixins.e('value') {
    flex: 1;
    align-self: stretch;
    color: mixins.css-variable('descriptions-color--value');
  }

  @include mixins.m('horizontal') {
    @include mixins.e('content') {
      display: flex;
      flex-wrap: wrap;
    }

    @include mixins.bm('descriptions', 'border', false) {
      &#{mixins.block-name('descriptions__content')} {
        flex-wrap: nowrap;
      }
    }
  }

  @include mixins.m('vertical') {
    @include mixins.e('content') {
      display: grid;
    }
  }

  @include mixins.m('small') {
    @include mixins.e('item') {
      padding-bottom: mixins.css-variable('descriptions-margin-bottom--item--small');
    }
  }

  @include mixins.m('medium') {
    @include mixins.e('item') {
      padding-bottom: mixins.css-variable('descriptions-margin-bottom--item--medium');
    }
  }

  @include mixins.m('large') {
    @include mixins.e('item') {
      padding-bottom: mixins.css-variable('descriptions-margin-bottom--item--large');
    }
  }

  @include mixins.m('vertical') {
    @include mixins.bm('descriptions', 'small', false) {
      @include mixins.e('item') {
        @include mixins.e('value') {
          padding-left: mixins.css-variable('descriptions-padding-left--item-value--small--vertical');
        }
      }

      @include mixins.bem('descriptions', 'item', 'vertical', false) {
        &#{mixins.block-name('descriptions__item--top')} {
          @include mixins.e('label') {
            padding-bottom: mixins.css-variable('descriptions-padding-bottom--label--small--vertical');
          }
        }
      }
    }

    @include mixins.bm('descriptions', 'medium', false) {
      @include mixins.e('item') {
        @include mixins.e('value') {
          padding-left: mixins.css-variable('descriptions-padding-left--item-value--medium--vertical');
        }
      }

      @include mixins.bem('descriptions', 'item', 'vertical', false) {
        &#{mixins.block-name('descriptions__item--top')} {
          @include mixins.e('label') {
            padding-bottom: mixins.css-variable('descriptions-padding-bottom--label--medium--vertical');
          }
        }
      }
    }

    @include mixins.bm('descriptions', 'large', false) {
      @include mixins.e('item') {
        @include mixins.e('value') {
          padding-left: mixins.css-variable('descriptions-padding-left--item-value--large--vertical');
        }
      }

      @include mixins.bem('descriptions', 'item', 'vertical', false) {
        &#{mixins.block-name('descriptions__item--top')} {
          @include mixins.e('label') {
            padding-bottom: mixins.css-variable('descriptions-padding-bottom--label--large--vertical');
          }
        }
      }
    }
  }

  @include mixins.be('descriptions', 'content', false) {
    @include mixins.bem('descriptions', 'item', 'vertical', false) {
      &#{mixins.block-name('descriptions__item--top')} {
        @include mixins.e('value') {
          padding-left: mixins.css-variable('descriptions-padding-left--content-value--vertical');
        }
      }
    }
    &#{mixins.block-name('descriptions--small')} {
      @include mixins.bem('descriptions', 'item', 'vertical', false) {
        &#{mixins.block-name('descriptions__item--top')} {
          padding-bottom: mixins.css-variable('descriptions-padding-bottom--content--vertical-small');
        }
      }
    }
    &#{mixins.block-name('descriptions--medium')} {
      @include mixins.bem('descriptions', 'item', 'vertical', false) {
        &#{mixins.block-name('descriptions__item--top')} {
          padding-bottom: mixins.css-variable('descriptions-padding-bottom--content--vertical-medium');
        }
      }
    }
    &#{mixins.block-name('descriptions--large')} {
      @include mixins.bem('descriptions', 'item', 'vertical', false) {
        &#{mixins.block-name('descriptions__item--top')} {
          padding-bottom: mixins.css-variable('descriptions-padding-bottom--content--vertical-large');
        }
      }
    }
  }

  
  @include mixins.m('border') {
    overflow: hidden;
    border: mixins.css-variable('descriptions-border');
    border-radius: mixins.css-variable('descriptions-border-radius');

    @include mixins.e('item') {
      padding-right: 0 !important;
      padding-bottom: 0 !important;

      @include mixins.e('label') {
        position: relative;
        color: mixins.css-variable('descriptions-color--label--border');
        background-color: mixins.css-variable('descriptions-bg--item-label--border');

        &::before {
          position: absolute;
          bottom: -1px;
          left: 0;
          z-index: 1;
          display: block;
          width: 100%;
          height: 1px;
          background-color: mixins.css-variable('descriptions-border-color');
          content: '';
        }

        &::after {
          position: absolute;
          top: 0;
          right: -1px;
          z-index: 1;
          display: block;
          width: 1px;
          height: 100%;
          background-color: mixins.css-variable('descriptions-border-color');
          content: '';
        }

        &:last-child {
          border-bottom: 0;
        }
      }

      @include mixins.e('value') {
        position: relative;

        &::before {
          position: absolute;
          bottom: -1px;
          left: 0;
          z-index: 1;
          display: block;
          width: 100%;
          height: 1px;
          background-color: mixins.css-variable('descriptions-border-color');
          content: '';
        }

        &::after {
          position: absolute;
          top: 0;
          right: -1px;
          z-index: 1;
          display: block;
          width: 1px;
          height: 100%;
          background-color: mixins.css-variable('descriptions-border-color');
          content: '';
        }
      }
    }
  }

  #{mixins.block-name('descriptions--medium')}#{mixins.block-name('descriptions--border')} {
    #{mixins.block-name('descriptions__label')},
    #{mixins.block-name('descriptions__value')} {
      padding: mixins.css-variable('descriptions-padding--grid--medium--border') !important;
    }
  }

  #{mixins.block-name('descriptions--large')}#{mixins.block-name('descriptions--border')} {
    #{mixins.block-name('descriptions__label')},
    #{mixins.block-name('descriptions__value')} {
      padding: mixins.css-variable('descriptions-padding--grid--large--border') !important;
    }
  }

  #{mixins.block-name('descriptions--small')}#{mixins.block-name('descriptions--border')} {
    #{mixins.block-name('descriptions__label')},
    #{mixins.block-name('descriptions__value')} {
      padding: mixins.css-variable('descriptions-padding--grid--small--border') !important;
    }
  }
}

@include mixins.bm('descriptions', horizontal) {
  @include mixins.standalone-modifier('border') {
    @include mixins.e('item') {
      &:last-child {
        @include mixins.e('value') {
          &::after {
            display: none;
          }
        }
      }

      &--top {
        &:last-child {
          flex: 1;

          @include mixins.e('label') {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}

@include mixins.bm('descriptions', 'vertical') {
  &#{mixins.element-name('col-1', mixins.block('descriptions'))} {
    @include mixins.standalone-modifier('small') {
      @include mixins.e('item') {
        padding-bottom: mixins.css-variable('descriptions-padding-bottom--item--small--vertical');
      }
    }
    @include mixins.standalone-modifier('medium') {
      @include mixins.e('item') {
        padding-bottom: mixins.css-variable('descriptions-padding-bottom--item--medium--vertical');
      }
    }
    @include mixins.standalone-modifier('large') {
      @include mixins.e('item') {
        padding-bottom: mixins.css-variable('descriptions-padding-bottom--item--large--vertical');
      }
    }
  }
}
