@use '../../../../styles/mixins';
@use 'panel';
@use 'item';

@include mixins.b('tree-select') {
  #{mixins.css-variable-name('tag-max-width')}: #{mixins.css-variable('tree-select-max-width--tag')};
  #{mixins.css-variable-name('tag-max-width--large')}: #{mixins.css-variable('tree-select-max-width--tag')};
  #{mixins.css-variable-name('tag-max-width--small')}: #{mixins.css-variable('tree-select-max-width--tag')};

  @include mixins.is('inputable') {
    #{mixins.element-name('input', mixins.block('picker'))} {
      cursor: text;
    }
  }

  @include mixins.em('tag-group', 'normal') {
    @include mixins.nested('tag-group__container') {
      display: block;
    }
  }

  @include mixins.em('tag-group', 'popper') {
    #{mixins.css-variable-name('tag-max-width')}: #{mixins.css-variable('tree-select-max-width--tag')};
    #{mixins.css-variable-name('tag-max-width--large')}: #{mixins.css-variable('tree-select-max-width--tag')};
    #{mixins.css-variable-name('tag-max-width--small')}: #{mixins.css-variable('tree-select-max-width--tag')};

    #{mixins.element-name('content', mixins.block('tag'))} {
      max-width: fit-content;
    }
  }

  #{mixins.element-name('content', mixins.block('tag'))} {
    max-width: fit-content;
  }

  #{mixins.block-name('tag-group')} {
    float: left;
    min-width: 0;
    max-width: 100%;
  }

  #{mixins.element-name('container', #{mixins.block('tag-group')})} {
    grid-gap: mixins.css-variable('tree-select-gap-column--tags-container');
  }

  @include mixins.bem('picker', 'input', 'small', false) {
    #{mixins.element-name('container', mixins.block('tag-group'))} {
      grid-gap: mixins.css-variable('tree-select-gap-column--tags-container--small');
    }
  }
}
