@use '../../../../styles/mixins';

@mixin style {
  @include mixins.m('page') {
    padding: mixins.css-variable('tabs', 'spacing', 'page', 'padding');
    background: mixins.css-variable('tabs', 'background', 'page');

    @include mixins.e('nav-wrap') {
      display: flex;

      // max-width: 100%;
      padding: mixins.css-variable('tabs', 'spacing', 'nav-list', 'page', 'padding');
      column-gap: 12px;
    }

    @include mixins.e('nav-list') {
      @include mixins.m('space') {
        padding-right: mixins.css-variable('font-size-6');
      }
    }

    @include mixins.e('tab') {
      padding: 8px 0;
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'page');
      line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'page');
      background: mixins.css-variable('tabs', 'background', 'tab', 'page');
      border-radius: mixins.css-variable('tabs', 'border-radius', 'tab', 'page');
      cursor: pointer;

      &:hover {
        background: mixins.css-variable('tabs', 'background', 'tab', 'page', 'hover');
      }

      &:hover::before,
      &:hover::after {
        box-shadow: 0 0 0 8px mixins.css-variable('tabs', 'background', 'tab', 'page', 'hover');
        opacity: 0;
      }

      &::before,
      &::after {
        position: absolute;
        bottom: 0;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        box-shadow: 0 0 0 8px transparent; /* 使用box-shadow不影响尺寸 */
        content: '';
      }

      &::before {
        left: -16px;
        clip-path: inset(50% 0 0 50%);
      }

      &::after {
        right: -16px;
        clip-path: inset(50% 50% 0 0);
      }

      @include mixins.e('tab-inner') {
        box-shadow: 1px 0 0 #e6e7ec;
      }

      @include mixins.e('close') {
        margin-left: mixins.css-variable('tabs', 'spacing', 'close', 'page', 'margin-left');
      }

      @include mixins.m('dragging') {
        opacity: 0.3;

        &::after,
        &::before {
          opacity: 0.3;
        }
      }

      @include mixins.m('dropping') {
        background-color: mixins.css-variable('tabs', 'background', 'tab', 'page', 'hover');
        transition: background-color mixins.css-variable('tabs', 'transition', 'duration')
          mixins.css-variable('tabs', 'transition', 'timing-function');
      }
    }

    @include mixins.e('tab--active') {
      color: mixins.css-variable('tabs', 'color', 'tab', 'page', 'activated');
      text-shadow: 0 0 0.25px currentcolor;
      background: mixins.css-variable('tabs', 'background', 'tab', 'page', 'activated');

      &::before,
      &::after {
        z-index: 1;
        box-shadow: 0 0 0 8px mixins.css-variable('bg-default');
      }

      &:hover {
        background: mixins.css-variable('tabs', 'background', 'tab', 'page', 'activated', 'hover');

        &::before,
        &::after {
          box-shadow: 0 0 0 8px mixins.css-variable('bg-default');
          opacity: 1;
        }
      }

      @include mixins.e('tab-inner') {
        box-shadow: none;
      }
    }

    @include mixins.e('tab-inner') {
      padding: 0 mixins.css-variable('font-size-10');
    }

    @include mixins.e('icon') {
      font-size: mixins.css-variable('font-size-8');
    }

    @include mixins.e('icon-outer') {
      @include mixins.m('follow') {
        padding: 2px 0;
      }
    }

    @include mixins.e('extra-outer') {
      @include mixins.m('blur') {
        &::before {
          background: linear-gradient(
            to right,
            transparent 0%,
            mixins.css-variable('tabs', 'background', 'page') 88%,
            mixins.css-variable('tabs', 'background', 'page') 100%
          );
        }
      }
    }
  }
}
