@use '../../../../styles/mixins';

@mixin style {
  @include mixins.m('mini') {
    @include mixins.e('icon') {
      font-size: mixins.css-variable('font-size-10');
    }

    @include mixins.e('icon-outer') {
      width: 20px;
      height: 20px;
    }
  }

  @include mixins.m('small', 'medium') {
    @include mixins.e('icon') {
      font-size: mixins.css-variable('font-size-9');
    }

    @include mixins.e('icon-outer') {
      width: 24px;
      height: 24px;
    }
  }

  @include mixins.m('large') {
    @include mixins.e('icon') {
      font-size: mixins.css-variable('font-size-8');
    }

    @include mixins.e('icon-outer') {
      width: 30px;
      height: 30px;
    }
  }

  @include mixins.parallel-modifier('mini', 'line') {
    @include mixins.e('tab') {
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'line', 'mini');

      // line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'line', 'mini');
    }

    @include mixins.siblings-element('tab') {
      margin-left: mixins.css-variable('tabs', 'spacing', 'tab', 'line', 'gap', 'mini');
    }

    @include mixins.e('icon-outer') {
      width: 20px;
      height: 20px;
    }

    @include mixins.e('icon') {
      font-size: mixins.css-variable('font-size-10');
    }
  }

  @include mixins.parallel-modifier('small', 'line') {
    @include mixins.e('tab') {
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'line', 'small');
    }

    @include mixins.siblings-element('tab') {
      margin-left: mixins.css-variable('tabs', 'spacing', 'tab', 'line', 'gap', 'small');
    }
  }

  @include mixins.parallel-modifier('medium', 'line') {
    @include mixins.e('tab') {
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'line', 'medium');
    }

    @include mixins.siblings-element('tab') {
      margin-left: mixins.css-variable('tabs', 'spacing', 'tab', 'line', 'gap', 'medium');
    }
  }

  @include mixins.parallel-modifier('large', 'line') {
    @include mixins.e('tab') {
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'line', 'large');
    }

    @include mixins.siblings-element('tab') {
      margin-left: mixins.css-variable('tabs', 'spacing', 'tab', 'line', 'gap', 'large');
    }
  }

  // card 尺寸
  @include mixins.parallel-modifier('mini', 'card') {
    @include mixins.e('tab') {
      padding: mixins.css-variable('tabs', 'spacing', 'tab', 'card', 'padding', 'mini');
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'card', 'mini');
      line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'card', 'mini');
    }
    @include mixins.e('icon-outer') {
      @include mixins.m('add') {
        padding: 0 mixins.css-variable('spacing-3');
      }
    }
  }

  @include mixins.parallel-modifier('small', 'card') {
    @include mixins.e('tab') {
      padding: mixins.css-variable('tabs', 'spacing', 'tab', 'card', 'padding', 'small');
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'card', 'small');
      line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'card', 'small');
    }

    @include mixins.e('icon-outer') {
      @include mixins.m('add') {
        padding: 0 mixins.css-variable('spacing-4');
      }
    }
  }

  @include mixins.parallel-modifier('medium', 'card') {
    @include mixins.e('tab') {
      padding: mixins.css-variable('tabs', 'spacing', 'tab', 'card', 'padding', 'medium');
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'card', 'medium');
      line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'card', 'medium');
    }

    @include mixins.e('icon-outer') {
      @include mixins.m('add') {
        padding: 0 mixins.css-variable('spacing-5');
      }
    }
  }

  @include mixins.parallel-modifier('large', 'card') {
    @include mixins.e('tab') {
      padding: mixins.css-variable('tabs', 'spacing', 'tab', 'card', 'padding', 'large');
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'card', 'large');
      line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'card', 'large');
    }

    @include mixins.e('icon-outer') {
      @include mixins.m('add') {
        padding: 0 mixins.css-variable('spacing-6');
      }
    }
  }

  // segment 尺寸
  @include mixins.parallel-modifier('mini', 'segment') {
    @include mixins.e('nav-wrap') {
      padding: mixins.css-variable('tabs', 'spacing', 'nav', 'segment', 'padding', 'mini');
    }

    @include mixins.e('tab') {
      padding: mixins.css-variable('tabs', 'spacing', 'tab', 'segment', 'padding', 'mini');
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'segment', 'mini');
      line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'segment', 'mini');
    }

    @include mixins.e('indicator') {
      // margin: 2px;
      border-radius: mixins.css-variable('radius-s');
    }
  }

  @include mixins.parallel-modifier('small', 'segment') {
    @include mixins.e('nav-wrap') {
      padding: mixins.css-variable('tabs', 'spacing', 'nav', 'segment', 'padding', 'small');
    }

    @include mixins.e('tab') {
      padding: mixins.css-variable('tabs', 'spacing', 'tab', 'segment', 'padding', 'small');
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'segment', 'small');
      line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'segment', 'small');
    }

    @include mixins.e('indicator') {
      // margin: 2px;
      border-radius: mixins.css-variable('radius-s');
    }
  }

  @include mixins.parallel-modifier('medium', 'segment') {
    @include mixins.e('nav-wrap') {
      padding: mixins.css-variable('tabs', 'spacing', 'nav', 'segment', 'padding', 'medium');
    }

    @include mixins.e('tab') {
      padding: mixins.css-variable('tabs', 'spacing', 'tab', 'segment', 'padding', 'medium');
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'segment', 'medium');
      line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'segment', 'medium');
    }

    @include mixins.e('indicator') {
      // margin: 4px;
      border-radius: mixins.css-variable('radius-m');
    }
  }

  @include mixins.parallel-modifier('large', 'segment') {
    @include mixins.e('nav-wrap') {
      padding: mixins.css-variable('tabs', 'spacing', 'nav', 'segment', 'padding', 'large');
    }

    @include mixins.e('tab') {
      padding: mixins.css-variable('tabs', 'spacing', 'tab', 'segment', 'padding', 'large');
      font-size: mixins.css-variable('tabs', 'font-size', 'tab', 'segment', 'large');
      line-height: mixins.css-variable('tabs', 'line-height', 'tab', 'segment', 'large');
    }

    @include mixins.e('indicator') {
      // margin: 4px;
      border-radius: mixins.css-variable('radius-m');
    }
  }
}
