@use '../../../../styles/mixins';
@use 'page';
@use 'tab';
@use 'size';

@include mixins.b('tabs') {
  @include mixins.e('nav') {
    position: relative;
    display: flex;
    align-items: center;
  }

  @include mixins.e('nav-wrap') {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  @include mixins.e('nav-list') {
    position: relative;
    display: flex;
    align-items: center;
    transition: transform mixins.css-variable('tabs', 'transition', 'duration')
      mixins.css-variable('tabs', 'transition', 'timing-function');
  }

  @include mixins.e('tab') {
    position: relative;
    color: mixins.css-variable('tabs', 'color', 'tab');
    cursor: pointer;

    /* stylelint-disable-next-line nesting-selector-no-missing-scoping-root */
    &:focus-visible {
      @include mixins.focus-ring-inset(mixins.css-variable('radius-m'));
    }

    $transition: all mixins.css-variable('tabs', 'transition', 'duration')
      mixins.css-variable('tabs', 'transition', 'timing-function');

    @include mixins.e('move') {
      transition: $transition;
    }

    @include mixins.e('enter-active') {
      transition: $transition;
    }

    @include mixins.e('leave-active') {
      transition: $transition;
    }
  }

  @include mixins.e('tab-inner') {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 8px;
    user-select: none;

    @include mixins.nested('tabs__tab-inner') {
      @include mixins.e('icon') {
        color: mixins.css-variable('tabs', 'color', 'icon');

        &:hover,
        &:active {
          color: mixins.css-variable('tabs', 'color', 'icon', 'hover');
        }
      }
    }
  }

  @include mixins.e('tab-text') {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @include mixins.e('arrow') {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  @include mixins.e('extra-outer') {
    display: flex;
    flex: none;
    align-items: stretch;
    align-self: stretch;
    line-height: 1;
    column-gap: 4px;

    @include mixins.m('blur') {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        bottom: mixins.css-variable('tabs', 'size', 'underline', 'line', 'height');
        left: -24px;
        z-index: 1;
        width: 24px;
        margin: auto;
        line-height: 1;
        background: linear-gradient(
          to right,
          rgba(mixins.css-variable('color-1-1'), 0) 0%,
          rgba(mixins.css-variable('color-1-1'), 0.7),
          rgba(mixins.css-variable('color-1-1'), 1) 100%
        );
        content: '';
        pointer-events: none;
      }
    }

    @include mixins.e('extra') {
      display: flex;

      // align-items: center;
      flex: none;
    }

    @include mixins.e('icon-outer') {
      display: flex;
      align-items: center;
      justify-content: center;

      // padding: 2px 4px;
      color: mixins.css-variable('tabs', 'color', 'extra-icon');
      cursor: pointer;
      transition: color mixins.css-variable('tabs', 'transition', 'duration')
        mixins.css-variable('tabs', 'transition', 'timing-function');

      &:hover {
        color: mixins.css-variable('tabs', 'color', 'tab', 'hover');
      }

      &:active {
        color: mixins.css-variable('tabs', 'color', 'tab', 'press');
      }

      @include mixins.nested('tabs__extra-outer') {
        @include mixins.e('icon') {
          color: currentcolor;

          &:hover,
          &:active {
            color: currentcolor;
          }
        }
      }

      @include mixins.m('disabled') {
        $c: mixins.css-variable('text-disabled');
        color: $c;
        cursor: not-allowed;

        &:hover,
        &:active {
          color: $c;
        }

        @include mixins.e('icon') {
          color: $c;

          &:hover,
          &:active {
            color: $c;
          }
        }
      }
    }

    @include mixins.e('default-actions') {
      display: flex;
      align-items: center;
      column-gap: 4px;
    }
  }

  @include tab.style;
  @include page.style;
  @include size.style;
}
