@use 'sass:map';
@use '@nio-fe/lego/es/styles/mixins';
@use '@nio-fe/lego/es/components/Switch/src/style/variables';

.is-suit-pad {
  &:not(.not-for-switch) {
    @include mixins.b('switch'){
      #{mixins.css-variable-name('switch', 'width', '-core', '-small')}: map.get(variables.$values, 'width--core--large');
      #{mixins.css-variable-name('switch', 'width', '-core')}: map.get(variables.$values, 'width--core--large');
      #{mixins.css-variable-name('switch', 'height', '-core', '-small')}: map.get(variables.$values, 'height--core--large');
      #{mixins.css-variable-name('switch', 'height', '-core')}: map.get(variables.$values, 'height--core--large');
      #{mixins.css-variable-name('switch', 'size', '-inner', '-small')}: map.get(variables.$values, 'size--inner--large');
      #{mixins.css-variable-name('switch', 'size', '-inner')}: map.get(variables.$values, 'size--inner--large');
      #{mixins.css-variable-name('switch', 'font-size', '-status', '-small')}: map.get(variables.$values, 'font-size--status--large');
      #{mixins.css-variable-name('switch', 'font-size', '-status')}: map.get(variables.$values, 'font-size--status--large');

      @include mixins.e('core') {
        position: relative;

        @include mixins.is('active') {
          @include mixins.e('inner') {
            transform: translate3d(20px, 0, 0);
          }
        }

        &::after {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 100%;
          height: 40px;
          transform: translateY(-50%);
          content: '';
        }
      }
    }
  }
}
