@use '../../../../styles/mixins';

@include mixins.b('drawer') {
  position: fixed;
  inset: 0;
  pointer-events: none;

  // @include mixins.m('no-mask') {
  //   box-shadow: mixins.css-variable('drawer', 'box-shadow', 'container');
  // }

  @include mixins.e('mask') {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: mixins.css-variable('drawer', 'background', 'mask');
    pointer-events: auto;
  }

  @include mixins.e('container') {
    position: fixed;
    display: flex;
    background: mixins.css-variable('drawer', 'background', 'container');
    border-radius: mixins.css-variable('drawer', 'border-radius', 'container');
    box-shadow: mixins.css-variable('drawer', 'box-shadow', 'container');
    pointer-events: auto;
  }

  @include mixins.m('push') {
    transition:
      left 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
      bottom 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
      right 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
      top 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  @include mixins.m('left') {
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    border-radius: mixins.css-variable('drawer', 'border-radius', 'left');
  }

  @include mixins.m('right') {
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    border-radius: mixins.css-variable('drawer', 'border-radius', 'right');
  }

  @include mixins.m('top') {
    top: 0;
    right: 0;
    left: 0;
    max-height: 100%;
    border-radius: mixins.css-variable('drawer', 'border-radius', 'top');
  }

  @include mixins.m('bottom') {
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    border-radius: mixins.css-variable('drawer', 'border-radius', 'bottom');
  }

  @include mixins.e('icon') {
    flex: none;
    margin-right: mixins.css-variable('drawer', 'spacing', 'icon', 'margin-right');
  }

  @include mixins.e('main') {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
  }

  @include mixins.e('header') {
    position: relative;
    padding: mixins.css-variable('drawer', 'spacing', 'container', 'padding-top');
    border-bottom: 1px solid mixins.css-variable('drawer', 'border-color', 'divider');
  }

  @include mixins.em('header', 'customize') {
    padding-right: mixins.css-variable('spacing-7');
  }

  @include mixins.e('body') {
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding: mixins.css-variable('drawer', 'spacing', 'body', 'padding');
    overflow: auto;
  }

  @include mixins.e('default-title') {
    display: flex;
    align-items: center;
    min-height: mixins.css-variable('drawer', 'line-height', 'title');
    font-weight: mixins.css-variable('drawer', 'font-weight', 'title');
    font-size: mixins.css-variable('drawer', 'font-size', 'title');
    line-height: mixins.css-variable('drawer', 'line-height', 'title');
  }

  @include mixins.e('closable') {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  @include mixins.e('footer') {
    padding: mixins.css-variable('drawer', 'spacing', 'container', 'padding-bottom');
    border-top: 1px solid mixins.css-variable('drawer', 'border-color', 'divider');
  }

  @include mixins.e('default-footer') {
    text-align: right;
  }

  @include mixins.e('draggable') {
    position: absolute;

    @include mixins.m('right', 'left') {
      top: 0;
      bottom: 0;
      width: 16px;
      margin: auto;
      cursor: col-resize;
    }

    @include mixins.m('right') {
      left: 0;
    }

    @include mixins.m('left') {
      right: 0;
    }

    @include mixins.m('top', 'bottom') {
      right: 0;
      left: 0;
      height: 16px;
      margin: auto;
      cursor: row-resize;
    }

    @include mixins.m('top') {
      bottom: 0;
    }

    @include mixins.m('bottom') {
      top: 0;
    }
  }
}

$enter-animation: transform 0.4s cubic-bezier(0.23, 1, 0.33, 1);
$leave-animation: transform 0.2s cubic-bezier(0.32, 0, 0.67, 0);

.#{mixins.block('drawer')}-slide-right {
  &-enter-active {
    transition: $enter-animation;
  }

  &-leave-active {
    transition: $leave-animation;
  }

  &-enter-from,
  &-leave-to {
    transform: translate3d(100%, 0, 0);
  }
}

.#{mixins.block('drawer')}-slide-left {
  &-enter-active {
    transition: $enter-animation;
  }

  &-leave-active {
    transition: $leave-animation;
  }

  &-enter-from,
  &-leave-to {
    transform: translate3d(-100%, 0, 0);
  }
}

.#{mixins.block('drawer')}-slide-top {
  &-enter-active {
    transition: $enter-animation;
  }

  &-leave-active {
    transition: $leave-animation;
  }

  &-enter-from,
  &-leave-to {
    transform: translate3d(0, -100%, 0);
  }
}

.#{mixins.block('drawer')}-slide-bottom {
  &-enter-active {
    transition: $enter-animation;
  }

  &-leave-active {
    transition: $leave-animation;
  }

  &-enter-from,
  &-leave-to {
    transform: translate3d(0, 100%, 0);
  }
}

[data-popup-parent-hidden] {
  overflow: hidden;
}
