@use '../../../../styles/mixins';
@use 'simplest';
@use 'size';

@include mixins.b('pagination') {
  display: flex;
  grid-column-gap: mixins.css-variable('pagination', 'spacing', 'components', 'gap');
  align-items: center;
  margin-right: mixins.css-variable('pagination', 'spacing', 'margin-right');
  line-height: mixins.css-variable('pagination', 'line-height');
  white-space: nowrap;

  @include mixins.m('left') {
    justify-content: flex-start;
  }

  @include mixins.m('center') {
    justify-content: center;
  }

  @include mixins.m('right') {
    justify-content: flex-end;
  }

  @include mixins.e('total') {
    color: mixins.css-variable('pagination', 'color', 'secondary');
    font-size: mixins.css-variable('pagination', 'font-size');
    white-space: nowrap;
  }

  @include mixins.e('pager') {
    display: flex;
    grid-column-gap: mixins.css-variable('pagination', 'spacing', 'inside', 'gap');
    white-space: nowrap;

    @include mixins.m('item') {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: mixins.css-variable('pagination', 'size', 'height');
      min-height: mixins.css-variable('pagination', 'size', 'height');
      padding: 0 mixins.css-variable('pagination', 'spacing', 'pager-item', 'padding-x');
      vertical-align: middle;
      background: mixins.css-variable('pagination', 'background');
      border: mixins.css-variable('pagination', 'border');
      border-radius: mixins.css-variable('pagination', 'border-radius');
      cursor: pointer;
      transition: mixins.css-variable('pagination', 'transition', 'all');
      user-select: none;

      &:hover,
      &:focus {
        color: mixins.css-variable('pagination', 'color', 'pager-item', 'hover');
        border-color: mixins.css-variable('pagination', 'border-color', 'hover');
        outline: none;
      }

      &:active {
        color: mixins.css-variable('pagination', 'color', 'pager-item', 'press');
        border-color: mixins.css-variable('pagination', 'border-color', 'press');
      }

      @include mixins.is('active') {
        color: mixins.css-variable('pagination', 'color', 'pager-item', 'active');
        background: mixins.css-variable('pagination', 'background', 'pager-item', 'active');
        border-color: mixins.css-variable('pagination', 'border-color', 'active');
      }

      @include mixins.is('disabled') {
        color: mixins.css-variable('pagination', 'color', 'pager-item', 'disabled');
        background: mixins.css-variable('pagination', 'background', 'pager-item', 'disabled');
        border-color: mixins.css-variable('pagination', 'border-color');
        cursor: not-allowed;

        @include mixins.is('active') {
          color: mixins.css-variable('pagination', 'color', 'pager-item', 'disabled-active');
          background: mixins.css-variable('pagination', 'background', 'pager-item', 'disabled-active');
          border-color: mixins.css-variable('pagination', 'border-color', 'disabled-active');
        }
      }
    }

    @include mixins.m('advance') {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      @include mixins.is('icon') {
        display: none;
      }

      &:hover {
        .is-icon {
          display: inline-flex;
        }

        .is-origin {
          display: none;
        }
      }
    }
  }

  @include mixins.e('sizes') {
    display: flex;
    grid-column-gap: mixins.css-variable('pagination', 'spacing', 'sizes', 'gap');
    align-items: center;
    justify-content: center;
    min-height: mixins.css-variable('pagination', 'size', 'height');
    padding: mixins.css-variable('pagination', 'spacing', 'sizes', 'padding');
    color: mixins.css-variable('pagination', 'color', 'popper');
    white-space: nowrap;
    border: mixins.css-variable('pagination', 'border');
    border-radius: mixins.css-variable('pagination', 'border-radius');
    cursor: pointer;
    transition: mixins.css-variable('pagination', 'transition', 'all');

    &:hover,
    &:focus {
      border-color: mixins.css-variable('pagination', 'border-color', 'hover');
      outline: none;
    }

    &:active {
      border-color: mixins.css-variable('pagination', 'border-color', 'press');
    }

    @include mixins.is('active') {
      border-color: mixins.css-variable('pagination', 'border-color', 'sizes', 'activated');
    }

    @include mixins.is('disabled') {
      color: mixins.css-variable('pagination', 'color', 'popper', 'disabled');
      background: mixins.css-variable('pagination', 'background', 'popper', 'disabled');
      border-color: mixins.css-variable('pagination', 'border-color', 'disabled');
      cursor: not-allowed;
    }
  }

  @include mixins.e('sizes-popper') {
    padding: mixins.css-variable('pagination', 'spacing', 'sizes-popper', 'padding') !important;
  }

  @include mixins.e('sizes-item') {
    height: mixins.css-variable('pagination', 'size', 'sizes-item', 'height');
    padding: mixins.css-variable('pagination', 'spacing', 'sizes-item', 'padding');
    color: mixins.css-variable('pagination', 'color', 'primary');
    cursor: pointer;
    transition: mixins.css-variable('pagination', 'transition', 'all');

    &:hover {
      background: mixins.css-variable('pagination', 'background', 'sizes-item', 'hover');
    }

    @include mixins.is('active') {
      color: mixins.css-variable('pagination', 'color', 'sizes-item', 'active');
    }
  }

  @include mixins.e('jumper') {
    display: flex;
    grid-column-gap: mixins.css-variable('pagination', 'spacing', 'inside', 'gap');
    align-items: center;
    color: mixins.css-variable('pagination', 'color', 'secondary');
    white-space: nowrap;

    @include mixins.b('input-number', false) {
      width: mixins.css-variable('pagination', 'size', 'input-number', 'width');
      min-width: auto;
      font-size: mixins.css-variable('pagination', 'font-size');
      border-radius: mixins.css-variable('pagination', 'border-radius');

      @include mixins.be('input-number', 'inner', false) {
        padding: mixins.css-variable('pagination', 'spacing', 'jumper-input', 'padding') !important;
      }
    }
  }
}
