@use '../../../../styles/mixins';

@include mixins.b('pagination') {
  @include mixins.e('simplest-pager') {
    display: flex;
    grid-column-gap: mixins.css-variable('pagination-gap--inside--min');
    white-space: nowrap;

    @include mixins.m('split') {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: mixins.css-variable('pagination-min-width--pager-split');
      color: mixins.css-variable('pagination-color--pager-item--split');
      vertical-align: middle;
      background: mixins.css-variable('pagination-bg');
      user-select: none;
    }

    @include mixins.m('item') {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-width: mixins.css-variable('pagination-height');
      padding: 0 mixins.css-variable('pagination-padding-x--pager-item');
      vertical-align: middle;
      background: mixins.css-variable('pagination-bg');
      transition: mixins.css-variable('pagination-transition--all');
      user-select: none;

      @include mixins.is('clickable') {
        cursor: pointer;
      }

      @include mixins.is('disabled') {
        color: mixins.css-variable('pagination-color--pager-item--disabled');
        border-color: mixins.css-variable('pagination-border-color');
        cursor: not-allowed;
      }

      @include mixins.b('input-number', false) {
        width: var(--n-pagination-width--input-number);
        min-width: auto;
      }

      @include mixins.be('input-number', 'inner', false) {
        width: mixins.css-variable('pagination-height');
        padding: mixins.css-variable('pagination-padding--jumper-input') !important;
        font-size: mixins.css-variable('pagination-font-size');
        text-align: center;
        border-radius: mixins.css-variable('pagination-border-radius');
      }
    }
  }
}
