@use '../../../../styles/mixins';
@use 'spacing';

@include mixins.b('form') {
  @include mixins.is('position-top') {
    @include mixins.b('form-item') {
      display: flex;
      flex-direction: column;
    }
  }

  @include mixins.is('position-left') {
    @include mixins.b('form-item') {
      display: flex;
      flex-direction: row;

      @include mixins.e('label') {
        margin-right: mixins.css-variable('form-margin-right--form-item--label--position-left');
      }
    }
  }

  @include mixins.is('justify-left') {
    @include mixins.b('form-item') {
      @include mixins.e('label') {
        justify-content: flex-start;
      }
    }
  }

  @include mixins.is('justify-right') {
    @include mixins.b('form-item') {
      @include mixins.e('label') {
        justify-content: flex-end;
      }
    }
  }

  @include mixins.is('vertical-top') {
    @include mixins.b('form-item') {
      @include mixins.e('label') {
        align-items: flex-start;
      }
    }
  }

  @include mixins.is('vertical-middle') {
    @include mixins.b('form-item') {
      @include mixins.e('label') {
        align-items: center;
        height: calc(100% - #{mixins.css-variable('form-margin-top--form-item--label--vertical-middle')});
        margin-bottom: mixins.css-variable('form-margin-bottom--form-item--label--vertical-middle');
      }
    }

    @include mixins.is('position-left') {
      @include mixins.b('form-item') {
        @include mixins.e('label') {
          align-self: center;
          margin-top: mixins.css-variable('form-margin-top--form-item--label--vertical-middle');
        }
      }
    }
  }

  @include mixins.m('inline') {
    display: flex;
    flex-wrap: wrap;

    @include mixins.b('form-item') {
      flex-direction: row;
      margin-right: mixins.css-variable('form-margin-right--form-item--label--inline');

      @include mixins.e('label') {
        align-items: center;
        margin-right: mixins.css-variable('form-margin-right--form-item--label--inline');
      }
    }
  }

  @include mixins.b('form-item') {
    @include mixins.is('vertical-top') {
      @include mixins.e('label') {
        align-items: flex-start;
        margin-top: mixins.css-variable('form-margin-top--form-item--label--vertical-top');
      }
    }

    @include mixins.is('vertical-middle') {
      @include mixins.e('label') {
        align-items: center;
      }
    }

    @include mixins.is('justify-left') {
      @include mixins.e('label') {
        justify-content: flex-start;
      }
    }

    @include mixins.is('justify-right') {
      @include mixins.e('label') {
        justify-content: flex-end;
      }
    }
  }

  @include mixins.has('helper') {
    @include mixins.be('form-item', 'content', false) {
      padding-right: calc(16px + #{mixins.css-variable('form-margin-bottom--form-item--helper-icon')} * 2);
    }
  }

  @include mixins.m('large') {
    @include mixins.be('form-item', 'label', false) {
      font-size: mixins.css-variable('form-font-size--form-item--label--large');
    }
  }

  @include mixins.m('medium') {
    @include mixins.be('form-item', 'label', false) {
      font-size: mixins.css-variable('form-font-size--form-item--label--medium');
    }
  }

  @include mixins.m('small') {
    @include mixins.be('form-item', 'label', false) {
      font-size: mixins.css-variable('form-font-size--form-item--label--small');
    }
  }
}

@include mixins.b('form-item') {
  @include mixins.e('label') {
    display: inline-flex;
    margin-bottom: mixins.css-variable('form-margin-bottom--form-item--label');
    color: mixins.css-variable('form-color--form-item--label');
    line-height: mixins.css-variable('form-line-height--form-item--label');
  }

  @include mixins.e('label-append') {
    flex: 1;
    text-align: right;
  }

  @include mixins.e('text') {
    position: relative;

    @include mixins.is('required') {
      @include mixins.is('required-mark-left') {
        &::before {
          margin-right: mixins.css-variable('form-margin-right--form-item--text--required-mark-left');
          color: mixins.css-variable('form-color--form-item--text--required-mark');
          content: '*';
        }
      }

      @include mixins.is('required-mark-right') {
        &::after {
          margin-left: mixins.css-variable('form-margin-right--form-item--text--required-mark-right');
          color: mixins.css-variable('form-color--form-item--text--required-mark');
          content: '*';
        }
      }
    }
  }

  @include mixins.e('wrap') {
    flex: 1;
    min-width: 0;

    @include mixins.e('content') {
      position: relative;
    }
  }

  @include mixins.e('helper') {
    @include mixins.m('reference') {
      &-right {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 100%;
      }

      &-after-label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5em;
        margin-left: mixins.css-variable('form-margin-x--helper-label');
      }

      &-before-label {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.5em;
        margin-right: mixins.css-variable('form-margin-x--helper-label');
      }
    }

    @include mixins.m('title') {
      font-weight: mixins.css-variable('form-font-weight--form-item--label--content--popover-title');
      font-size: mixins.css-variable('form-font-size--form-item--label--content--popover-title');
      line-height: mixins.css-variable('form-line-height--form-item--label--content--popover-title');
    }

    @include mixins.m('content') {
      font-size: mixins.css-variable('form-font-size--form-item--label--content--popover-contnet');
      line-height: mixins.css-variable('form-line-height--form-item--label--content--popover-content');
    }
  }

  @include mixins.e('ext') {
    min-height: mixins.css-variable('form-min-height--ext-info');
    margin: mixins.css-variable('form-margin--form-item--ext');
    font-size: mixins.css-variable('form-font-size--form-item--ext');

    @include mixins.e('tip') {
      color: mixins.css-variable('form-color--form-item--ext');
    }

    @include mixins.e('error') {
      color: mixins.css-variable('form-color--form-item--error');
    }
  }
}
