@use 'sass:list';
@use 'sass:map';
@use '../mixins';

// 主题色
.primary {
  color: mixins.css-variable('text-brand-default') !important;
}

.bg-primary {
  background-color: mixins.css-variable('bg-brand-default') !important;
}

.info {
  color: mixins.css-variable('text-info-default') !important;
}

.bg-info {
  background-color: mixins.css-variable('bg-info-default') !important;
}

.success {
  color: mixins.css-variable('text-success-default') !important;
}

.bg-success {
  background-color: mixins.css-variable('bg-success-default') !important;
}

.warning {
  color: mixins.css-variable('text-warning-default') !important;
}

.bg-warning {
  background-color: mixins.css-variable('bg-warning-default') !important;
}

.error {
  color: mixins.css-variable('text-error-default') !important;
}

.bg-error {
  background-color: mixins.css-variable('bg-error-default') !important;
}

// 全部颜色
$colors: (
  brand: (
    mixins.css-variable('color-2-1'),
    mixins.css-variable('color-2-2'),
    mixins.css-variable('color-2-3'),
    mixins.css-variable('color-2-4'),
    mixins.css-variable('color-2-5'),
    mixins.css-variable('color-2-6'),
    mixins.css-variable('color-2-7'),
    mixins.css-variable('color-2-8'),
    mixins.css-variable('color-2-9'),
    mixins.css-variable('color-2-10'),
  ),
  blue: (
    mixins.css-variable('color-12-1'),
    mixins.css-variable('color-12-2'),
    mixins.css-variable('color-12-3'),
    mixins.css-variable('color-12-4'),
    mixins.css-variable('color-12-5'),
    mixins.css-variable('color-12-6'),
    mixins.css-variable('color-12-7'),
    mixins.css-variable('color-12-8'),
    mixins.css-variable('color-12-9'),
    mixins.css-variable('color-12-10'),
  ),
  green: (
    mixins.css-variable('color-10-1'),
    mixins.css-variable('color-10-2'),
    mixins.css-variable('color-10-3'),
    mixins.css-variable('color-10-4'),
    mixins.css-variable('color-10-5'),
    mixins.css-variable('color-10-6'),
    mixins.css-variable('color-10-7'),
    mixins.css-variable('color-10-8'),
    mixins.css-variable('color-10-9'),
    mixins.css-variable('color-10-10'),
  ),
  yellow: (
    mixins.css-variable('color-4-1'),
    mixins.css-variable('color-4-2'),
    mixins.css-variable('color-4-3'),
    mixins.css-variable('color-4-4'),
    mixins.css-variable('color-4-5'),
    mixins.css-variable('color-4-6'),
    mixins.css-variable('color-4-7'),
    mixins.css-variable('color-4-8'),
    mixins.css-variable('color-4-9'),
    mixins.css-variable('color-4-10'),
  ),
  red: (
    mixins.css-variable('color-6-1'),
    mixins.css-variable('color-6-2'),
    mixins.css-variable('color-6-3'),
    mixins.css-variable('color-6-4'),
    mixins.css-variable('color-6-5'),
    mixins.css-variable('color-6-6'),
    mixins.css-variable('color-6-7'),
    mixins.css-variable('color-6-8'),
    mixins.css-variable('color-6-9'),
    mixins.css-variable('color-6-10'),
  ),
  lake-blue: (
    mixins.css-variable('color-11-1'),
    mixins.css-variable('color-11-2'),
    mixins.css-variable('color-11-3'),
    mixins.css-variable('color-11-4'),
    mixins.css-variable('color-11-5'),
    mixins.css-variable('color-11-6'),
    mixins.css-variable('color-11-7'),
    mixins.css-variable('color-11-8'),
    mixins.css-variable('color-11-9'),
    mixins.css-variable('color-11-10'),
  ),
  yellowgreen: (
    mixins.css-variable('color-9-1'),
    mixins.css-variable('color-9-2'),
    mixins.css-variable('color-9-3'),
    mixins.css-variable('color-9-4'),
    mixins.css-variable('color-9-5'),
    mixins.css-variable('color-9-6'),
    mixins.css-variable('color-9-7'),
    mixins.css-variable('color-9-8'),
    mixins.css-variable('color-9-9'),
    mixins.css-variable('color-9-10'),
  ),
  orange: (
    mixins.css-variable('color-5-1'),
    mixins.css-variable('color-5-2'),
    mixins.css-variable('color-5-3'),
    mixins.css-variable('color-5-4'),
    mixins.css-variable('color-5-5'),
    mixins.css-variable('color-5-6'),
    mixins.css-variable('color-5-7'),
    mixins.css-variable('color-5-8'),
    mixins.css-variable('color-5-9'),
    mixins.css-variable('color-5-10'),
  ),
  rose-red: (
    mixins.css-variable('color-7-1'),
    mixins.css-variable('color-7-2'),
    mixins.css-variable('color-7-3'),
    mixins.css-variable('color-7-4'),
    mixins.css-variable('color-7-5'),
    mixins.css-variable('color-7-6'),
    mixins.css-variable('color-7-7'),
    mixins.css-variable('color-7-8'),
    mixins.css-variable('color-7-9'),
    mixins.css-variable('color-7-10'),
  ),
  purple: (
    mixins.css-variable('color-8-1'),
    mixins.css-variable('color-8-2'),
    mixins.css-variable('color-8-3'),
    mixins.css-variable('color-8-4'),
    mixins.css-variable('color-8-5'),
    mixins.css-variable('color-8-6'),
    mixins.css-variable('color-8-7'),
    mixins.css-variable('color-8-8'),
    mixins.css-variable('color-8-9'),
    mixins.css-variable('color-8-10'),
  ),
  indigo: (
    mixins.css-variable('color-13-1'),
    mixins.css-variable('color-13-2'),
    mixins.css-variable('color-13-3'),
    mixins.css-variable('color-13-4'),
    mixins.css-variable('color-13-5'),
    mixins.css-variable('color-13-6'),
    mixins.css-variable('color-13-7'),
    mixins.css-variable('color-13-8'),
    mixins.css-variable('color-13-9'),
    mixins.css-variable('color-13-10'),
  ),
  gray: (
    mixins.css-variable('color-1-1'),
    mixins.css-variable('color-1-2'),
    mixins.css-variable('color-1-3'),
    mixins.css-variable('color-1-4'),
    mixins.css-variable('color-1-5'),
    mixins.css-variable('color-1-6'),
    mixins.css-variable('color-1-7'),
    mixins.css-variable('color-1-8'),
    mixins.css-variable('color-1-9'),
    mixins.css-variable('color-1-10'),
  ),
);

@each $name, $values in $colors {
  @for $i from 1 through 10 {
    .#{"" + $name}-#{$i} {
      color: rgb(list.nth($values, $i)) !important;
    }
    .bg-#{"" + $name}-#{$i} {
      background-color: rgb(list.nth($values, $i)) !important;
    }
  }
}

.white {
  color: rgb(mixins.css-variable('color-1-1')) !important;
}

.bg-white {
  background-color: rgb(mixins.css-variable('color-1-1')) !important;
}

.black {
  color: rgb(mixins.css-variable('color-1-10')) !important;
}

.bg-black {
  background-color: rgb(mixins.css-variable('color-1-10')) !important;
}

.transparent {
  color: transparent !important;
}

.bg-transparent {
  background-color: transparent !important;
}
