.flex {
  &-row {
    flex-direction: row !important;
  }

  &-row-reverse {
    flex-direction: row-reverse !important;
  }

  &-column {
    flex-direction: column !important;
  }

  &-column-reverse {
    flex-direction: column-reverse !important;
  }

  &-nowrap {
    flex-wrap: nowrap !important;
  }

  &-wrap {
    flex-wrap: wrap !important;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }

  &-grow-0 {
    flex-grow: 0 !important;
  }

  &-grow-1 {
    flex-grow: 1 !important;
  }

  &-shrink-0 {
    flex-shrink: 0 !important;
  }

  &-shrink-1 {
    flex-shrink: 1 !important;
  }

  &-1 {
    flex: 1 1 0 !important;
  }

  &-none {
    flex: 0 0 auto !important;
  }
}

.justify {
  &-start {
    justify-content: flex-start !important;
  }

  &-end {
    justify-content: flex-end !important;
  }

  &-center {
    justify-content: center !important;
  }

  &-space-between {
    justify-content: space-between !important;
  }

  &-space-around {
    justify-content: space-around !important;
  }

  &-space-evenly {
    justify-content: space-evenly !important;
  }
}

.align {
  &-start {
    align-items: flex-start !important;
  }

  &-end {
    align-items: flex-end !important;
  }

  &-center {
    align-items: center !important;
  }

  &-baseline {
    align-items: baseline !important;
  }

  &-stretch {
    align-items: stretch !important;
  }
}

@for $i from 1 through 10 {
  .order-#{$i} {
    order: $i !important;
  }
}
