@use '../mixins';

@font-face {
  font-weight: normal;
  font-family: 'Blue Sky Standard-Regular';
  font-style: normal;
  src: url('https://cdn-app.nio.com/fonts/BlueSkyStandardRegular.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: 'Blue Sky Standard-Regular';
  font-style: italic;
  src: url('https://cdn-app.nio.com/fonts/BlueSkyStandardRegularItalic.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: 'Blue Sky Standard-Regular';
  font-style: normal;
  src: url('https://cdn-app.nio.com/fonts/BlueSkyStandardBold.ttf') format('truetype');
}

@font-face {
  font-weight: bold;
  font-family: 'Blue Sky Standard-Regular';
  font-style: italic;
  src: url('https://cdn-app.nio.com/fonts/BlueSkyStandardBoldItalic.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: 'Blue Sky Standard-Regular';
  font-style: normal;
  src: url('https://cdn-app.nio.com/fonts/BlueSkyStandardLight.ttf') format('truetype');
}

@font-face {
  font-weight: 200;
  font-family: 'Blue Sky Standard-Regular';
  font-style: italic;
  src: url('https://cdn-app.nio.com/fonts/BlueSkyStandardLightItalic.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: 'Blue Sky Noto';
  font-style: normal;
  src: local('Blue Sky Noto Regular');
}

@font-face {
  font-weight: 700;
  font-family: 'Blue Sky Noto';
  font-style: normal;
  src: local('Blue Sky Noto Bold');
}

@font-face {
  font-weight: 200;
  font-family: 'Blue Sky Noto';
  font-style: normal;
  src: local('Blue Sky Noto Light');
}

body {
  color: mixins.css-variable('text-primary');
  font-size: mixins.css-variable('text-base');
  font-family: mixins.css-variable('font-family');
  line-height: mixins.css-variable('line-height-standard');
}
