@use '../mixins/function.scss';

.shadow-sm {
  box-shadow: #{function.shadow(0, 2, 8, 0, rgb(0 0 0 / 6%))} !important;
}

.shadow {
  box-shadow: #{function.shadow(0, 4, 16, 0, rgb(0 0 0 / 6%))} !important;
}

.shadow-lg {
  box-shadow: #{function.shadow(0, 8, 32, 0, rgb(0 0 0 / 6%))} !important;
}
