@use '../../../../styles/mixins';

@include mixins.b('result') {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: mixins.css-variable('result-margin');

  @include mixins.e('icon') {
    margin-bottom: mixins.css-variable('result-margin-bottom--icon');
  }

  @include mixins.e('title') {
    display: -webkit-box;
    margin-bottom: mixins.css-variable('result-margin-bottom--title');
    overflow: hidden;
    color: mixins.css-variable('result-color--title');
    font-size: mixins.css-variable('result-font-size--title');
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  @include mixins.e('subtitle') {
    display: -webkit-box;
    margin-bottom: mixins.css-variable('result-margin-bottom--subtitle');
    overflow: hidden;
    color: mixins.css-variable('result-color--subtitle');
    font-size: mixins.css-variable('result-font-size--subtitle');
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  @include mixins.e('extra') {
    @include mixins.siblings-block('button') {
      margin-left: mixins.css-variable('result-margin-left--siblings-button');
    }
  }
}
