packages/**/dist/**/*
packages/**/lib/**/*
packages/**/es/**/*
*.md
*.d.ts
*.cjs.js
*.es.js
node_modules
coverage
packages/docs/**/*.ts
packages/doc/docs/**/*.ts
packages/doc/docs/**/*.scss
packages/docs
