# common
node_modules
.idea
.DS_Store
deprecated
lib
es
dist
umd
.gitconfig
types

# icon
packages/icon/src/components/icons/*

# utils
packages/utils/plugins/*.js
packages/utils/plugins/*.js.map

# horizon-web
packages/horizon-web/src/styles/colors.ts
packages/horizon-web/src/styles/theme-config.ts
packages/horizon-web/src/styles/theme-types.ts
packages/horizon-web/src/styles/basicTokens.ts
packages/horizon-web/src/styles/elementTokens.ts
packages/horizon-web/json/
packages/horizon-web/coverage/
packages/horizon-web/src/components/emits.ts
packages/horizon-web/src/components/slots.ts
packages/horizon-web/src/components/exposes.ts
packages/horizon-web/src/components/globalComponents.ts
packages/horizon-web/src/components/globalTypes.ts
packages/horizon-web/src/components/index.ts
packages/horizon-web/src/components/props.ts
packages/horizon-web/src/directives/index.ts
packages/horizon-web/src/methods/index.ts
packages/horizon-web/build/**/*.js
*.temp.*

# docs
packages/docs/.vitepress/dist
packages/docs/.vitepress/cache
.vscode
