@use '../../../../styles/mixins/function';

$values: (
  font-size: (
    content: #{function.css-variable('text-base')},
    name: #{function.css-variable('text-sm')},
    meta: #{function.css-variable('text-sm')},
  ),
  font-weight: (
    name: #{function.css-variable('weight-strong')},
  ),
  line-height: (
    content: #{function.css-variable('line-height-standard')},
  ),
  color: (
    content: (
      '': #{function.css-variable('text-primary')},
      primary: #{function.css-variable('text-inverse')},
    ),
    name: #{function.css-variable('text-primary')},
    meta: #{function.css-variable('text-tertiary')},
  ),
  border-radius: (
    content: #{function.css-variable('radius-xl')},
  ),
  background: (
    content: (
      '': #{function.css-variable('bg-secondary')},
      primary: #{function.css-variable('bg-brand-default')},
    ),
  ),
  spacing: (
    gap: #{function.css-variable('spacing-3')},
    header: (
      gap: #{function.css-variable('spacing-2')},
    ),
    footer: (
      gap: #{function.css-variable('spacing-2')},
    ),
    content: (
      padding-block: #{function.css-variable('spacing-3')},
      padding-inline: #{function.css-variable('spacing-4')},
    ),
    list-item: (
      gap: #{function.css-variable('spacing-4')},
    ),
  ),
);
