@use '../../../../styles/mixins';

@include mixins.b('dropdown') {
  @include mixins.e('inner') {
    @include mixins.m('small') {
      @include mixins.nested('dropdown-item') {
        &__inner {
          min-height: mixins.css-variable('dropdown', 'height--item--small');
          padding: mixins.css-variable('dropdown', 'padding--item--small');
        }

        &:first-child {
          margin-top: mixins.css-variable('dropdown-margin-top-bottom--first-last-child--small');
        }

        &:last-child {
          margin-bottom: mixins.css-variable('dropdown-margin-top-bottom--first-last-child--small');
        }
      }

      @include mixins.nested('dropdown-submenu') {
        &__item--inner {
          min-height: mixins.css-variable('dropdown', 'height--item--small');
          padding: mixins.css-variable('dropdown', 'padding--item--small');
        }

        &:first-child {
          margin-top: mixins.css-variable('dropdown-margin-top-bottom--first-last-child--small');
        }

        &:last-child {
          margin-bottom: mixins.css-variable('dropdown-margin-top-bottom--first-last-child--small');
        }
      }
    }
  }
}