@use '../../../../styles/mixins';
@use 'item';

@include mixins.b('list') {
  overflow: auto;

  @include mixins.e('header') {
    border-bottom: mixins.css-variable('list', 'border');
  }

  @include mixins.is('footer') {
    border-top: mixins.css-variable('list', 'border');
  }

  @include mixins.is('border') {
    border: mixins.css-variable('list', 'border');
  }

  @include mixins.m('medium') {
    #{mixins.block-name('list-item')} {
      padding: mixins.css-variable('list', 'spacing', 'list-item', 'padding');
    }
  }

  @include mixins.m('small') {
    #{mixins.block-name('list-item')} {
      padding: mixins.css-variable('list', 'spacing', 'list-item', 'padding', 'small');
    }
  }
}

@include mixins.b('list') {
  @include mixins.is('split') {
    @include mixins.b('list-item', false) {
      border-bottom: mixins.css-variable('list', 'border');

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

@include mixins.b('list') {
  @include mixins.is('zebra') {
    @include mixins.b('list-item') {
      &:nth-child(odd) {
        background: mixins.css-variable('list', 'background');
      }

      &:nth-child(even) {
        background: mixins.css-variable('list', 'background', 'even');
      }
    }
  }
}
