@use '../../../../styles/mixins';

@include mixins.b('form') {
  margin-bottom: mixins.css-variable('form', 'spacing', 'form-item', 'margin-bottom');
}

@include mixins.b('form-item') {
  @include mixins.is('spacing-default') {
    @include mixins.is('error') {
      #{mixins.e('form-item', 'tip')} {
        display: none;
      }
    }
  }

  @include mixins.is('spacing-static') {
    @include mixins.is('error') {
      #{mixins.e('form-item', 'tip')} {
        display: none;
      }
    }

    #{mixins.e('form-item', 'ext')} {
      height: mixins.css-variable('form', 'size', 'ext-info', 'min-height');
      min-height: initial;
    }
  }

  @include mixins.is('spacing-compact') {
    margin-bottom: mixins.css-variable(
      'form',
      'spacing',
      'form-item',
      'label',
      'compact',
      'margin-bottom'
    );
    #{mixins.css-variable-name('form', 'spacing', 'form-item', 'label', 'vertical-middle', 'margin-top')}: 0;

    #{mixins.e('form-item', 'ext')} {
      display: none;
    }
  }

  @include mixins.is('spacing-dynamic') {
    margin-bottom: mixins.css-variable(
      'form',
      'spacing',
      'form-item',
      'label',
      'dynamic',
      'margin-bottom'
    );
  }
}
