@use '../../../../styles/mixins/function';

$values: (
  size: (
    cell: (
      small: 32px,
      medium: 40px,
      large: 48px,
    ),
  ),
  font-size: (
    small: #{function.css-variable('text-base')},
    medium: #{function.css-variable('text-lg')},
    large: 20px,
  ),
  color: (
    '': #{function.css-variable('text-primary')},
    disabled: #{function.css-variable('text-secondary')},
  ),
  border-color: (
    '': #{function.css-variable('border-default')},
    hover: #{function.css-variable('border-brand-hover')},
    focus: #{function.css-variable('border-brand-default')},
    disabled: #{function.css-variable('border-disabled')},
    error: #{function.css-variable('border-error-default')},
  ),
  border-radius: #{function.css-variable('radius-m')},
  background: (
    '': #{function.css-variable('bg-default')},
    disabled: #{function.css-variable('bg-disabled')},
  ),
  spacing: (
    gap: #{function.css-variable('spacing-3')},
  ),
  transition: (
    duration: #{function.css-variable('transition-time')},
  ),
);
