:root {
  // size
  --n-tabs-height--underline--line: 1px;

  // -- card
  --n-tabs-width--add--card: 48px;
  --n-tabs-min-width--tab--page--activated: 40px;

  // font-size
  --n-tabs-font-size--tab--page: var(--n-text-base);

  // -- line
  --n-tabs-font-size--tab--line--mini: var(--n-text-sm);
  --n-tabs-font-size--tab--line--small: var(--n-text-base);
  --n-tabs-font-size--tab--line--medium: var(--n-text-lg);
  --n-tabs-font-size--tab--line--large: var(--n-text-xl);

  // -- card
  --n-tabs-font-size--tab--card--mini: var(--n-text-sm);
  --n-tabs-font-size--tab--card--small: var(--n-text-base);
  --n-tabs-font-size--tab--card--medium: var(--n-text-base);
  --n-tabs-font-size--tab--card--large: var(--n-text-lg);

  // -- segment
  --n-tabs-font-size--tab--segment--mini: var(--n-text-sm);
  --n-tabs-font-size--tab--segment--small: var(--n-text-base);
  --n-tabs-font-size--tab--segment--medium: var(--n-text-base);
  --n-tabs-font-size--tab--segment--large: var(--n-text-lg);

  // line-height
  // -- page
  --n-tabs-line-height--tab--page: 22px;

  // -- line
  --n-tabs-line-height--tab--line--mini: 18px;
  --n-tabs-line-height--tab--line--small: 22px;
  --n-tabs-line-height--tab--line--medium: 24px;
  --n-tabs-line-height--tab--line--large: 30px;

  // -- card
  --n-tabs-line-height--tab--card--mini: 18px;
  --n-tabs-line-height--tab--card--small: 22px;
  --n-tabs-line-height--tab--card--medium: 22px;
  --n-tabs-line-height--tab--card--large: 24px;

  // -- segment
  --n-tabs-line-height--tab--segment--mini: 18px;
  --n-tabs-line-height--tab--segment--small: 22px;
  --n-tabs-line-height--tab--segment--medium: 22px;
  --n-tabs-line-height--tab--segment--large: 24px;

  // color
  --n-tabs-color--tab: var(--n-text-secondary);
  --n-tabs-color--tab--hover: var(--n-text-brand-hover);
  --n-tabs-color--tab--press: var(--n-text-brand-press);

  // icon color
  --n-tabs-color--icon: #868a9a;
  --n-tabs-color--icon--hover: #040b29;

  // -- line
  --n-tabs-color--tab--line--activated: var(--n-text-brand-default);
  --n-tabs-color--tab--line--activated--hover: var(--n-text-brand-default);

  // -- card
  --n-tabs-color--tab--card--activated: var(--n-text-brand-default);
  --n-tabs-color--add--card: var(--n-tabs-color--tab--card);
  --n-tabs-color--add--card--hover: var(--n-tabs-color--tab--card--hover);

  // -- segment
  --n-tabs-color--tab--segment--activated: var(--n-text-brand-default);

  // -- page
  --n-tabs-color--tab--page--activated: var(--n-text-brand-default);
  --n-tabs-color--add--page--hover: var(--n-text-brand-hover);

  // border-color
  --n-tabs-border-color--header--line--underline: var(--n-divider-default);
  --n-tabs-border-color--indicator--line: var(--n-border-brand-default);
  --n-tabs-border-color--header--card: var(--n-divider-default);
  --n-tabs-border-color--tab--card: var(--n-tabs-border-color--header--card);
  --n-tabs-border-color--add--card: var(--n-tabs-border-color--header--card);

  // border
  --n-tabs-border--tab--card: 1px solid var(--n-tabs-border-color--tab--card);
  --n-tabs-border--add--card: 1px solid var(--n-tabs-border-color--add--card);

  // border-radius
  --n-tabs-border-radius--indicator--line: var(--n-radius-m) var(--n-radius-m) 0 0;
  --n-tabs-border-radius--tab--card: var(--n-radius-m) var(--n-radius-m) 0 0;
  --n-tabs-border-radius--segment: var(--n-radius-m);
  --n-tabs-border-radius--indicator--segment: var(--n-radius-s);

  // -- page
  --n-tabs-border-radius--tab--page: var(--n-radius-l) var(--n-radius-l) 0 0;

  // background
  --n-tabs-bg--tab--card: var(--n-bg-secondary);
  --n-tabs-bg--tab--card--activated: var(--n-bg-default);
  --n-tabs-bg--add--card: var(--n-tabs-bg--tab--card);
  --n-tabs-bg--segment: var(--n-bg-secondary);

  // -- page
  --n-tabs-bg--page: var(--n-bg-secondary);
  --n-tabs-bg--tab--page: var(--n-bg-transparent);
  --n-tabs-bg--tab--page--hover: var(--n-bg-hover);
  --n-tabs-bg--tab--page--activated: var(--n-bg-default);
  --n-tabs-bg--tab--page--activated--hover: var(--n-tabs-bg--tab--page--activated);
  --n-tabs-bg--indicator--segment: var(--n-bg-default);

  // box-shadow
  --n-tabs-box-shadow--indicator--segment: 0 5px 12px 4px rgba(0, 0, 0, 4%),
    0 3px 6px 0 rgba(0, 0, 0, 6%), 0 1px 2px -2px rgba(0, 0, 0, 10%);

  // margin
  --n-tabs-space-right--tab--card: var(--n-spacing-3);
  --n-tabs-margin-left--tab--segment: var(--n-spacing-2);
  --n-tabs-margin-left--close--page: 6px;

  // -- line
  --n-tabs-space--tab--line--mini: 20px;
  --n-tabs-space--tab--line--small: 20px;
  --n-tabs-space--tab--line--medium: 20px;
  --n-tabs-space--tab--line--large: 32px;

  // padding
  --n-tabs-padding--arrow-wrap: 0 20px;
  --n-tabs-padding-bottom--nav-list--line: var(--n-spacing-3);
  --n-tabs-padding--nav-wrap--card: var(--n-spacing-7);
  --n-tabs-padding--tab--line: 0 var(--n-spacing-2);

  // -- page
  --n-tabs-padding--page: 10px var(--n-spacing-5) 0 var(--n-spacing-5);
  --n-tabs-padding--nav-list--page: 0 0 0 var(--n-spacing-4);

  // -- segment
  --n-tabs-padding--nav--segment--mini: 2px;
  --n-tabs-padding--nav--segment--small: 4px;
  --n-tabs-padding--nav--segment--medium: 4px;
  --n-tabs-padding--nav--segment--large: 4px;

  // -- card
  --n-tabs-padding--tab--card--mini: 2px var(--n-spacing-3);
  --n-tabs-padding--tab--card--small: 4px var(--n-spacing-4);
  --n-tabs-padding--tab--card--medium: 8px var(--n-spacing-5);
  --n-tabs-padding--tab--card--large: 11px var(--n-spacing-6);

  // -- segment
  --n-tabs-padding--tab--segment--mini: 1px 8px;
  --n-tabs-padding--tab--segment--small: 1px 12px;
  --n-tabs-padding--tab--segment--medium: 5px 16px;
  --n-tabs-padding--tab--segment--large: 8px 20px;

  // transition
  --n-tabs-transition-time: var(--n-transition-time);
  --n-tabs-transition-fn: cubic-bezier(0.205, 0, 0.25, 1.01);
}