@use '../../../../styles/mixins';

@include mixins.b('upload-v2--background') {
  position: fixed;
  right: mixins.css-variable('upload-v2', 'spacing', 'background', 'position');
  bottom: mixins.css-variable('upload-v2', 'spacing', 'background', 'position');
  display: flex;
  flex-direction: column;
  width: mixins.css-variable('upload-v2', 'size', 'background', 'width');
  background: mixins.css-variable('upload-v2', 'background', 'background');
  border: mixins.css-variable('upload-v2', 'border', 'background');
  border-radius: mixins.css-variable('upload-v2', 'border-radius', 'background');
  box-shadow: mixins.css-variable('upload-v2', 'box-shadow', 'background');

  @include mixins.e('header') {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: mixins.css-variable('upload-v2', 'size', 'background', 'header', 'height');
    padding: mixins.css-variable('upload-v2', 'spacing', 'background', 'header', 'padding');
    border-bottom: mixins.css-variable('upload-v2', 'border', 'background');
    border-radius: mixins.css-variable('upload-v2', 'border-radius', 'background');

    @include mixins.m('left', 'right') {
      display: flex;
      align-items: center;
    }

    @include mixins.m('left') {
      justify-content: flex-start;
    }

    @include mixins.m('right') {
      justify-content: flex-end;
    }

    @include mixins.m('icon') {
      width: mixins.css-variable('upload-v2', 'size', 'background', 'icon', 'status');
      height: mixins.css-variable('upload-v2', 'size', 'background', 'icon', 'status');
      margin-right: mixins.css-variable('upload-v2', 'spacing', 'background', 'status-icon', 'margin-right');
    }

    @include mixins.m('status') {
      color: mixins.css-variable('upload-v2', 'color', 'background', 'status-text');
      font-weight: bold;
      font-size: mixins.css-variable('upload-v2', 'font-size', 'background', 'status-text');
    }

    @include mixins.m('control') {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    @include mixins.siblings-modifier('control') {
      margin-left: mixins.css-variable('upload-v2', 'spacing', 'background', 'status-icon', 'margin-right');
    }
  }

  @include mixins.is('collapsed') {
    @include mixins.em('header', 'collapse-button', false) {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  @include mixins.e('body') {
    #{mixins.css-variable-name('upload-v2', 'size', 'file-list', 'max-width')}: 100%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-height: mixins.css-variable('upload-v2', 'size', 'background', 'body', 'max-height');

    @include mixins.m('upload-status') {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-between;
      height: mixins.css-variable('upload-v2', 'size', 'background', 'status', 'height');
      padding: mixins.css-variable('upload-v2', 'spacing', 'background', 'upload-status', 'padding');
      background: mixins.css-variable('upload-v2', 'background', 'background', 'upload-status');
    }

    @include mixins.m('inner') {
      flex: 1;
      min-height: 0;
      padding: mixins.css-variable('upload-v2', 'spacing', 'background', 'body', 'padding');
    }

    @include mixins.bm('upload-v2', 'file-item', false) {
      border: none;
    }
  }
}
