@use '../../../../styles/mixins';

@include mixins.b('upload-v2--file-list') {
  max-width: mixins.css-variable('upload-v2', 'size', 'file-list', 'max-width');
}

@include mixins.siblings-block('upload-v2--file-item') {
  margin-top: mixins.css-variable('upload-v2', 'spacing', 'file-list', 'item', 'siblings', 'margin-top');
}

@include mixins.siblings-block('upload-v2__trigger', 'upload-v2--file-list') {
  margin-top: mixins.css-variable('upload-v2', 'spacing', 'file-list', 'margin-top');
}

@include mixins.siblings-block('upload-v2--drop-area', 'upload-v2--file-list') {
  margin-top: mixins.css-variable('upload-v2', 'spacing', 'file-list', 'margin-top');
}
