@use '../../../../styles/mixins';

@include mixins.b('row') {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

  @media screen and (max-width: 480px) {
    gap: mixins.css-variable('layout-margin-bottom--row--xsmall') 0;
    margin-right: calc(#{mixins.css-variable('layout-margin-bottom--row--xsmall')} / -2);
    margin-bottom: mixins.css-variable('layout-margin-bottom--row--xsmall');
    margin-left: calc(#{mixins.css-variable('layout-margin-bottom--row--xsmall')} / -2);
  }

  @media screen and (min-width: 480px) and (max-width: 1023px) {
    gap: mixins.css-variable('layout-margin-bottom--row--small') 0;
    margin-right: calc(#{mixins.css-variable('layout-margin-bottom--row--small')} / -2);
    margin-bottom: mixins.css-variable('layout-margin-bottom--row--small');
    margin-left: calc(#{mixins.css-variable('layout-margin-bottom--row--small')} / -2);
  }

  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    gap: mixins.css-variable('layout-margin-bottom--row--medium') 0;
    margin-right: calc(#{mixins.css-variable('layout-margin-bottom--row--medium')} / -2);
    margin-bottom: mixins.css-variable('layout-margin-bottom--row--medium');
    margin-left: calc(#{mixins.css-variable('layout-margin-bottom--row--medium')} / -2);
  }

  @media screen and (min-width: 1440px) and (max-width: 1919px) {
    gap: mixins.css-variable('layout-margin-bottom--row--large') 0;
    margin-right: calc(#{mixins.css-variable('layout-margin-bottom--row--large')} / -2);
    margin-bottom: mixins.css-variable('layout-margin-bottom--row--large');
    margin-left: calc(#{mixins.css-variable('layout-margin-bottom--row--large')} / -2);
  }

  @media screen and (min-width: 1920px) and (max-width: 2879px) {
    gap: mixins.css-variable('layout-margin-bottom--row--xlarge') 0;
    margin-right: calc(#{mixins.css-variable('layout-margin-bottom--row--xlarge')} / -2);
    margin-bottom: mixins.css-variable('layout-margin-bottom--row--xlarge');
    margin-left: calc(#{mixins.css-variable('layout-margin-bottom--row--xlarge')} / -2);
  }

  @media screen and (min-width: 2880px) and (max-width: 3839px) {
    gap: mixins.css-variable('layout-margin-bottom--row--xxlarge') 0;
    margin-right: calc(#{mixins.css-variable('layout-margin-bottom--row--xxlarge')} / -2);
    margin-bottom: mixins.css-variable('layout-margin-bottom--row--xxlarge');
    margin-left: calc(#{mixins.css-variable('layout-margin-bottom--row--xxlarge')} / -2);
  }

  @media screen and (min-width: 3840px) {
    gap: mixins.css-variable('layout-margin-bottom--row--xxlarge') 0;
    margin-right: calc(#{mixins.css-variable('layout-margin-bottom--row--xxlarge')} / -2);
    margin-bottom: mixins.css-variable('layout-margin-bottom--row--xxlarge');
    margin-left: calc(#{mixins.css-variable('layout-margin-bottom--row--xxlarge')} / -2);
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  @include mixins.is(justify-start) {
    justify-content: flex-start;
  }

  @include mixins.is(justify-center) {
    justify-content: center;
  }

  @include mixins.is(justify-end) {
    justify-content: flex-end;
  }

  @include mixins.is(justify-space-between) {
    justify-content: space-between;
  }

  @include mixins.is(justify-space-around) {
    justify-content: space-around;
  }

  @include mixins.is(justify-space-evenly) {
    justify-content: space-evenly;
  }

  @include mixins.is(align-top) {
    align-items: flex-start;
  }

  @include mixins.is(align-middle) {
    align-items: center;
  }

  @include mixins.is(align-bottom) {
    align-items: flex-end;
  }
}
