@use '../../../../styles/mixins';
@import './item';
@import './draggable';

@include mixins.b('tree') {
  position: relative;

  @include mixins.e('filter') {
    position: sticky;
    top: 0;
    margin-bottom: mixins.css-variable('tree-margin-bottom--filter');
  }

  @include mixins.e('empty') {
    display: flex;
    align-items: center;
    justify-content: center;
    height: mixins.css-variable('tree-height--empty');
    color: mixins.css-variable('tree-color--empty');
  }

  @include mixins.is('dragging') {
    user-select: none;
  }

  @include mixins.em('drag', 'top') {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: mixins.css-variable('tree-height--item');
    transform: translateY(-50%);
  }
}
