@use '../../../../styles/mixins';

@include mixins.b('steps') {
  @include mixins.is('label-align-center') {
    @include mixins.is('dot') {
      @include mixins.is-not('vertical') {
        @include mixins.be('step', 'wrapper', false) {
          position: relative;
          justify-content: center;
        }

        @include mixins.be('step', 'tail', false) {
          position: absolute;
          top: 0;
          left: calc(50% + #{mixins.css-variable('steps', 'size', 'icon', 'dot')} / 2);
          z-index: 0;
          width: calc(100% - #{mixins.css-variable('steps', 'size', 'icon', 'dot')});
        }

        @include mixins.be('step', 'content', false) {
          align-items: center;
        }
      }
    }

    @include mixins.is('label-placement-vertical') {
      @include mixins.is-not('dot') {
        @include mixins.is-not('vertical') {
          @include mixins.b('step', false) {
            @include mixins.e('wrapper') {
              align-items: center;
            }

            @include mixins.e('tail') {
              left: calc(50% + #{mixins.css-variable('steps', 'size', 'icon')} - 2px);
            }

            @include mixins.e('content') {
              align-items: center;
            }
          }
        }
      }
    }
  }
}
