@use '../../../../styles/mixins';

$values: (
  'height--option': 40px,
  'height--check-all': 40px,
  size: (
    panel-tags: (
      max-height: 104px,
    )
  ),
  'font-size--option-group--title': #{mixins.css-variable('text-sm')},
  'font-size--create-option': #{mixins.css-variable('text-base')},
  'font-size--description--bottom': #{mixins.css-variable('text-sm')},
  'font-size--option': #{mixins.css-variable('text-base')},
  font-weight: (
    active: mixins.css-variable('weight-strong'),
  ),
  'color--option': #{mixins.css-variable('text-primary')},
  'color--optipn--disabled': #{mixins.css-variable('text-disabled')},
  'color--option-group--title': #{mixins.css-variable('text-tertiary')},
  'color--option--description': #{mixins.css-variable('text-disabled')},
  'color--create-option--prefix': #{mixins.css-variable('text-tertiary')},
  'color--placeholder--no-border': #{mixins.css-variable('text-primary')},
  'color--placeholder--no-border--focus': #{mixins.css-variable('text-disabled')},
  'color--option--keyword': #{mixins.css-variable('text-brand-default')},
  'border-color--option-group--divider': #{mixins.css-variable('border-noninteractive')},
  'bg--option': #{mixins.css-variable('bg-default')},
  'bg--option--hover': #{mixins.css-variable('bg-secondary')},
  'padding--option': 9px #{mixins.css-variable('spacing-4')},
  'padding--option--right': #{mixins.css-variable('spacing-4')},
  'padding--option--right--has-icon': calc(#{mixins.css-variable('spacing-5')} + #{mixins.css-variable('spacing-4')}),
  'padding--option-group--title': #{mixins.css-variable('spacing-2')} #{mixins.css-variable('spacing-4')},
  'padding--check-all': 0 #{mixins.css-variable('spacing-4')},
  'margin--option-group--divider': #{mixins.css-variable('spacing-3')} #{mixins.css-variable('spacing-4')},
  'margin-bottom--option-group--title': #{mixins.css-variable('spacing-3')},
  'margin-right--create-option--prefix': #{mixins.css-variable('spacing-4')},
  margin: (
    statistic-text: (
      left: mixins.css-variable('spacing-3'),
    ),
    check-all-count: (
      left: mixins.css-variable('spacing-2'),
    ),
    panel-tags: (
      bottom: mixins.css-variable('spacing-3'),
    ),
  ),
  'margin-y--scrollbar': #{mixins.css-variable('spacing-3')},
  'margin-left--statistic-text': #{mixins.css-variable('spacing-3')},
  'margin-left--statistic-text--small': calc(#{mixins.css-variable('spacing-2')} + #{mixins.css-variable('spacing-1')}),
  'gap-column--tags-container': #{mixins.css-variable('spacing-2')},
  'gap-column--tags-container--small': #{mixins.css-variable('spacing-1')},
  'transition': #{mixins.css-variable('transition-all--fast')},
);
