@use '../../../../styles/mixins';

@include mixins.b('page-header') {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: mixins.css-variable('page-header', 'size', 'root', 'min-height');
  padding: mixins.css-variable('page-header', 'spacing', 'root', 'padding');

  @include mixins.e('breadcrumb') {
    margin-bottom: mixins.css-variable('page-header', 'spacing', 'wrapper', 'row-gap');
    padding: mixins.css-variable('page-header', 'spacing', 'items', 'padding');
  }

  @include mixins.e('main') {
    position: relative;
    display: flex;
    grid-column-gap: mixins.css-variable('page-header', 'spacing', 'content', 'column-gap');
    align-items: center;
    padding: mixins.css-variable('page-header', 'spacing', 'items', 'padding');
    padding-bottom: mixins.css-variable('page-header', 'spacing', 'main', 'padding-bottom');
  }

  @include mixins.e('default') {
    margin-top: mixins.css-variable('page-header', 'spacing', 'wrapper', 'row-gap');
    padding: mixins.css-variable('page-header', 'spacing', 'items', 'padding');
  }

  @include mixins.e('back') {
    flex-shrink: 0;
  }

  @include mixins.e('inner') {
    display: flex;
    flex: 1;
    flex-direction: column;
    grid-row-gap: mixins.css-variable('page-header', 'spacing', 'inner', 'row-gap');
    justify-content: center;
    min-width: 0;

    @include mixins.m('content') {
      display: flex;
      flex: 1;
      align-items: center;
      max-width: mixins.css-variable('page-header', 'size', 'content', 'max-width');
      min-height: mixins.css-variable('page-header', 'size', 'content', 'min-height');
      color: mixins.css-variable('page-header', 'color', 'content');
    }
  }

  @include mixins.e('header') {
    display: flex;
    align-items: center;

    @include mixins.m('title') {
      max-width: mixins.css-variable('page-header', 'size', 'title', 'max-width');
      overflow: hidden;
      color: mixins.css-variable('page-header', 'color');
      font-size: mixins.css-variable('page-header', 'font-size', 'title');
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  @include mixins.e('extra') {
    display: flex;
    justify-content: flex-end;
    margin-left: 8%;
  }

  @include mixins.has('divider') {
    @include mixins.be('page-header', 'main', false) {
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background: mixins.css-variable('page-header', 'background', 'divider');
        content: '';
      }
    }
  }
}
