@use '../../../../styles/mixins';

@include mixins.b('image') {
  position: relative;
  overflow: hidden;

  @include mixins.e('img') {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include mixins.e('placeholder') {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: mixins.css-variable('image-bg--placeholder');
  }

  @include mixins.e('actions-container') {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: mixins.css-variable('image-bg--actions-container');

    &.center {
      align-items: center;
      justify-content: center;
    }

    &.bottom-right {
      align-items: flex-end;
      justify-content: flex-end;
      padding-right: mixins.css-variable('image-padding-right--actions-container--bottom-right');
      padding-bottom: mixins.css-variable('image-padding-bottom--actions-container--bottom-right');
    }

    @include mixins.e('actions-icon') {
      line-height: mixins.css-variable('image-line-height--actions-container--icon');

      @include mixins.nested('icon') {
        margin-right: mixins.css-variable('image-margin-right--actions-container--icon');
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    @include mixins.e('actions-dropdown') {
      @include mixins.e('actions-dropdown-btn') {
        display: flex;
        align-items: center;
        justify-content: center;
        width: mixins.css-variable('image-size--actions-container--dropdown-btn');
        height: mixins.css-variable('image-size--actions-container--dropdown-btn');
        background: mixins.css-variable('image-bg--actions-container--dropdown-btn');
        border-radius: mixins.css-variable('image-border-radius--actions-container--dropdown-btn');

        &:hover {
          background: mixins.css-variable('image-bg--actions-container--dropdown-btn--hover');
        }
      }

      @include mixins.e('actions-dropdown-item') {
        color: mixins.css-variable('image-color--actions-container--dropdown-item');

        span {
          margin-left: mixins.css-variable('image-margin-left--actions-container--dropdown-item--span');
        }
      }
    }
  }

  @include mixins.e('content') {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include mixins.e('hover-content') {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
  }

  &:hover {
    @include mixins.be('image', 'actions-container', false) {
      display: flex;
    }

    @include mixins.be('image', 'hover-content', false) {
      display: block;
    }
  }
}

@include mixins.b('image-list') {
  @include mixins.e('items') {
    display: flex;

    @include mixins.e('item') {
      position: relative;

      @include mixins.e('overflow') {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: mixins.css-variable('image-color--image-list--item--overflow');
        font-size: 14px;
        background: mixins.css-variable('image-bg--image-list--item--overflow');
        pointer-events: none;
      }
    }
  }
}
