@use '../../../../styles/mixins';

@mixin set-tag-style-by-status($status) {
  color: mixins.css-variable('tag-color--plain--#{$status}');
  background: mixins.css-variable('tag-bg--plain');
  border-color: mixins.css-variable('tag-border-color--plain--#{$status}');

  @include mixins.e('icon', false) {
    color: mixins.css-variable('tag-color--plain--#{$status}');
  }

  @include mixins.is-not('colored') {
    @include mixins.e('close', false) {
      color: mixins.css-variable('tag-color--icon--close');

      &:hover {
        color: mixins.css-variable('tag-color--icon--close--#{$status}--hover');
      }

      &:active {
        color: mixins.css-variable('tag-color--icon--close--#{$status}--press');
      }
    }
  }

  @include mixins.e('close') {
    &:hover {
      color: mixins.css-variable('tag-color--icon--close--#{$status}--hover');
    }

    &:active {
      color: mixins.css-variable('tag-color--icon--close--#{$status}--press');
    }
  }

  &:focus-within {
    color: mixins.css-variable('tag-color--plain--#{$status}--hover');
    background: mixins.css-variable('tag-bg--plain');
    border-color: mixins.css-variable('tag-border-color--plain--#{$status}--hover');
  }

  @include mixins.is('disabled'){
    color: mixins.css-variable('tag-color--plain--#{$status}--disabled') !important;
    background: mixins.css-variable('tag-bg--plain') !important;
    border-color: mixins.css-variable('tag-border-color--plain--#{$status}--disabled') !important;

    @include mixins.e('icon', false) {
      color: mixins.css-variable('tag-color--plain--#{$status}--disabled') !important;
    }
  }

  @include mixins.is('active'){
    @include mixins.is-not('colorful') {
      color: mixins.css-variable('tag-color--plain--#{$status}--activated');
      background: mixins.css-variable('tag-bg--plain--#{$status}--activated');
      border-color: mixins.css-variable('tag-border-color--plain--#{$status}--activated');

      @include mixins.e('icon', false) {
        color: mixins.css-variable('tag-color--plain--#{$status}--activated');
      }
    }
  }

  @include mixins.is-not('disabled') {
    @include mixins.is('clickable') {
      &:hover {
        color: mixins.css-variable('tag-color--plain--#{$status}--hover');
        background: mixins.css-variable('tag-bg--plain');
        border-color: mixins.css-variable('tag-border-color--plain--#{$status}--hover');

        @include mixins.e('icon', false) {
          color: mixins.css-variable('tag-color--plain--#{$status}--hover');
        }
      }

      &:active {
        color: mixins.css-variable('tag-color--plain--#{$status}--press');
        background: mixins.css-variable('tag-bg--plain');
        border-color: mixins.css-variable('tag-border-color--plain--#{$status}--press');

        @include mixins.e('icon', false) {
          color: mixins.css-variable('tag-color--plain--#{$status}--press');
        }
      }
    }
  }
}

@include mixins.b('tag') {
  @include mixins.is('plain') {
    @include set-tag-style-by-status('default');
  }

  @include mixins.m('success') {
    @include mixins.is('plain') {
      @include set-tag-style-by-status('success')
    }
  }

  @include mixins.m('info') {
    @include mixins.is('plain') {
      @include set-tag-style-by-status('info')
    }
  }

  @include mixins.m('warning') {
    @include mixins.is('plain') {
      @include set-tag-style-by-status('warning')
    }
  }

  @include mixins.m('error') {
    @include mixins.is('plain') {
      @include set-tag-style-by-status('error')
    }
  }
}
