@use 'pkg:@aurora/theme/styles/popconfirm';
@use '../../../../styles/mixins';

/* stylelint-disable nesting-selector-no-missing-scoping-root -- BEM mixins provide the directive modifier root. */
@include mixins.b('popconfirm') {
  @include mixins.m('directive') {
    @include mixins.e('arrow') {
      position: absolute;
      width: 8px;
      height: 8px;

      &::before {
        position: absolute;
        visibility: visible;
        width: 100%;
        height: 100%;
        content: '';
        background-color: mixins.css-variable('popconfirm', 'background');
        box-shadow: 2px 2px 3px 0 rgb(0, 0, 0, 4%);
        transform: rotate(45deg);
      }
    }

    &[data-popper-placement^='top'] > .#{mixins.$namespace}-popconfirm__arrow {
      bottom: -4px;
    }

    &[data-popper-placement^='bottom'] > .#{mixins.$namespace}-popconfirm__arrow {
      top: -4px;

      &::before {
        transform: rotate(225deg);
      }
    }

    &[data-popper-placement^='left'] > .#{mixins.$namespace}-popconfirm__arrow {
      right: -4px;

      &::before {
        transform: rotate(-45deg);
      }
    }

    &[data-popper-placement^='right'] > .#{mixins.$namespace}-popconfirm__arrow {
      left: -4px;

      &::before {
        transform: rotate(135deg);
      }
    }

    &[data-popper-reference-hidden] {
      display: none;
    }
  }
}
/* stylelint-enable nesting-selector-no-missing-scoping-root */
