@use '../../../../styles/mixins';
@use 'group';
@use 'themes';

@include mixins.b('input-number') {
  display: inline-flex;
  width: 100%;
  min-width: 76px;
  font-size: mixins.css-variable('input-number-font-size');
  line-height: mixins.css-variable('input-number-line-height');

  @include mixins.e('inner') {
    display: inline-block;
    flex: 1;
    box-sizing: border-box;
    min-width: 0;
    height: mixins.css-variable('input-number-line-height');
    font-size: inherit;
    line-height: mixins.css-variable('input-number-line-height--inner');
    background-image: none;
    border: none;
    outline: none;
    appearance: none;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }

    /* Firefox */
    &[type='number'] {
      appearance: textfield;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  @include mixins.e('clear') {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: mixins.css-variable('input-number-padding--clear');
    visibility: hidden;

    @include mixins.clear-icon;
  }

  @include mixins.is-not('disabled') {
    @include mixins.em('group', 'inner', false) {
      &:hover,
      &:focus-within {
        @include mixins.e('clear') {
          visibility: visible;
        }
      }
    }
  }

  @include mixins.is('disabled') {
    @include mixins.em('group', 'inner', false) {
      cursor: not-allowed;
    }
  }

  @include mixins.e('step-wrapper') {
    display: block;
    height: 100%;
    overflow: hidden;
    transition: opacity 0.2s, border-color 0.2s;
    user-select: none;

    @include mixins.e('step-item') {
      display: flex;
      align-items: center;
      justify-content: center;
      width: mixins.css-variable('input-number-width--step-item');
      height: mixins.css-variable('input-number-height--step-item');
      color: mixins.css-variable('input-number-color--step-item');
      cursor: pointer;
      transition: mixins.css-variable('input-number-transition--color');

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
      }

      @include mixins.is('disabled') {
        cursor: not-allowed;
      }

      @include mixins.is-not('disabled') {
        &:active {
          color: mixins.css-variable('input-number-color--step-item--active');
          background: mixins.css-variable('input-number-bg--step-item--active');
        }
      }

      &:hover {
        color: mixins.css-variable('input-number-color--step-item--hover');
      }
    }

    @include mixins.e('step-up') {
      border-radius: mixins.css-variable('input-number-border-radius--step-up');
    }

    @include mixins.e('step-down') {
      border-radius: mixins.css-variable('input-number-border-radius--step-down');
    }
  }

  @include mixins.e('prefix') {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: mixins.css-variable('input-number-padding-side--prefix-suffix');
    color: mixins.css-variable('input-number-color--prefix-suffix');

    @include mixins.m('wrapper') {
      position: relative;
      display: flex;
      width: fit-content;
    }
  }

  @include mixins.e('suffix') {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: mixins.css-variable('input-number-padding-side--prefix-suffix');
    color: mixins.css-variable('input-number-color--prefix-suffix');

    @include mixins.m('wrapper') {
      position: relative;
      display: flex;
      width: fit-content;
    }
  }

  @include mixins.is('between-controls') {
    @include mixins.e('inner') {
      padding: mixins.css-variable('input-number-padding--inner');
      text-align: center;
    }

    @include mixins.e('step-item') {
      width: mixins.css-variable('input-number-width--step-item--controls-between');
      height: 100%;
      border-bottom: none;
    }

    @include mixins.e('step-wrapper') {
      @include mixins.is('left') {
        right: initial;
        left: 0;
        border-left: none;

        @include mixins.e('step-item') {
          border-radius: mixins.css-variable('input-number-border-radius--controls-between--step-down');
        }
      }

      @include mixins.is('right') {
        @include mixins.e('step-item') {
          border-radius: mixins.css-variable('input-number-border-radius--controls-between--step-up');
        }
      }
    }
  }

  @include mixins.be('input-number', 'step-wrapper', false) {
    @include mixins.is('left') {
      border-right: mixins.css-variable('input-number-border');
    }

    @include mixins.is('right') {
      border-left: mixins.css-variable('input-number-border');
    }

    @include mixins.e('step-down') {
      border-top: mixins.css-variable('input-number-border');
    }

    @include mixins.e('step-item') {
      @include mixins.is('disabled') {
        color: mixins.css-variable('input-number-color--step-item--disabled');
      }
    }
  }

  @include mixins.m('large') {
    font-size: mixins.css-variable('input-number-font-size--large');
    line-height: mixins.css-variable('input-number-line-height--large');

    @include mixins.e('inner') {
      height: mixins.css-variable('input-number-line-height--large');
    }

    @include mixins.e('step-wrapper') {
      flex: 0 0 26px;

      @include mixins.e('step-item') {
        width: mixins.css-variable('input-number-width--step-item--large');
        height: mixins.css-variable('input-number-height--step-item--large');
      }
    }
  }

  @include mixins.m('small') {
    font-size: mixins.css-variable('input-number-font-size--small');
    line-height: mixins.css-variable('input-number-line-height--small');

    @include mixins.e('inner') {
      height: mixins.css-variable('input-number-line-height--small');
    }

    @include mixins.e('step-wrapper') {
      @include mixins.e('step-item') {
        width: mixins.css-variable('input-number-width--step-item--small');
        height: mixins.css-variable('input-number-height--step-item--small');
      }
    }

    @include mixins.em('group', 'inner', false) {
      border-radius: mixins.css-variable('input-number-border-radius--small');
    }
  }

  @include mixins.is('disabled') {
    @include mixins.e('step-wrapper') {
      border-left-color: mixins.css-variable('input-number-border-color--disabled');

      @include mixins.is('left') {
        border-right-color: mixins.css-variable('input-number-border-color--disabled');
      }
    }

    @include mixins.e('step-up') {
      border-bottom-color: mixins.css-variable('input-number-border-color--disabled');
    }

    @include mixins.e('step-item') {
      color: mixins.css-variable('input-number-color--disabled');
      background: transparent;
      cursor: not-allowed;
    }
  }

  @include mixins.is('no-controls') {
    @include mixins.e('inner') {
      padding: mixins.css-variable('input-number-padding--inner');
    }

    @include mixins.e('clear') {
      padding: mixins.css-variable('input-number-padding--clear--no-controls');
    }

    @include mixins.e('step-wrapper') {
      display: none;
    }
  }
}
