@use '../../../../styles/mixins/function';

$values: (
  size: (
    height: (
      '': 32px,
      small: (
        '': 24px,
        icon-only: (
          old-standard: 18px,
        ),
      ),
      large: (
        '': 40px,
        icon-only: (
          old-standard: 30px,
        ),
      ),
      huge: (
        '': 48px,
        icon-only: (
          old-standard: 38px,
        ),
      ),
    ),
    icon-only: (
      old-standard: (
        height: 22px,
      ),
    ),
    icon: (
      '': 16px,
      small: 12px,
      large: 16px,
      huge: 16px,
    ),
    min-width: (
      '': 56px,
      small: 72px,
      large: 88px,
      huge: 116px,
    ),
    with-icon: (
      min-width: (
        '': 72px,
        small: 92px,
        large: 108px,
        huge: 136px,
      ),
    ),
  ),
  font-size: (
    '': #{function.css-variable('text-base')},
    small: #{function.css-variable('text-sm')},
    large: #{function.css-variable('text-lg')},
    huge: #{function.css-variable('text-lg')},
  ),
  line-height: (
    '': #{function.css-variable('line-height-standard')},
    icon: #{function.css-variable('line-height-default')},
  ),
  color: (
    primary: (
      '': #{function.css-variable('text-inverse')},
      hover: #{function.css-variable('text-inverse')},
      press: #{function.css-variable('text-inverse')},
      disabled: #{function.css-variable('text-inverse')},
      activated: #{function.css-variable('text-inverse')},
      plain: (
        '': #{function.css-variable('text-brand-default')},
        hover: #{function.css-variable('text-brand-hover')},
        press: #{function.css-variable('text-brand-default')},
        disabled: #{function.css-variable('text-brand-disabled')},
        activated: #{function.css-variable('text-brand-activated')},
        ghost: (
          '': #{function.css-variable('text-inverse-brand-default')},
          hover: #{function.css-variable('text-inverse-brand-hover')},
          press: #{function.css-variable('text-inverse-brand-press')},
          disabled: #{function.css-variable('text-inverse-brand-disabled')},
          activated: #{function.css-variable('text-inverse-brand-default')},
        ),
      ),
      text: (
        '': #{function.css-variable('text-brand-default')},
        hover: #{function.css-variable('text-brand-default')},
        press: #{function.css-variable('text-brand-default')},
        disabled: #{function.css-variable('text-disabled')},
        activated: (
          '': #{function.css-variable('text-brand-activated')},
          hover: #{function.css-variable('text-brand-hover')},
          press: #{function.css-variable('text-brand-press')},
        ),
      ),
      link: (
        '': #{function.css-variable('text-brand-default')},
        hover: #{function.css-variable('text-brand-hover')},
        press: #{function.css-variable('text-brand-press')},
        disabled: #{function.css-variable('text-disabled')},
        activated: #{function.css-variable('text-brand-activated')},
      ),
    ),
    normal: (
      '': #{function.css-variable('text-primary')},
      hover: #{function.css-variable('text-primary')},
      press: #{function.css-variable('text-primary')},
      disabled: #{function.css-variable('text-disabled')},
      activated: #{function.css-variable('text-primary')},
      plain: (
        '': #{function.css-variable('text-primary')},
        hover: #{function.css-variable('text-primary')},
        press: #{function.css-variable('text-primary')},
        disabled: #{function.css-variable('text-disabled')},
        activated: #{function.css-variable('text-primary')},
        ghost: (
          '': #{function.css-variable('text-inverse')},
          hover: #{function.css-variable('text-inverse-hover')},
          press: #{function.css-variable('text-inverse-press')},
          disabled: #{function.css-variable('text-inverse-disabled')},
          activated: #{function.css-variable('text-inverse')},
        ),
      ),
      text: (
        '': #{function.css-variable('text-primary')},
        hover: #{function.css-variable('text-primary')},
        press: #{function.css-variable('text-primary')},
        disabled: #{function.css-variable('text-disabled')},
        activated: (
          '': #{function.css-variable('text-primary')},
          hover: #{function.css-variable('text-primary')},
          press: #{function.css-variable('text-primary')},
        ),
      ),
      link: (
        '': #{function.css-variable('text-primary')},
        hover: #{function.css-variable('text-secondary')},
        press: #{function.css-variable('text-primary')},
        disabled: #{function.css-variable('text-disabled')},
        activated: #{function.css-variable('text-primary')},
      ),
    ),
    danger: (
      '': #{function.css-variable('text-inverse')},
      hover: #{function.css-variable('text-inverse')},
      press: #{function.css-variable('text-inverse')},
      disabled: #{function.css-variable('text-inverse')},
      activated: #{function.css-variable('text-inverse')},
      plain: (
        '': #{function.css-variable('text-error-default')},
        hover: #{function.css-variable('text-error-hover')},
        press: #{function.css-variable('text-error-default')},
        disabled: #{function.css-variable('text-error-disabled')},
        activated: #{function.css-variable('text-error-activated')},
        ghost: (
          '': #{function.css-variable('text-inverse-error-default')},
          hover: #{function.css-variable('text-inverse-error-hover')},
          press: #{function.css-variable('text-inverse-error-press')},
          disabled: #{function.css-variable('text-inverse-error-disabled')},
          activated: #{function.css-variable('text-inverse-error-default')},
        ),
      ),
      text: (
        '': #{function.css-variable('text-error-default')},
        hover: #{function.css-variable('text-error-default')},
        press: #{function.css-variable('text-error-default')},
        disabled: #{function.css-variable('text-disabled')},
        activated: (
          '': #{function.css-variable('text-error-activated')},
          hover: #{function.css-variable('text-error-hover')},
          press: #{function.css-variable('text-error-press')},
        ),
      ),
      link: (
        '': #{function.css-variable('text-error-default')},
        hover: #{function.css-variable('text-error-hover')},
        press: #{function.css-variable('text-error-press')},
        disabled: #{function.css-variable('text-disabled')},
        activated: #{function.css-variable('text-error-activated')},
      ),
    ),
  ),
  border-color: (
    '': #{function.css-variable('border-transparent')},
    primary: (
      '': #{function.css-variable('border-transparent')},
      hover: #{function.css-variable('border-transparent')},
      press: #{function.css-variable('border-transparent')},
      disabled: #{function.css-variable('border-transparent')},
      activated: #{function.css-variable('border-transparent')},
      plain: (
        '': #{function.css-variable('border-brand-default')},
        hover: #{function.css-variable('border-brand-hover')},
        press: #{function.css-variable('border-brand-default')},
        disabled: #{function.css-variable('border-brand-disabled')},
        activated: #{function.css-variable('border-brand-activated')},
        ghost: (
          '': #{function.css-variable('border-inverse-brand-default')},
          hover: #{function.css-variable('border-inverse-brand-hover')},
          press: #{function.css-variable('border-inverse-brand-press')},
          disabled: #{function.css-variable('border-inverse-brand-disabled')},
          activated: #{function.css-variable('border-inverse-brand-default')},
        ),
      ),
      text: (
        '': #{function.css-variable('border-transparent')},
        hover: #{function.css-variable('border-transparent')},
        press: #{function.css-variable('border-transparent')},
        disabled: #{function.css-variable('border-transparent')},
        activated: #{function.css-variable('border-transparent')},
      ),
      link: (
        '': #{function.css-variable('border-transparent')},
        hover: #{function.css-variable('border-transparent')},
        press: #{function.css-variable('border-transparent')},
        disabled: #{function.css-variable('border-transparent')},
        activated: #{function.css-variable('border-transparent')},
      ),
    ),
    normal: (
      '': #{function.css-variable('border-default')},
      hover: #{function.css-variable('border-default')},
      press: #{function.css-variable('border-press')},
      disabled: #{function.css-variable('border-disabled')},
      activated: #{function.css-variable('border-activated')},
      plain: (
        '': #{function.css-variable('border-default')},
        hover: #{function.css-variable('border-default')},
        press: #{function.css-variable('border-default')},
        disabled: #{function.css-variable('border-disabled')},
        activated: #{function.css-variable('border-default')},
        ghost: (
          '': #{function.css-variable('border-inverse')},
          hover: #{function.css-variable('border-inverse-hover')},
          press: #{function.css-variable('border-inverse-press')},
          disabled: #{function.css-variable('border-inverse-disabled')},
          activated: #{function.css-variable('border-inverse-activated')},
        ),
      ),
      text: (
        '': #{function.css-variable('border-transparent')},
        hover: #{function.css-variable('border-transparent')},
        press: #{function.css-variable('border-transparent')},
        disabled: #{function.css-variable('border-transparent')},
        activated: #{function.css-variable('border-transparent')},
      ),
      link: (
        '': #{function.css-variable('border-transparent')},
        hover: #{function.css-variable('border-transparent')},
        press: #{function.css-variable('border-transparent')},
        disabled: #{function.css-variable('border-transparent')},
        activated: #{function.css-variable('border-transparent')},
      ),
    ),
    danger: (
      '': #{function.css-variable('border-transparent')},
      hover: #{function.css-variable('border-transparent')},
      press: #{function.css-variable('border-transparent')},
      disabled: #{function.css-variable('border-transparent')},
      activated: #{function.css-variable('border-transparent')},
      plain: (
        '': #{function.css-variable('border-error-default')},
        hover: #{function.css-variable('border-error-hover')},
        press: #{function.css-variable('border-error-default')},
        disabled: #{function.css-variable('border-error-disabled')},
        activated: #{function.css-variable('border-error-activated')},
        ghost: (
          '': #{function.css-variable('border-inverse-error-default')},
          hover: #{function.css-variable('border-inverse-error-hover')},
          press: #{function.css-variable('border-inverse-error-press')},
          disabled: #{function.css-variable('border-inverse-error-disabled')},
          activated: #{function.css-variable('border-inverse-error-default')},
        ),
      ),
      text: (
        '': #{function.css-variable('border-transparent')},
        hover: #{function.css-variable('border-transparent')},
        press: #{function.css-variable('border-transparent')},
        disabled: #{function.css-variable('border-transparent')},
        activated: #{function.css-variable('border-transparent')},
      ),
      link: (
        '': #{function.css-variable('border-transparent')},
        hover: #{function.css-variable('border-transparent')},
        press: #{function.css-variable('border-transparent')},
        disabled: #{function.css-variable('border-transparent')},
        activated: #{function.css-variable('border-transparent')},
      ),
    ),
    group-divider: (
      button-siblings: (
        primary: #{function.css-variable('border-inverse')},
        normal: #{function.css-variable('border-default')},
        danger: #{function.css-variable('border-inverse')},
      ),
    ),
  ),
  border: 1px solid #{function.css-variable('button', 'border-color')},
  border-radius: (
    '': #{function.css-variable('radius-m')},
    small: #{function.css-variable('radius-s')},
    large: #{function.css-variable('radius-m')},
    huge: #{function.css-variable('radius-l')},
    round: #{function.css-variable('radius-pill')},
  ),
  background: (
    primary: (
      '': #{function.css-variable('bg-brand-default')},
      hover: #{function.css-variable('bg-brand-hover')},
      press: #{function.css-variable('bg-brand-press')},
      disabled: #{function.css-variable('bg-brand-disabled')},
      activated: #{function.css-variable('bg-brand-activated')},
      plain: (
        '': #{function.css-variable('bg-default')},
        hover: #{function.css-variable('bg-weak-hover')},
        press: #{function.css-variable('bg-weak-press')},
        disabled: #{function.css-variable('bg-default')},
        activated: #{function.css-variable('bg-weak-activated')},
        ghost: (
          '': #{function.css-variable('bg-transparent')},
          hover: #{function.css-variable('bg-transparent')},
          press: #{function.css-variable('bg-transparent')},
          disabled: #{function.css-variable('bg-transparent')},
          activated: #{function.css-variable('bg-transparent')},
        ),
      ),
      text: (
        '': #{function.css-variable('bg-transparent')},
        hover: #{function.css-variable('bg-hover')},
        press: #{function.css-variable('bg-press')},
        disabled: #{function.css-variable('bg-transparent')},
        activated: (
          '': #{function.css-variable('bg-weak-activated')},
          hover: #{function.css-variable('bg-weak-hover')},
          press: #{function.css-variable('bg-weak-press')},
        ),
      ),
    ),
    normal: (
      '': #{function.css-variable('bg-default')},
      hover: #{function.css-variable('bg-hover')},
      press: #{function.css-variable('bg-press')},
      disabled: #{function.css-variable('bg-disabled')},
      activated: #{function.css-variable('bg-activated')},
      plain: (
        '': #{function.css-variable('bg-default')},
        hover: #{function.css-variable('bg-hover')},
        press: #{function.css-variable('bg-press')},
        disabled: #{function.css-variable('bg-default')},
        activated: #{function.css-variable('bg-activated')},
        ghost: (
          '': #{function.css-variable('bg-transparent')},
          hover: #{function.css-variable('bg-transparent')},
          press: #{function.css-variable('bg-transparent')},
          disabled: #{function.css-variable('bg-transparent')},
          activated: #{function.css-variable('bg-transparent')},
        ),
      ),
      text: (
        '': #{function.css-variable('bg-transparent')},
        hover: #{function.css-variable('bg-hover')},
        press: #{function.css-variable('bg-press')},
        disabled: #{function.css-variable('bg-transparent')},
        activated: (
          '': #{function.css-variable('bg-activated')},
          hover: #{function.css-variable('bg-hover')},
          press: #{function.css-variable('bg-press')},
        ),
      ),
    ),
    danger: (
      '': #{function.css-variable('bg-error-default')},
      hover: #{function.css-variable('bg-error-hover')},
      press: #{function.css-variable('bg-error-press')},
      disabled: #{function.css-variable('bg-error-disabled')},
      activated: #{function.css-variable('bg-error-activated')},
      plain: (
        '': #{function.css-variable('bg-default')},
        hover: #{function.css-variable('bg-error-weak-hover')},
        press: #{function.css-variable('bg-error-weak-press')},
        disabled: #{function.css-variable('bg-default')},
        activated: #{function.css-variable('bg-error-weak-activated')},
        ghost: (
          '': #{function.css-variable('bg-transparent')},
          hover: #{function.css-variable('bg-transparent')},
          press: #{function.css-variable('bg-transparent')},
          disabled: #{function.css-variable('bg-transparent')},
          activated: #{function.css-variable('bg-transparent')},
        ),
      ),
      text: (
        '': #{function.css-variable('bg-transparent')},
        hover: #{function.css-variable('bg-hover')},
        press: #{function.css-variable('bg-press')},
        disabled: #{function.css-variable('bg-transparent')},
        activated: (
          '': #{function.css-variable('bg-error-weak-activated')},
          hover: #{function.css-variable('bg-error-weak-hover')},
          press: #{function.css-variable('bg-error-weak-press')},
        ),
      ),
    ),
  ),
  spacing: (
    padding-x: (
      '': #{function.css-variable('spacing-5')},
      small: #{function.css-variable('spacing-4')},
      large: #{function.css-variable('spacing-7')},
      huge: #{function.css-variable('spacing-7')},
    ),
    siblings: (
      gap: #{function.css-variable('spacing-2')},
      margin-left: #{function.css-variable('spacing-4')},
    ),
  ),
  transition: (
    duration: #{function.css-variable('transition-time')},
  ),
);
