@use '../../../../styles/mixins';
@use 'mixin';

@include mixins.b('input') {
  position: relative;
  display: inline-flex;
  width: 100%;
  font-size: mixins.css-variable('input-font-size');
  line-height: mixins.css-variable('input-line-height');
  caret-color: mixins.css-variable('input-caret-color');

  @include mixins.e('inner') {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    color: mixins.css-variable('input-color');
    font-size: inherit;
    line-height: mixins.css-variable('input-line-height');
    background-color: mixins.css-variable('input-bg--inner');
    background-image: none;
    border: none;
    outline: none;
    appearance: none;

    &::placeholder {
      color: mixins.css-variable('input-color--inner--placeholder');
    }

    &:disabled {
      color: mixins.css-variable('input-color--inner--disabled');
      background-color: mixins.css-variable('input-bg--inner--disabled');
      cursor: not-allowed;
    }
  }

  @include mixins.e('inner-wrap') {
    @include mixin.input;

    height: mixins.css-variable('input-height--default');
    transition: all 0.2s;

    &:not(:focus, &--focused, &--disabled):hover {
      border-color: mixins.css-variable('input-border-color--hover');
    }

    @include mixins.m('focused') {
      @include mixin.active;
    }

    &:focus {
      @include mixin.active;
    }

    @include mixins.m('disabled') {
      @include mixin.disabled;
    }
  }
  @include mixins.e('textarea--no-border'){
    @include mixin.input;

    padding: 0;
    border: mixins.css-variable('input-border--transparent');

    &:not(:focus, &--focused, &--disabled):hover {
      @include mixins.e('textarea-inner') {
        background-color: mixins.css-variable('input-bg--inner-wrap--no-border');
        transition: all 0.2s;
      }
    }
    @include mixins.m('focused') {
      @include mixin.active;
    }

    &:focus {
      @include mixin.active;
    }

    @include mixins.m('disabled') {
      background-color: mixins.css-variable('input-bg--inner-wrap--no-border--disabled');
      cursor: not-allowed;
      @include mixins.e('textarea-inner') {
        color: mixins.css-variable('input-color--inner--disabled-no-border');
      }
    }

  }
  @include mixins.e('textarea--normal') {
    @include mixin.input;

    padding: 0;

    &:not(:focus, &--focused, &--disabled):hover {
      border-color: mixins.css-variable('input-border-color--hover');
    }

    @include mixins.m('focused') {
      @include mixin.active;
    }

    &:focus {
      @include mixin.active;
    }

    @include mixins.m('disabled') {
      @include mixin.disabled;
    }

    @include mixins.is('error') {
      @include mixin.error;
    }
  }
  @include mixins.e('textarea--emphasize'){
    @include mixin.input;

    padding: 0;
    border: mixins.css-variable('input-border--transparent');
    @include mixins.e('textarea-inner'){
      background-color: mixins.css-variable('input-bg--inner-wrap--filled');
    }

    &:not(:focus, &--focused, &--disabled):hover {
      border-color: mixins.css-variable('input-border-color--hover');
    }

    @include mixins.m('focused') {
      @include mixin.active;
    }

    &:focus {
      @include mixin.active;
    }

    @include mixins.m('disabled') {
      background-color: mixins.css-variable('input-bg--inner-wrap--filled--disabled');
      border-color: mixins.css-variable('input-border-color--inner-wrap--filled--disabled');
      cursor: not-allowed;
    }

  }


  @include mixins.e('textarea-inner') {
    min-height: mixins.css-variable('input-min-height--textarea-inner');
    padding: mixins.css-variable('input-padding--textarea-inner');
    line-height: mixins.css-variable('input-line-height--textarea');
    border-radius: mixins.css-variable('input-border-radius');
  }

  @include mixins.e('textarea-limit-wrap') {
    position: absolute;
    bottom: mixins.css-variable('input-bottom--textarea-limit-wrap');
    box-sizing: border-box;
    height: mixins.css-variable('input-height--limit-text');
    color: mixins.css-variable('input-color--limit-text');
    font-size: mixins.css-variable('input-font-size--limit-text');
    line-height: mixins.css-variable('input-line-height--limit-text');
    text-align: end;
  }

  @include mixins.m('limit-with-multi-line') {

    @include mixins.e('textarea-limit') {
      padding: 0 2px;
      background-color: mixins.css-variable('bg-default');

      @include mixins.m('current') {
        color: mixins.css-variable('input-color--limit-text--current');
      }
    }
  }

  @include mixins.e('limit') {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: mixins.css-variable('input-margin-left--limit-text');
    color: mixins.css-variable('input-color--limit-text');
    font-size: mixins.css-variable('input-font-size--limit-text');
    line-height: mixins.css-variable('input-line-height--limit-text');

    @include mixins.m('current') {
      color: mixins.css-variable('input-color--limit-text--current');
    }
  }

  @include mixins.m('with-prepend') {
    @include mixins.e('inner-wrap') {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @include mixins.m('with-append') {
    @include mixins.e('inner-wrap') {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @include mixins.m('no-border') {
    @include mixins.e('inner-wrap') {
      border: mixins.css-variable('input-border--transparent');

      &:not(:focus, &--focused, &--disabled):hover {
        background-color: mixins.css-variable('input-bg--inner-wrap--no-border');
        border: mixins.css-variable('input-border--transparent');
      }

      @include mixins.m('focused') {
        @include mixin.active;
      }

      &:focus {
        @include mixin.active;
      }
      @include mixins.m('disabled') {
        background-color: mixins.css-variable('input-bg--inner-wrap--no-border--disabled');
        cursor: not-allowed;
      }
    }

    @include mixins.e('inner') {
      color: mixins.css-variable('input-color--inner--disabled-no-border');
      background-color: mixins.css-variable('input-bg--inner-wrap--no-border--disabled--inner');
    }
  }

  @include mixins.m('filled') {
    @include mixins.e('inner-wrap') {
      background-color: mixins.css-variable('input-bg--inner-wrap--filled');
      border: mixins.css-variable('input-border--transparent');

      &:not(:focus, &--focused, &--disabled):hover {
        border-color: mixins.css-variable('input-border-color--hover');
      }

      @include mixins.m('focused') {
        @include mixin.active;
      }

      &:focus {
        @include mixin.active;
      }

      @include mixins.m('disabled') {
        background-color: mixins.css-variable('input-bg--inner-wrap--filled--disabled');
        border-color: mixins.css-variable('input-border-color--inner-wrap--filled--disabled');
        cursor: not-allowed;
      }
    }

    @include mixins.e('inner') {
      background-color: mixins.css-variable('input-bg--inner-wrap--filled--disabled--inner');
    }
  }

  // 验证错误
  @include mixins.em('error','normal') {
    @include mixins.e('inner-wrap') {
      @include mixin.error;
    }
  }
  @include mixins.em('error','no-border') {
    @include mixins.e('inner-wrap') {
      background-color: mixins.css-variable('input-bg--inner-wrap--error');

      &:not(:focus, &--focused, &--disabled):hover {
        background-color: mixins.css-variable('input-bg--inner-wrap--error');
        border-color: transparent;
      }
      @include mixins.m('focused') {
        background-color: mixins.css-variable('input-bg--inner');
        border-color: mixins.css-variable('input-border-color--error');
      }
    }
  }
  @include mixins.em('error','emphasize') {
    @include mixins.e('inner-wrap') {
      background-color: mixins.css-variable('input-bg--inner-wrap--error');

      &:not(:focus, &--focused, &--disabled):hover {
        background-color: mixins.css-variable('input-bg--inner-wrap--error');
        border-color: transparent;
      }
      @include mixins.m('focused') {
        background-color: mixins.css-variable('input-bg--inner');
        border-color: mixins.css-variable('input-border-color--error');
      }
    }
  }
  @include mixins.m('small') {
    font-size: mixins.css-variable('input-font-size--small');
    line-height: mixins.css-variable('input-line-height--small');

    @include mixins.e('inner-wrap') {
      height: mixins.css-variable('input-height--small');
      padding: mixins.css-variable('input-padding--inner-wrap--small');
      font-size: mixins.css-variable('input-font-size--small');
      line-height: mixins.css-variable('input-line-height--small');
    }

    @include mixins.e('prepend') {
      height: mixins.css-variable('input-height--small');
    }

    @include mixins.e('append') {
      height: mixins.css-variable('input-height--small');
    }
  }

  @include mixins.m('medium') {
    line-height: mixins.css-variable('input-line-height');

    @include mixins.e('inner-wrap') {
      height: mixins.css-variable('input-height--default');
      padding: mixins.css-variable('input-padding--inner-wrap--default');
      line-height: mixins.css-variable('input-line-height');
    }

    @include mixins.e('prepend') {
      height: mixins.css-variable('input-height--default');
    }

    @include mixins.e('append') {
      height: mixins.css-variable('input-height--default');
    }
  }

  @include mixins.m('large') {
    color: red;
    line-height: mixins.css-variable('input-line-height');

    @include mixins.e('inner-wrap') {
      height: mixins.css-variable('input-height--large');
      padding: mixins.css-variable('input-padding--inner-wrap--large');
      line-height: mixins.css-variable('input-line-height');
    }

    @include mixins.e('prepend') {
      height: mixins.css-variable('input-height--large');
    }

    @include mixins.e('append') {
      height: mixins.css-variable('input-height--large');
    }
  }

  @include mixins.e('prefix') {
    display: inline-flex;
    align-items: center;
    margin-right: mixins.css-variable('input-margin-right--prefix');
    color: mixins.css-variable('input-color--prefix');
  }

  @include mixins.e('suffix') {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: mixins.css-variable('input-margin-right--suffix');
    color: mixins.css-variable('input-color--suffix');
  }

  @include mixins.m('password-action') {
    cursor: pointer;
  }

  @include mixins.m('clear-action') {
    @include mixins.clear-icon;

    display: none !important;
  }

  @include mixins.m('clear-action-with-multi') {
    @include mixins.clear-icon;

    display: none !important;
    margin-right: mixins.css-variable('input-margin-right--clear-icon');
  }

  &:hover {
    #{mixins.block-modifier-name('clear-action', 'input')} {
      display: inline-flex !important;
    }

    #{mixins.block-modifier-name('clear-action-with-multi', 'input')} {
      display: inline-flex !important;
    }
  }

  &:focus-within {
    #{mixins.block-modifier-name('clear-action', 'input')} {
      display: inline-flex !important;
    }

    #{mixins.block-modifier-name('clear-action-with-multi', 'input')} {
      display: inline-flex !important;
    }
  }

  @include mixins.e('group-wrap') {
    display: table;
    width: 100%;
  }

  @include mixins.e('prepend') {
    @include mixin.mixed(prepend);
  }

  @include mixins.e('append') {
    @include mixin.mixed(append);
  }

  @include mixins.is('out-of-exceeded') {
    border-color: mixins.css-variable('input-border-color--out-of-exceeded') !important;

    @include mixins.e('inner-wrap') {
      border-color: mixins.css-variable('input-border-color--out-of-exceeded') !important;
    }

    @include mixins.e('textarea-limit--current') {
      color: mixins.css-variable('input-color--out-of-exceeded');
    }

    @include mixins.e('limit--current') {
      color: mixins.css-variable('input-color--out-of-exceeded');
    }
  }
}
