@use 'sass:map';
@use '../../../../styles/mixins';

@mixin input() {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  padding: mixins.css-variable('input', 'spacing', 'inner-wrap', 'padding');
  background-color: mixins.css-variable('input', 'background', 'inner');
  background-image: none;
  border: mixins.css-variable('input', 'border');
  border-radius: mixins.css-variable('input', 'border-radius');
}

@mixin active() {
  border-color: mixins.css-variable('input', 'border-color', 'focus');
  outline: none;
}

@mixin disabled() {
  color: mixins.css-variable('input', 'color', 'inner', 'disabled');
  background-color: mixins.css-variable('input', 'background', 'disabled');
  border-color: mixins.css-variable('input', 'border-color', 'disabled');
  cursor: not-allowed;
}

@mixin error() {
  border-color: mixins.css-variable('input', 'border-color', 'error');

  &:not(:focus, &--focused, &--disabled):hover {
    border-color: mixins.css-variable('input', 'border-color', 'error');
  }
}

@mixin mixed($type) {
  display: table-cell;
  box-sizing: border-box;
  width: 1px;
  height: mixins.css-variable('input', 'size', 'height');
  padding: mixins.css-variable('input', 'spacing', 'prepend-append', 'padding');
  color: mixins.css-variable('input', 'color', 'prepend-append');
  white-space: nowrap;
  vertical-align: middle;
  background: mixins.css-variable('input', 'background', 'prepend-append');
  border: mixins.css-variable('input', 'border');

  #{mixins.block-name('select')} {
    display: block;
    box-sizing: border-box;
    max-width: none;
    margin: -1px
      calc(0px - #{mixins.css-variable('input', 'spacing', 'textarea-inner', 'padding-x')} - 1px);
  }

  #{mixins.block-name('button')} {
    box-sizing: border-box;
    max-width: none;
    margin: -1px
      calc(0px - #{mixins.css-variable('input', 'spacing', 'textarea-inner', 'padding-x')} - 1px);
  }

  #{mixins.modifier-name('append-icon', 'input', mixins.block('picker'))} {
    svg {
      color: mixins.css-variable('picker', 'color', 'input');
    }
  }

  @if $type == prepend {
    overflow: hidden;
    border-right: 0;
    border-radius: mixins.css-variable('input', 'border-radius')
      0
      0
      mixins.css-variable('input', 'border-radius');

    #{mixins.element-name('input', mixins.block('picker'))},
    #{mixins.block-name('button')} {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    #{mixins.element-name('input', mixins.block('picker'))} {
      background: mixins.css-variable('input', 'background', 'prepend-append');
    }
  } @else if $type == append {
    overflow: hidden;
    border-left: 0;
    border-radius: 0
      mixins.css-variable('input', 'border-radius')
      mixins.css-variable('input', 'border-radius')
      0;

    #{mixins.element-name('input', mixins.block('picker'))},
    #{mixins.block-name('button')} {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    #{mixins.element-name('input', mixins.block('picker'))} {
      background: mixins.css-variable('input', 'background', 'prepend-append');
    }
  }
}
