@use '../../../../styles/mixins/function';

$values: (
  size: (
    height: (
      '': 32px,
      small: 24px,
      large: 40px,
    ),
    panel: (
      empty: (
        height: 120px,
      ),
      confirm-wrapper: (
        height: 56px,
      ),
    ),
    normal: (
      min-width: 144px,
    ),
    emphasize: (
      min-width: #{function.css-variable('picker', 'size', 'normal', 'min-width')},
    ),
    no-border: (
      min-width: fit-content,
    ),
    fit-content-input: (
      min-width: 40px,
    ),
    prepend-icon: (
      width: 16px,
    ),
    append-icon: (
      width: 16px,
    ),
  ),
  font-size: (
    '': #{function.css-variable('text-base')},
    small: #{function.css-variable('text-sm')},
    large: #{function.css-variable('text-base')},
  ),
  color: (
    input: (
      '': #{function.css-variable('text-primary')},
      hover: #{function.css-variable('text-primary')},
      press: #{function.css-variable('text-primary')},
      focus: #{function.css-variable('text-primary')},
      focusing: #{function.css-variable('text-primary')},
      disabled: #{function.css-variable('text-secondary')},
      error: #{function.css-variable('text-primary')},
      emphasize: (
        '': #{function.css-variable('text-primary')},
        hover: #{function.css-variable('text-primary')},
        press: #{function.css-variable('text-primary')},
        focus: #{function.css-variable('text-primary')},
        focusing: #{function.css-variable('text-primary')},
        disabled: #{function.css-variable('text-secondary')},
        error: #{function.css-variable('text-tertiary')},
      ),
      no-border: (
        '': #{function.css-variable('text-primary')},
        hover: #{function.css-variable('text-primary')},
        press: #{function.css-variable('text-primary')},
        focus: #{function.css-variable('text-primary')},
        focusing: #{function.css-variable('text-primary')},
        disabled: #{function.css-variable('text-disabled')},
        error: #{function.css-variable('text-primary')},
      ),
      clear-icon: (
        '': #{function.css-variable('text-tertiary')},
        hover: #{function.css-variable('text-secondary')},
      ),
    ),
    input-placeholder: (
      '': #{function.css-variable('text-disabled')},
      hover: #{function.css-variable('text-disabled')},
      press: #{function.css-variable('text-disabled')},
      focus: #{function.css-variable('text-disabled')},
      focusing: #{function.css-variable('text-disabled')},
      disabled: #{function.css-variable('text-disabled')},
      error: #{function.css-variable('text-disabled')},
      emphasize: (
        '': #{function.css-variable('text-disabled')},
        hover: #{function.css-variable('text-disabled')},
        press: #{function.css-variable('text-disabled')},
        focus: #{function.css-variable('text-disabled')},
        focusing: #{function.css-variable('text-disabled')},
        disabled: #{function.css-variable('text-disabled')},
        error: #{function.css-variable('text-disabled')},
      ),
      no-border: (
        '': #{function.css-variable('text-primary')},
        hover: #{function.css-variable('text-primary')},
        press: #{function.css-variable('text-primary')},
        focus: #{function.css-variable('text-primary')},
        focusing: #{function.css-variable('text-disabled')},
        disabled: #{function.css-variable('text-primary')},
        error: #{function.css-variable('text-primary')},
      ),
    ),
    input-prepend-icon: #{function.css-variable('text-disabled')},
    input-append-icon: (
      '': #{function.css-variable('picker', 'color', 'input')},
      hover: #{function.css-variable('picker', 'color', 'input', 'hover')},
      press: #{function.css-variable('picker', 'color', 'input', 'press')},
      focus: #{function.css-variable('picker', 'color', 'input', 'focus')},
      focusing: #{function.css-variable('picker', 'color', 'input', 'focus')},
      disabled: #{function.css-variable('picker', 'color', 'input', 'disabled')},
      error: #{function.css-variable('picker', 'color', 'input', 'error')},
      emphasize: (
        '': #{function.css-variable('text-primary')},
        hover: #{function.css-variable('text-primary')},
        press: #{function.css-variable('text-primary')},
        focus: #{function.css-variable('text-primary')},
        focusing: #{function.css-variable('text-primary')},
        disabled: #{function.css-variable('text-tertiary')},
        error: #{function.css-variable('picker', 'color', 'input', 'error')},
      ),
      no-border: (
        '': #{function.css-variable('text-primary')},
        hover: #{function.css-variable('text-primary')},
        press: #{function.css-variable('text-primary')},
        focus: #{function.css-variable('text-primary')},
        focusing: #{function.css-variable('text-primary')},
        disabled: #{function.css-variable('text-disabled')},
        error: #{function.css-variable('text-primary')},
      ),
    ),
    panel-empty: (
      '': #{function.css-variable('text-disabled')},
      loading: #{function.css-variable('text-brand-default')},
    ),
    caret: #{function.css-variable('border-brand-default')},
    tag: (
      disabled: #{function.css-variable('text-secondary')},
    ),
  ),
  border-color: (
    input: (
      '': #{function.css-variable('border-default')},
      hover: #{function.css-variable('border-brand-hover')},
      press: #{function.css-variable('border-brand-press')},
      focus: #{function.css-variable('border-brand-default')},
      focusing: #{function.css-variable('border-brand-default')},
      disabled: #{function.css-variable('border-disabled')},
      error: #{function.css-variable('border-error-default')},
      emphasize: (
        '': #{function.css-variable('border-transparent')},
        hover: #{function.css-variable('border-transparent')},
        press: #{function.css-variable('border-transparent')},
        focus: #{function.css-variable('border-transparent')},
        focusing: #{function.css-variable('border-brand-default')},
        disabled: #{function.css-variable('border-transparent')},
        error: #{function.css-variable('border-transparent')},
      ),
      no-border: (
        '': #{function.css-variable('border-transparent')},
        hover: #{function.css-variable('border-transparent')},
        press: #{function.css-variable('border-transparent')},
        focus: #{function.css-variable('border-transparent')},
        focusing: #{function.css-variable('border-brand-default')},
        disabled: #{function.css-variable('border-transparent')},
        error: #{function.css-variable('border-transparent')},
      ),
      transparent: #{function.css-variable('border-transparent')},
    ),
    popper-confirm-wrapper: #{function.css-variable('border-noninteractive')},
  ),
  border: (
    input: (
      '': 1px solid #{function.css-variable('picker', 'border-color', 'input')},
      emphasize: 1px solid #{function.css-variable('picker', 'border-color', 'input', 'emphasize')},
      no-border: 1px solid #{function.css-variable('picker', 'border-color', 'input', 'no-border')},
    ),
    top: (
      popper: (
        confirm-wrapper: 1px solid
          #{function.css-variable('picker', 'border-color', 'popper-confirm-wrapper')},
      ),
    ),
  ),
  border-radius: (
    '': #{function.css-variable('radius-m')},
    small: #{function.css-variable('radius-s')},
  ),
  background: (
    panel: #{function.css-variable('bg-default')},
    panel-empty: #{function.css-variable('bg-overlay-inverse')},
    input: (
      '': #{function.css-variable('bg-default')},
      hover: #{function.css-variable('bg-default')},
      press: #{function.css-variable('bg-default')},
      focus: #{function.css-variable('bg-default')},
      focusing: #{function.css-variable('bg-default')},
      disabled: #{function.css-variable('bg-disabled')},
      error: #{function.css-variable('bg-default')},
      emphasize: (
        '': #{function.css-variable('bg-secondary')},
        hover: #{function.css-variable('bg-hover')},
        press: #{function.css-variable('bg-press')},
        focus: #{function.css-variable('bg-secondary')},
        focusing: #{function.css-variable('bg-default')},
        disabled: #{function.css-variable('bg-disabled')},
        error: #{function.css-variable('bg-error-weak-activated')},
      ),
      no-border: (
        '': #{function.css-variable('bg-transparent')},
        hover: #{function.css-variable('bg-hover')},
        press: #{function.css-variable('bg-press')},
        focus: #{function.css-variable('bg-secondary')},
        focusing: #{function.css-variable('bg-default')},
        disabled: #{function.css-variable('bg-transparent')},
        activated: #{function.css-variable('bg-disabled')},
        error: #{function.css-variable('bg-error-weak-activated')},
      ),
    ),
    tag: (
      disabled: #{function.css-variable('bg-tertiary')},
    ),
  ),
  spacing: (
    input: (
      padding: (
        '': 0 0 0 #{function.css-variable('spacing-3')},
        small: 0 0 0
          calc(#{function.css-variable('spacing-3')} - #{function.css-variable('spacing-1')}),
        large: 0 0 0 #{function.css-variable('spacing-3')},
      ),
      emphasize: (
        padding: (
          '': 0 0 0 #{function.css-variable('spacing-3')},
          small: 0 0 0
            calc(#{function.css-variable('spacing-3')} - #{function.css-variable('spacing-1')}),
          large: 0 0 0 #{function.css-variable('spacing-3')},
        ),
      ),
      no-border: (
        padding: (
          '': 0 0 0
            calc(
              #{function.css-variable('spacing-3')} - #{function.css-variable('spacing-2')} - 1px
            ),
          small: 0
            calc(#{function.css-variable('spacing-3')} - #{function.css-variable('spacing-1')}),
          large: 0 0 0
            calc(
              #{function.css-variable('spacing-3')} - #{function.css-variable('spacing-2')} - 1px
            ),
        ),
      ),
      outer: (
        padding: (
          '': calc(#{function.css-variable('spacing-2')} - 1px),
          small: calc(#{function.css-variable('spacing-1')} - 1px)
            calc(#{function.css-variable('spacing-1')} - 1px),
          large: calc(#{function.css-variable('spacing-2')} - 1px)
            calc(#{function.css-variable('spacing-2')} - 1px),
        ),
        emphasize: (
          padding: (
            '': calc(#{function.css-variable('spacing-2')} - 1px),
            small: calc(#{function.css-variable('spacing-1')} - 1px)
              calc(#{function.css-variable('spacing-1')} - 1px),
            large: calc(#{function.css-variable('spacing-2')} - 1px)
              calc(#{function.css-variable('spacing-2')} - 1px),
          ),
        ),
        no-border: (
          padding: (
            '': calc(#{function.css-variable('spacing-2')} - 1px),
            small: calc(#{function.css-variable('spacing-1')} - 1px)
              calc(#{function.css-variable('spacing-1')} - 1px),
            large: calc(#{function.css-variable('spacing-2')} - 1px)
              calc(#{function.css-variable('spacing-2')} - 1px),
          ),
        ),
        no-suffix-icon: (
          padding-right: (
            '': calc(function.css-variable('picker', 'spacing', 'input', 'outer', 'padding') + function.css-variable('picker', 'spacing', 'input', 'suffix-icon', 'margin-right')),
            small: calc(function.css-variable('picker', 'spacing', 'input', 'outer', 'padding', 'small') + function.css-variable('picker', 'spacing', 'input', 'suffix-icon', 'margin-right')),
            large: calc(function.css-variable('picker', 'spacing', 'input', 'outer', 'padding', 'large') + function.css-variable('picker', 'spacing', 'input', 'suffix-icon', 'margin-right')),
          ),
          emphasize: (
            padding-right: (
              '': calc(function.css-variable('picker', 'spacing', 'input', 'outer', 'emphasize', 'padding') + function.css-variable('picker', 'spacing', 'input', 'suffix-icon', 'margin-right')),
              small: calc(function.css-variable('picker', 'spacing', 'input', 'outer', 'emphasize', 'padding', 'small') + function.css-variable('picker', 'spacing', 'input', 'suffix-icon', 'margin-right')),
              large: calc(function.css-variable('picker', 'spacing', 'input', 'outer', 'emphasize', 'padding', 'large') + function.css-variable('picker', 'spacing', 'input', 'suffix-icon', 'margin-right')),
            ),
          ),
        ),
        padding-y: (
          '': 0,
          small: calc(#{function.css-variable('spacing-1')} - 1px),
          large: calc(#{function.css-variable('spacing-2')} - 1px),
        ),
        padding-x: (
          '': 0,
          small: calc(#{function.css-variable('spacing-1')} - 1px),
          large: calc(#{function.css-variable('spacing-2')} - 1px),
        ),
      ),
      tag-group: (
        padding: (
          '': 0 0 0 1px,
          small: 0,
          large: 0 0 0 1px,
        ),
        emphasize: (
          padding: (
            '': 0 0 0 1px,
            small: 0,
            large: 0 0 0 1px,
          ),
        ),
        no-border: (
          padding: (
            '': 0 0 0 1px,
            small: 0,
            large: 0 0 0 1px,
          ),
        ),
      ),
      prepend-icon: (
        margin-left: #{function.css-variable('spacing-3')},
      ),
      suffix-icon: (
        margin-left: #{function.css-variable('spacing-4')},
        margin-right: #{function.css-variable('spacing-3')},
      ),
      fit-content: (
        margin-left: #{function.css-variable('spacing-2')},
      ),
    ),
    panel-filter: (
      padding: #{function.css-variable('spacing-4')},
    ),
    pop-content: (
      padding-y: #{function.css-variable('spacing-3')},
      confirm-wrapper: (
        padding-x: (
          '': #{function.css-variable('spacing-5')},
          small: #{function.css-variable('spacing-4')},
        ),
      ),
    ),
    input-clear-icon: (
      padding-x: (
        '': calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')}),
        small: function.css-variable('spacing-2'),
        large: calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')}),
      ),
      emphasize: (
        padding-x: (
          '': calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')}),
          small: function.css-variable('spacing-2'),
          large: calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')}),
        ),
      ),
      no-border: (
        padding-x: (
          '': function.css-variable('spacing-1'),
          small: calc(#{function.css-variable('spacing-3')} - #{function.css-variable('spacing-1')}),
          large: function.css-variable('spacing-3'),
        ),
      ),
    ),
    confirm-wrapper: (
      button: (
        margin-left: #{function.css-variable('spacing-3')},
      ),
    ),
    input-append-icon: (
      margin: (
        '': 0 calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')}) 0
          calc(#{function.css-variable('spacing-4')} - #{function.css-variable('spacing-1')}),
        small: 0 #{function.css-variable('spacing-2')} 0 #{function.css-variable('spacing-4')},
        large: 0 calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')})
          0 #{function.css-variable('spacing-4')},
      ),
      emphasize: (
        margin: (
          '': 0 calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')})
            0 #{function.css-variable('spacing-4')},
          small: 0 #{function.css-variable('spacing-2')} 0 #{function.css-variable('spacing-4')},
          large: 0
            calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')}) 0
            #{function.css-variable('spacing-4')},
        ),
      ),
      no-border: (
        margin: (
          '': 0 #{function.css-variable('spacing-1')} 0
            calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')}),
          small: 0 #{function.css-variable('spacing-2')} 0
            calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')}),
          large: 0 #{function.css-variable('spacing-1')} 0
            calc(#{function.css-variable('spacing-2')} + #{function.css-variable('spacing-1')}),
        ),
      ),
    ),
    input-dropdown-icon: (
      margin: (
        '': 0 #{function.css-variable('spacing-3')} 0 #{function.css-variable('spacing-4')},
        small: 0 calc(#{function.css-variable('spacing-3')} - #{function.css-variable('spacing-1')}),
        large: 0 #{function.css-variable('spacing-3')} 0 #{function.css-variable('spacing-4')},
      ),
      emphasize: (
        margin: (
          '': 0 #{function.css-variable('spacing-3')} 0 #{function.css-variable('spacing-4')},
          small: 0
            calc(#{function.css-variable('spacing-3')} - #{function.css-variable('spacing-1')}),
          large: 0 #{function.css-variable('spacing-3')} 0 #{function.css-variable('spacing-4')},
        ),
      ),
      no-border: (
        margin: (
          '': 0 calc(#{function.css-variable('spacing-3')} - #{function.css-variable('spacing-2')})
            0 #{function.css-variable('spacing-3')},
          small: 0
            calc(#{function.css-variable('spacing-3')} - #{function.css-variable('spacing-1')}) 0
            #{function.css-variable('spacing-3')},
          large: 0
            calc(#{function.css-variable('spacing-3')} - #{function.css-variable('spacing-2')}) 0
            #{function.css-variable('spacing-3')},
        ),
      ),
    ),
  ),
  transition: (
    duration: #{function.css-variable('transition-time-fast')},
    color: color #{function.css-variable('transition-time-fast')}
      #{function.css-variable('transition-func-ease-in-out-bezier')},
    color-background: color background #{function.css-variable('transition-time-fast')}
      #{function.css-variable('transition-func-ease-in-out-bezier')},
    border-color: border-color #{function.css-variable('transition-time-fast')}
      #{function.css-variable('transition-func-ease-in-out-bezier')},
  ),
);
