@use '../../../../styles/mixins';

@include mixins.b('chat-bubble') {
  display: flex;
  gap: mixins.css-variable('chat-bubble-gap');
  align-items: flex-start;
  width: 100%;

  @include mixins.m('end') {
    flex-direction: row-reverse;

    @include mixins.e('main') {
      align-items: flex-end;
    }

    @include mixins.e('header') {
      flex-direction: row-reverse;
    }

    @include mixins.e('footer') {
      justify-content: flex-end;
    }

    @include mixins.e('content') {
      border-start-end-radius: mixins.css-variable('radius-s');
    }
  }

  @include mixins.m('start') {
    @include mixins.e('content') {
      border-start-start-radius: mixins.css-variable('radius-s');
    }
  }

  @include mixins.m('primary') {
    @include mixins.e('content') {
      color: mixins.css-variable('chat-bubble-content-color-primary');
      background: mixins.css-variable('chat-bubble-content-bg-primary');
    }
  }

  @include mixins.e('avatar') {
    flex: none;
  }

  @include mixins.e('main') {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
  }

  @include mixins.e('header') {
    display: flex;
    gap: mixins.css-variable('chat-bubble-header-gap');
    align-items: baseline;
    max-width: 100%;
    margin-bottom: mixins.css-variable('spacing-2');
  }

  @include mixins.e('name') {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: mixins.css-variable('chat-bubble-name-font-size');
    font-weight: mixins.css-variable('chat-bubble-name-font-weight');
    color: mixins.css-variable('chat-bubble-name-color');
    white-space: nowrap;
  }

  @include mixins.e('datetime') {
    flex: none;
    font-size: mixins.css-variable('chat-bubble-meta-font-size');
    color: mixins.css-variable('chat-bubble-meta-color');
  }

  @include mixins.e('content') {
    box-sizing: border-box;
    max-width: 100%;
    padding: mixins.css-variable('chat-bubble-content-padding-block')
      mixins.css-variable('chat-bubble-content-padding-inline');
    font-size: mixins.css-variable('chat-bubble-content-font-size');
    line-height: mixins.css-variable('chat-bubble-content-line-height');
    color: mixins.css-variable('chat-bubble-content-color');
    overflow-wrap: anywhere;
    white-space: pre-wrap;
    background: mixins.css-variable('chat-bubble-content-bg');
    border-radius: mixins.css-variable('chat-bubble-content-radius');
  }

  @include mixins.e('footer') {
    display: flex;
    gap: mixins.css-variable('chat-bubble-footer-gap');
    width: 100%;
    margin-top: mixins.css-variable('spacing-2');
    font-size: mixins.css-variable('chat-bubble-meta-font-size');
    color: mixins.css-variable('chat-bubble-meta-color');
  }
}

@include mixins.b('chat-bubble-list') {
  width: 100%;

  @include mixins.e('item') {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: mixins.css-variable('chat-bubble-list-item-gap');
  }
}
