@use '../../../../styles/mixins';

@include mixins.b('popconfirm') {
  width: mixins.css-variable('v-popconfirm-width');
  padding: mixins.css-variable('v-popconfirm-padding');
  color: mixins.css-variable('v-popconfirm-color');
  background-color: mixins.css-variable('v-popconfirm-bg');
  border-radius: mixins.css-variable('v-popconfirm-border-radius');
  box-shadow: mixins.css-variable('v-popconfirm-box-shadow');

  @include mixins.e('body') {
    display: flex;
    margin-bottom: mixins.css-variable('v-popconfirm-margin-bottom--body');
  }

  @include mixins.e('icon') {
    flex: none;
    margin-right: mixins.css-variable('v-popconfirm-margin-right--icon');
    line-height: mixins.css-variable('v-popconfirm-line-height--icon') !important;
  }

  @include mixins.e('content') {
    flex: 1;
    font-size: mixins.css-variable('v-popconfirm-font-size--content');
    line-height: mixins.css-variable('v-popconfirm-line-height--content');
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
  }

  @include mixins.e('footer') {
    text-align: right;
  }

  @include mixins.e('arrow') {
    position: absolute;
    width: mixins.css-variable('v-popconfirm-size--arrow');
    height: mixins.css-variable('v-popconfirm-size--arrow');

    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: mixins.css-variable('v-popconfirm-bg');
      box-shadow: mixins.css-variable('v-popconfirm-box-shadow--arrow');
      transform: rotate(45deg);
      visibility: visible;
      content: '';
    }
  }

  &[data-popper-placement^='top'] > .#{mixins.$namespace}-popconfirm__arrow {
    bottom: calc(-1 * #{mixins.css-variable('v-popconfirm-size--arrow')} / 2);
  }

  &[data-popper-placement^='bottom'] > .#{mixins.$namespace}-popconfirm__arrow {
    top: calc(-1 * #{mixins.css-variable('v-popconfirm-size--arrow')} / 2);

    &::before {
      transform: rotate(225deg);
    }
  }

  &[data-popper-placement^='left'] > .#{mixins.$namespace}-popconfirm__arrow {
    right: calc(-1 * #{mixins.css-variable('v-popconfirm-size--arrow')} / 2);

    &::before {
      transform: rotate(-45deg);
    }
  }

  &[data-popper-placement^='right'] > .#{mixins.$namespace}-popconfirm__arrow {
    left: calc(-1 * #{mixins.css-variable('v-popconfirm-size--arrow')} / 2);

    &::before {
      transform: rotate(135deg);
    }
  }

  &[data-popper-reference-hidden] {
    display: none;
  }
}
