@use '../../../../styles/mixins';

@include mixins.b('collapse') {
  @include mixins.m('filled') {
    @include mixins.siblings-block('collapse-item') {
      margin-top: mixins.css-variable('collapse-margin-top--item--filled--medium--siblings');
    }

    @include mixins.nested('collapse-item') {
      border-radius: mixins.css-variable('collapse-border-radius');

      &::after {
        display: none;
      }

      &__body {
        background-color: mixins.css-variable('collapse-bg--item-body--filled');
      }

      &__header {
        background-color: mixins.css-variable('collapse-bg--item-header--filled');

        &:hover {
          background-color: mixins.css-variable('collapse-bg--item-header--filled--hover');
        }

        &:active {
          background-color: mixins.css-variable('collapse-bg--item-header--filled--press');
        }
      }

      @include mixins.m('disabled') {
        @include mixins.be('collapse-item', 'header', false) {
          &:hover {
            background-color: mixins.css-variable('collapse-bg--item-header--filled--disabled--hover');
          }
        }
      }
    }
  }

  @include mixins.m('small') {
    @include mixins.nested('collapse-item') {
      &__header {
        padding: mixins.css-variable('collapse-padding--item-header--small');
      }

      &__content {
        padding: mixins.css-variable('collapse-padding--item-content--small');
      }
    }
  }

  @include mixins.m('medium') {
    @include mixins.nested('collapse-item') {
      &__header {
        padding: mixins.css-variable('collapse-padding--item-header--medium');
      }

      &__content {
        padding: mixins.css-variable('collapse-padding--item-content--medium');
      }
    }
  }

  @include mixins.m('large') {
    @include mixins.nested('collapse-item') {
      &__header {
        padding: mixins.css-variable('collapse-padding--item-header--large');
      }

      &__content {
        padding: mixins.css-variable('collapse-padding--item-content--large');
      }
    }
  }


  @include mixins.m('filled') {
    @include mixins.nested('collapse-item') {
      &__header {
        padding-right: mixins.css-variable('spacing-5');
        padding-left: mixins.css-variable('spacing-5');
      }

      &__content {
        padding: mixins.css-variable('spacing-3') mixins.css-variable('spacing-5');
      }

    }
  }

  @include mixins.m('left') {
    @include mixins.nested('collapse-item') {
      &__header, &__content {
        padding-left: mixins.css-variable('collapse-padding-left--item-header-content--left');
      }

      &__icon {
        position: absolute;
        right: auto;
        left: mixins.css-variable('collapse-left--item-icon--left');
        display: flex;
        align-items: center;
        justify-content: center;
        width: mixins.css-variable('collapse-width--item-icon--left');
        height: 100%;
        font-size: mixins.css-variable('collapse-font-size--item-icon--left');
      }
    }
  }

  @include mixins.m('right') {
    @include mixins.be('collapse-item', 'icon', false) {
      position: absolute;
      right: mixins.css-variable('collapse-right--item-icon--right');
      left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: mixins.css-variable('collapse-width--item-icon--right');
      height: 100%;
      font-size: mixins.css-variable('collapse-font-size--item-icon--right');
    }
    @include mixins.b('collapse-item', false) {
      &::after {
        width: calc(
          100% - #{mixins.css-variable('collapse-right--item-icon--right')} - #{mixins.css-variable('collapse-right--item-icon--right')}
        );
        margin: 0 mixins.css-variable('collapse-right--item-icon--right');
      }
    }
  }

  @include mixins.parallel-modifier('filled', 'left') {
    @include mixins.nested('collapse-item') {
      &__header, &__content {
        padding-left: mixins.css-variable('collapse-filled-padding-left--item-header-content--left');
      }

      &__icon {
        left: mixins.css-variable('collapse-filled-left--item-icon--left');
      }
    }
  }

  @include mixins.parallel-modifier('filled', 'right') {
    @include mixins.be('collapse-item', 'icon', false) {
      right: mixins.css-variable('collapse-filled-right--item-icon--right');
    }
    @include mixins.b('collapse-item', false) {
      &::after {
        width: calc(
          100% - #{mixins.css-variable('collapse-filled-right--item-icon--right')} - #{mixins.css-variable('collapse-filled-right--item-icon--right')}
        );
        margin: 0 mixins.css-variable('collapse-filled-right--item-icon--right');
      }
    }
  }

  
}

@include mixins.b('collapse') {
  @include mixins.parallel-modifier('filled', 'small') {
    @include mixins.siblings-block('collapse-item') {
      margin-top: mixins.css-variable('collapse-margin-top--item--filled--small--siblings');
    }
  }
}

@include mixins.b('collapse-item') {
  &::after {
    display: block;
    width: calc(
      100% - #{mixins.css-variable('collapse-padding-left--item-header-content--left')} - #{mixins.css-variable('collapse-right--item-icon--right')}
    );
    height: 1px;
    margin: 0 0 0 mixins.css-variable('collapse-padding-left--item-header-content--left');
    background-color: mixins.css-variable('collapse-border-color--item');
    content: '';
  }

  @include mixins.e('header') {
    position: relative;
    display: flex;
    align-items: center;
    color: mixins.css-variable('collapse-color--item-header');
    font-size: mixins.css-variable('collapse-font-size--item-header');
    border-radius: mixins.css-variable('collapse-border-radius');
    cursor: pointer;
  }

  @include mixins.e('body') {
    overflow: hidden;
  }

  @include mixins.e('content') {
    color: mixins.css-variable('collapse-color--item-content');
    font-size: mixins.css-variable('collapse-font-size--item-content');
    line-height: mixins.css-variable('collapse-line-height--item-content');

    @include mixins.m('nest') {
      padding-left: mixins.css-variable('collapse-padding-left--item-content--nest') !important;
    }
  }

  @include mixins.e('icon') {
    @include mixins.m('expand') {
      transform: rotateZ(180deg);
    }
  }

  @include mixins.m('disabled') {
    opacity: 0.5;
  }
}

@include mixins.b('collapse-item') {
  @include mixins.m('expand') {
    @include mixins.bm('collapse-item', 'nest', false) {
      &::after {
        display: none;
      }
    }
  }
}


@include mixins.b('collapse') {
  @include mixins.m('border') {
    @include mixins.siblings-block('collapse-item') {
      border-top: none;
    }

    @include mixins.nested('collapse-item') {
      &:first-of-type {
        border-top-left-radius: mixins.css-variable('collapse-border-radius');
        border-top-right-radius: mixins.css-variable('collapse-border-radius');
        @include mixins.b('collapse-item') {
          &__header {
            border-top-left-radius: mixins.css-variable('collapse-border-radius');
            border-top-right-radius: mixins.css-variable('collapse-border-radius');
          } 
        } 
      }

      &:last-of-type {
        border-bottom-right-radius: mixins.css-variable('collapse-border-radius');
        border-bottom-left-radius: mixins.css-variable('collapse-border-radius');
        @include mixins.b('collapse-item') {
          &__header {
            border-bottom-right-radius: mixins.css-variable('collapse-border-radius');
            border-bottom-left-radius: mixins.css-variable('collapse-border-radius');
          } 
        }
      }



      border: 1px solid mixins.css-variable('collapse-border-color--item');

      &::after {
        display: none;
      }

      &__body {
        background-color: mixins.css-variable('collapse-bg--item-body--border');
      }

      &__header {
        padding-right: mixins.css-variable('spacing-5');
        padding-left: mixins.css-variable('spacing-5');
        background-color: mixins.css-variable('collapse-bg--item-header--border');
        border-radius: 0;

        &:hover {
          background-color: mixins.css-variable('collapse-bg--item-header--border--hover');
        }

        &:active {
          background-color: mixins.css-variable('collapse-bg--item-header--border--press');
        }
      }

      &__content {
        padding: mixins.css-variable('collapse-padding--item-content--border') !important;

      }

      @include mixins.m('disabled') {
        @include mixins.be('collapse-item', 'header', false) {
          &:hover {
            background-color: mixins.css-variable('collapse-bg--item-header--border--disabled--hover');
          }
        }
      }
    }
  }

  @include mixins.parallel-modifier('border', 'left') {
    @include mixins.nested('collapse-item') {
      &__header, &__content {
        padding-left: mixins.css-variable('collapse-border-padding-left--item-header-content--left');
      }

      &__icon {
        left: mixins.css-variable('collapse-border-left--item-icon--left');
      }
    }
  }

  @include mixins.parallel-modifier('border', 'right') {
    @include mixins.be('collapse-item', 'icon', false) {
      right: mixins.css-variable('collapse-border-right--item-icon--right');
    }
    @include mixins.b('collapse-item', false) {
      &::after {
        width: calc(
          100% - #{mixins.css-variable('collapse-border-right--item-icon--right')} - #{mixins.css-variable('collapse-border-right--item-icon--right')}
        );
        margin: 0 mixins.css-variable('collapse-border-right--item-icon--right');
      }
    }
  }
}

@include mixins.b('collapse') {
  @include mixins.parallel-modifier('border', 'medium') {
    @include mixins.siblings-block('collapse-item') {
      &__header {
        padding-top: mixins.css-variable('spacing-3');
        padding-bottom: mixins.css-variable('spacing-3');
      }
    }
  }
}