@use '../../../../../styles/mixins';

@include mixins.b('dropdown') {
  @include mixins.e('inner') {
    @include mixins.m('gray') {
      background: mixins.css-variable('dropdown-bg--gray') !important;

      @include mixins.b('dropdown-item', false) {
        color: mixins.css-variable('dropdown-color--gray');

        @include mixins.is-not('disabled') {
          @include mixins.e('inner', false) {
            outline-color: mixins.css-variable('dropdown-outline-color');

            &:hover {
              background: mixins.css-variable('dropdown-bg--gray--item--hover');
            }
          }

          @include mixins.is('active') {
            color: mixins.css-variable('dropdown-color--gray--active');

            @include mixins.e('inner', false) {
              background: mixins.css-variable('dropdown-bg--gray--item--active');
            }
          }
        }

        @include mixins.is('disabled') {
          color: mixins.css-variable('dropdown-color--gray--disabled');

          @include mixins.is('active') {
            color: mixins.css-variable('dropdown-color--gray--active--disabled');

            @include mixins.e('inner', false) {
              background: mixins.css-variable('dropdown-bg--gray--item--active--disabled');
            }
          }
        }
      }

      @include mixins.b('dropdown-submenu', false) {
        color: mixins.css-variable('dropdown-color--gray');

        @include mixins.is-not('disabled') {
          @include mixins.em('item', 'inner', false) {
            outline-color: mixins.css-variable('dropdown-outline-color');
          }

          @include mixins.e('inner', false) {
            background: mixins.css-variable('dropdown-bg--gray');
          }

          > #{mixins.element-name('reference', mixins.block('popover'))} {
            > #{mixins.element-name('item', mixins.block('dropdown-submenu'))} {
              @include mixins.m('inner') {
                background: mixins.css-variable('dropdown-bg--gray');
              }

              &:hover {
                @include mixins.em('item', 'inner', false) {
                  background: mixins.css-variable('dropdown-bg--gray--item--hover');
                }
              }
            }
          }

          @include mixins.is('active') {
            > #{mixins.element-name('reference', mixins.block('popover'))} {
              > #{mixins.element-name('item', mixins.block('dropdown-submenu'))} {
                color: mixins.css-variable('dropdown-color--gray--active');
              }
            }
          }

          @include mixins.is('selected') {
            > #{mixins.element-name('reference', mixins.block('popover'))} {
              > #{mixins.element-name('item', mixins.block('dropdown-submenu'))} {
                color: mixins.css-variable('dropdown-color--gray--active');

                > #{mixins.modifier-name('inner', 'item', mixins.block('dropdown-submenu'))} {
                  background: mixins.css-variable('dropdown-bg--gray--item--active');
                }
              }
            }
          }
        }

        @include mixins.is('disabled') {
          @include mixins.e('item', false) {
            color: mixins.css-variable('dropdown-color--gray--disabled');
          }

          @include mixins.is('active') {
            > #{mixins.element-name('reference', mixins.block('popover'))} {
              > #{mixins.element-name('item', mixins.block('dropdown-submenu'))} {
                color: mixins.css-variable('dropdown-color--gray--active--disabled');
              }
            }
          }

          @include mixins.is('selected') {
            > #{mixins.element-name('reference', mixins.block('popover'))} {
              > #{mixins.element-name('item', mixins.block('dropdown-submenu'))} {
                color: mixins.css-variable('dropdown-color--gray--active--disabled');

                > #{mixins.modifier-name('inner', 'item', mixins.block('dropdown-submenu'))} {
                  background: mixins.css-variable('dropdown-bg--gray--item--active--disabled');
                }
              }
            }
          }
        }
      }
    }
  }
}
