@use '../../../../styles/mixins';

@include mixins.b('date-picker-panel-header') {
  @include mixins.e('inner') {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: mixins.css-variable('date-picker', 'size', 'panel', 'header', 'height');
    padding: mixins.css-variable('date-picker', 'spacing', 'panel', 'header', 'padding');
    border-bottom: mixins.css-variable('date-picker', 'border', 'divider');

    @include mixins.m('left') {
      display: flex;
      grid-column-gap: 16px;
      align-items: center;
      line-height: 1;
      text-align: left;
    }

    @include mixins.m('center') {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      font-weight: mixins.css-variable('date-picker', 'font-weight', 'panel', 'header', 'date-show');
    }

    @include mixins.m('right') {
      display: flex;
      grid-column-gap: 16px;
      align-items: center;
      line-height: 1;
      text-align: right;
    }
  }

  @include mixins.e('switcher') {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixins.m('item') {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: mixins.css-variable('date-picker', 'size', 'panel', 'header', 'switcher', 'size');
      min-height: mixins.css-variable('date-picker', 'size', 'panel', 'header', 'switcher', 'size');
      color: mixins.css-variable('date-picker', 'color', 'panel', 'header');
      cursor: pointer;
      transition: mixins.css-variable('date-picker', 'transition', 'color-behavior');

      &:hover {
        color: mixins.css-variable('date-picker', 'color', 'panel', 'header', 'hover');
      }

      &:active {
        color: mixins.css-variable('date-picker', 'color', 'panel', 'header', 'press');
      }

      @include mixins.is('disabled') {
        color: mixins.css-variable('date-picker', 'color', 'panel', 'header', 'disabled');
        cursor: not-allowed;
      }

      @include mixins.is('readonly') {
        color: mixins.css-variable('date-picker', 'color', 'panel', 'header');
        cursor: default;
      }
    }

    @include mixins.is('hidden') {
      visibility: hidden;
    }
  }

  @include mixins.e('datetime-trigger') {
    display: flex;
    grid-column-gap: mixins.css-variable('date-picker', 'spacing', 'panel', 'header', 'datetime-trigger', 'gap');
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    height: mixins.css-variable('date-picker', 'size', 'panel', 'header', 'datetime-trigger', 'height');
    padding: mixins.css-variable('date-picker', 'spacing', 'panel', 'header', 'datetime-trigger', 'padding');
    border-bottom: mixins.css-variable('date-picker', 'border', 'divider');

    @include mixins.nested('input') {
      flex: 1;
    }

    @include mixins.nested('picker') {
      --h-picker-size-append-icon-width: 0;
      flex: 1;
    }
  }
}
