@use '../../../../styles/mixins';

$values: (
  size: (
    panel: (
      shortcuts: (
        item: (
          height: 40px,
        ),
      ),
      header: (
        height: 48px,
        switcher: (
          size: 32px,
        ),
        datetime-trigger: (
          height: 56px,
        ),
      ),
      body: (
        grid-item: (
          dot: 4px,
        ),
        year: (
          item: (
            height: 32px,
            width: 60px,
          ),
        ),
        month: (
          item: (
            height: 32px,
            width: 60px,
          ),
        ),
        day: (
          item: (
            height: 32px,
            width: 32px,
          ),
        ),
        time-panel: (
          min-width: 80px,
        ),
      ),
    ),
  ),
  font-size: (
    panel: (
      body: (
        week: mixins.css-variable('text', 'sm'),
        grid-item: mixins.css-variable('text', 'base'),
      ),
    ),
  ),
  font-weight: (
    panel: (
      header: (
        date-show: mixins.css-variable('weight', 'strong'),
      ),
    ),
  ),
  color: (
    '': mixins.css-variable('text', 'primary'),
    range-panel-separator: mixins.css-variable('text', 'tertiary'),
    panel: (
      header: (
        '': mixins.css-variable('text', 'primary'),
        disabled: mixins.css-variable('text', 'disabled'),
        hover: mixins.css-variable('text', 'brand', 'hover'),
        press: mixins.css-variable('text', 'brand', 'press'),
        separator: mixins.css-variable('text', 'disabled'),
      ),
      body: (
        grid-item: (
          '': mixins.css-variable('text', 'primary'),
          hover: mixins.css-variable('text', 'primary'),
          press: mixins.css-variable('text', 'primary'),
          active: mixins.css-variable('text', 'inverse'),
          range: mixins.css-variable('text', 'primary'),
          disabled: mixins.css-variable('text', 'disabled'),
          prev-next: mixins.css-variable('text', 'disabled'),
        ),
      ),
    ),
  ),
  border: (
    divider: #{1px solid mixins.css-variable('divider', 'default')},
    panel: (
      body: (
        grid-item: (
          today: #{1px solid mixins.css-variable('border', 'default')},
          same-start-end: #{1px solid mixins.css-variable('border', 'brand', 'default')},
        ),
      ),
    ),
  ),
  border-radius: mixins.css-variable('radius', 'm'),
  background: (
    panel: (
      body: (
        grid-item: (
          '': mixins.css-variable('bg', 'transparent'),
          hover: mixins.css-variable('bg', 'secondary'),
          press: mixins.css-variable('bg', 'tertiary'),
          active: mixins.css-variable('bg', 'brand', 'default'),
          range: mixins.css-variable('bg', 'weak', 'hover'),
          disabled: mixins.css-variable('bg', 'default'),
          prev-next: mixins.css-variable('bg', 'transparent'),
          dot: mixins.css-variable('bg', 'brand', 'default'),
          dot-active: mixins.css-variable('bg', 'default'),
        ),
      ),
    ),
  ),
  spacing: (
    panel: (
      shortcuts: mixins.css-variable('spacing-5'),
      header: (
        padding: #{0 mixins.css-variable('spacing-3')},
        datetime-trigger: (
          padding: #{mixins.css-variable('spacing-4') mixins.css-variable('spacing-5')},
          gap: mixins.css-variable('spacing-3'),
        ),
      ),
      body: (
        year: mixins.css-variable('spacing-5'),
        month: mixins.css-variable('spacing-5'),
        day: mixins.css-variable('spacing-5'),
        grid-item: (
          gap: #{mixins.css-variable('spacing-3') 0},
          padding: #{0 mixins.css-variable('spacing-2')},
        ),
      ),
    ),
  ),
  transition: (
    color-behavior: mixins.css-variable('transition', 'color', 'behavior'),
  ),
);
