@use '../../../../styles/mixins';
@use './utils';

@include mixins.b('color-picker-panel__color-type') {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  @include mixins.e('list') {
    display: flex;
    flex: 1;
    align-items: flex-start;
    padding: 0 0 mixins.css-variable('color-picker-padding--color-type');
    border-bottom: mixins.css-variable('color-picker-border--default');

    @include mixins.m('wrapper') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  @include mixins.e('item') {
    position: relative;
    width: mixins.css-variable('color-picker-size--color-type');
    height: mixins.css-variable('color-picker-size--color-type');
    margin-right: mixins.css-variable('color-picker-margin-right--color-type-item--siblings');
    background: mixins.css-variable('color-picker-bg--color-type-item--pure');
    background-size: 10px 10px;
    border-radius: mixins.css-variable('color-picker-border-radius--color-type-item');
    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      border: mixins.css-variable('color-picker-border--transparent');
      border-radius: mixins.css-variable('color-picker-border-radius--color-type-item');
      transform: translate(-50%, -50%);
      transition: mixins.css-variable('color-picker-transition--border-color');
      content: '';
    }

    &:hover {
      &::after {
        border-color: mixins.css-variable('color-picker-border-color--color-type-item--hover');
      }
    }

    &:active {
      &::after {
        border-color: mixins.css-variable('color-picker-border-color--color-type-item--press');
      }
    }

    @include mixins.is('linear') {
      background: linear-gradient(to top, mixins.css-variable('bg-default'), mixins.css-variable('color-picker-bg--color-type-item--pure'));
    }

    @include mixins.is('radial') {
      background: radial-gradient(circle, mixins.css-variable('bg-default'), mixins.css-variable('color-picker-bg--color-type-item--pure'));
    }

    @include mixins.is('conic') {
      background: conic-gradient(mixins.css-variable('bg-default'), mixins.css-variable('color-picker-bg--color-type-item--pure'));
    }

    @include mixins.is('active') {
      &::after {
        border-color: mixins.css-variable('color-picker-border-color--color-type-item--active');
      }
    }
  }

  @include mixins.e('gradient') {
    display: flex;
    flex: 1;
    align-items: flex-start;
    width: 100%;

    @include mixins.m('wrapper') {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: mixins.css-variable('color-picker-padding--color-type');
    }

    @include mixins.m('track') {
      @include mixins.with-alpha(2px);

      position: relative;
      display: flex;
      width: 100%;
      height: mixins.size(8);
      border-radius: mixins.css-variable('color-picker-border-radius--track');
    }

    @include mixins.m('track-color') {
      @include utils.absolute-full;

      z-index: 0;
      border-radius: mixins.css-variable('color-picker-border-radius--track');
    }

    @include mixins.m('item') {
      @include utils.cursor;

      top: 50%;
      z-index: 1;
      transform: translateY(-50%);

      @include mixins.is('active') {
        &::after {
          border-color: mixins.css-variable('color-picker-border-color--color-type-item--active');
        }
      }
    }

    @include mixins.m('input') {
      flex: 0 0 40px;
      margin-left: 12px;

      @include mixins.nested('input-number') {
        min-width: 0;

        &__inner {
          #{mixins.css-variable-name('input-number-padding--inner')}: 0 4px;
          width: 100%;
        }

        &__suffix {
          padding: 0;

          &--wrapper {
            min-width: 8px !important;
          }
        }
      }
    }
  }
}
