@use '../../../../styles/mixins';

@include mixins.b('auto-complete-option') {
  min-height: mixins.css-variable('select', 'size', 'option', 'height');
  color: mixins.css-variable('select', 'color', 'option');
  background: mixins.css-variable('select', 'background', 'option');
  cursor: pointer;

  @include mixins.e('inner') {
    position: relative;
    display: flex;
    align-items: center;
    min-height: mixins.css-variable('select', 'size', 'option', 'height');
    padding: mixins.css-variable('select', 'spacing', 'option', 'padding');
    transition: mixins.css-variable('select', 'transition');
  }

  @include mixins.e('checkbox') {
    display: flex;
    align-items: center;
  }

  @include mixins.e('content-wrapper') {
    display: flex;
    flex: 1;
    min-width: 0;
  }

  @include mixins.e('content') {
    display: -webkit-box;
    flex: 1;
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: mixins.css-variable('max-line--option');
    -webkit-box-orient: vertical;

    .keyword {
      color: mixins.css-variable('select', 'color', 'option', 'keyword');
    }
  }

  @include mixins.e('icon') {
    position: absolute;
    top: 50%;
    right: mixins.css-variable('select', 'spacing', 'option', 'right', 'padding');
    height: 1rem;
    transform: translateY(-50%);
  }

  @include mixins.e('description') {
    overflow: hidden;
    color: mixins.css-variable('select', 'color', 'option', 'description');
    white-space: nowrap;
    text-overflow: ellipsis;

    .keyword {
      color: mixins.css-variable('select', 'color', 'option', 'keyword');
    }
  }

  @include mixins.is('disabled') {
    color: mixins.css-variable('select', 'color', 'option', 'disabled');
    cursor: not-allowed;
  }

  @include mixins.is('active') {
    @include mixins.e('content', false) {
      font-weight: bold;
    }

    @include mixins.has('icon') {
      @include mixins.e('content', false) {
        padding-right: mixins.css-variable('select', 'spacing', 'option', 'right', 'has-icon', 'padding');
      }
    }
  }

  @include mixins.is('hide') {
    display: none;
  }

  @include mixins.is-not('disabled') {
    &:hover {
      @include mixins.e('inner', false) {
        background: mixins.css-variable('select', 'background', 'option', 'hover');
      }
    }

    @include mixins.is('focus') {
      background: mixins.css-variable('select', 'background', 'option', 'hover');
    }
  }

  @include mixins.is('description-bottom') {
    @include mixins.e('content-wrapper', false) {
      flex-wrap: wrap;
    }

    @include mixins.e('content', false) {
      flex-basis: 100%;
    }

    @include mixins.e('description', false) {
      flex-basis: 100%;
      font-size: mixins.css-variable('select', 'font-size', 'description', 'bottom');
    }
  }
}
