@use '../../../../styles/mixins';

@include mixins.b('button') {
  display: inline-flex;
  grid-column-gap: mixins.css-variable('button-siblings-gap');
  align-items: center;
  justify-content: center;
  height: mixins.css-variable('button-height');
  padding: 0 mixins.css-variable('button-x-spacing');
  color: mixins.css-variable('button-color');
  font-size: mixins.css-variable('button-font-size');
  line-height: mixins.css-variable('button-line-height');
  white-space: nowrap;
  vertical-align: middle;
  border: mixins.css-variable('button-border');
  border-radius: mixins.css-variable('button-radius');
  cursor: pointer;
  transition: all mixins.css-variable('button-transition-time');

  @include mixins.m('block') {
    width: 100%;
  }

  @include mixins.is('auto-fit') {
    min-width: mixins.css-variable('button-min-width');

    @include mixins.is('with-icon') {
      min-width: mixins.css-variable('button-min-width--with-icon');
    }
  }

  @include mixins.m('equally') {
    width: mixins.css-variable('button-height');
    min-width: initial !important;
    padding: 0;

    @include mixins.e('icon') {
      display: inline-flex;
      align-items: center;
    }
  }

  @include mixins.e('icon') {
    line-height: mixins.css-variable('button-line-height--icon');
    transition: color mixins.css-variable('button-transition-time');

    @include mixins.is-not('custom-size') {
      height: mixins.css-variable('button-size--icon');
    }
  }

  @include mixins.m('small') {
    height: mixins.css-variable('button-height--small');
    padding: 0 mixins.css-variable('button-x-spacing--small');
    font-size: mixins.css-variable('button-font-size--small');
    border-radius: mixins.css-variable('button-radius--small');

    @include mixins.e('icon', false) {
      @include mixins.is-not('custom-size') {
        height: mixins.css-variable('button-size--icon--small');
      }
    }

    @include mixins.is('auto-fit') {
      min-width: mixins.css-variable('button-min-width--small');

      @include mixins.is('with-icon') {
        min-width: mixins.css-variable('button-min-width--with-icon--small');
      }
    }
  }

  @include mixins.m('large') {
    height: mixins.css-variable('button-height--large');
    padding: 0 mixins.css-variable('button-x-spacing--large');
    font-size: mixins.css-variable('button-font-size--large');
    border-radius: mixins.css-variable('button-radius--large');

    @include mixins.e('icon', false) {
      @include mixins.is-not('custom-size') {
        height: mixins.css-variable('button-size--icon--large');
      }
    }

    @include mixins.is('auto-fit') {
      min-width: mixins.css-variable('button-min-width--large');

      @include mixins.is('with-icon') {
        min-width: mixins.css-variable('button-min-width--with-icon--large');
      }
    }
  }

  @include mixins.m('huge') {
    height: mixins.css-variable('button-height--huge');
    padding: 0 mixins.css-variable('button-x-spacing--huge');
    font-size: mixins.css-variable('button-font-size--huge');
    border-radius: mixins.css-variable('button-radius--huge');

    @include mixins.e('icon', false) {
      @include mixins.is-not('custom-size') {
        height: mixins.css-variable('button-size--icon--huge');
      }
    }

    @include mixins.is('auto-fit') {
      min-width: mixins.css-variable('button-min-width--huge');

      @include mixins.is('with-icon') {
        min-width: mixins.css-variable('button-min-width--with-icon--huge');
      }
    }
  }

  @include mixins.parallel-modifier('small', 'equally') {
    width: mixins.css-variable('button-height--small');
    padding: 0;
  }

  @include mixins.parallel-modifier('large', 'equally') {
    width: mixins.css-variable('button-height--large');
    padding: 0;
  }

  @include mixins.parallel-modifier('huge', 'equally') {
    width: mixins.css-variable('button-height--huge');
    padding: 0;
  }

  &[disabled] {
    cursor: not-allowed;
  }

  @include mixins.m('round') {
    border-radius: mixins.css-variable('button-radius--round');
  }

  @include mixins.is('dashed') {
    border-style: dashed;
  }

  @include mixins.is('dotted') {
    border-style: dotted;
  }
}
