@use '../../../../styles/mixins';

@include mixins.b('button') {
  @include mixins.m('equally') {
    @include mixins.is('old-standard') {
      width: mixins.css-variable('button-height--icon-only--old-standard');
      min-width: initial !important;
      height: mixins.css-variable('button-height--icon-only--old-standard');
      padding: 0;
    }
  }

  @include mixins.parallel-modifier('small', 'equally') {
    @include mixins.is('old-standard') {
      width: mixins.css-variable('button-height--small--icon-only--old-standard');
      height: mixins.css-variable('button-height--small--icon-only--old-standard');
    }
  }

  @include mixins.parallel-modifier('large', 'equally') {
    @include mixins.is('old-standard') {
      width: mixins.css-variable('button-height--large--icon-only--old-standard');
      height: mixins.css-variable('button-height--large--icon-only--old-standard');
    }
  }

  @include mixins.parallel-modifier('huge', 'equally') {
    @include mixins.is('old-standard') {
      width: mixins.css-variable('button-height--huge--icon-only--old-standard');
      height: mixins.css-variable('button-height--huge--icon-only--old-standard');
    }
  }
}
