@use '../../../../styles/mixins';

@include mixins.b('steps') {
  @include mixins.b('step', false) {
    @include mixins.is('clickable') {
      cursor: pointer;

      &:hover {
        @include mixins.e('icon') {
          color: mixins.css-variable('steps-color--icon--hover');
          border-color: mixins.css-variable('steps-border-color--icon--hover');

          path {
            fill: mixins.css-variable('steps-color--icon--hover');
          }
        }

        @include mixins.e('content') {
          @include mixins.m('title', 'description') {
            color: mixins.css-variable('steps-color--icon--hover');
          }
        }
      }

      &:active {
        @include mixins.e('icon') {
          color: mixins.css-variable('steps-color--icon--active');
          border-color: mixins.css-variable('steps-border-color--icon--active');

          path {
            fill: mixins.css-variable('steps-color--icon--active');
          }
        }

        @include mixins.e('content') {
          @include mixins.m('title', 'description') {
            color: mixins.css-variable('steps-color--icon--active');
          }
        }
      }

      @include mixins.is('process') {
        &:hover {
          @include mixins.e('icon') {
            color: mixins.css-variable('steps-color--icon--process');
            border-color: mixins.css-variable('steps-border-color--icon--process--hover');

            path {
              fill: mixins.css-variable('steps-color--icon--process');
            }
          }
        }

        &:active {
          @include mixins.e('icon') {
            color: mixins.css-variable('steps-color--icon--process');
            border-color: mixins.css-variable('steps-border-color--icon--process--active');

            path {
              fill: mixins.css-variable('steps-color--icon--process');
            }
          }
        }
      }

      @include mixins.is('error') {
        &:hover {
          @include mixins.e('icon') {
            color: mixins.css-variable('steps-color--icon--error');
            border-color: mixins.css-variable('steps-border-color--icon--error--hover');

            path {
              fill: mixins.css-variable('steps-color--icon--error');
            }
          }

          @include mixins.e('content') {
            @include mixins.m('title', 'description') {
              color: mixins.css-variable('steps-color--title--error--hover');
            }
          }
        }

        &:active {
          @include mixins.e('icon') {
            color: mixins.css-variable('steps-color--icon--error');
            border-color: mixins.css-variable('steps-border-color--icon--error--active');

            path {
              fill: mixins.css-variable('steps-color--icon--error');
            }
          }

          @include mixins.e('content') {
            @include mixins.m('title', 'description') {
              color: mixins.css-variable('steps-color--title--error--active');
            }
          }
        }
      }

      @include mixins.is('wait') {
        &:hover {
          @include mixins.e('icon') {
            background: mixins.css-variable('steps-bg--icon--dot--hover');
          }
        }

        &:active {
          @include mixins.e('icon') {
            background: mixins.css-variable('steps-bg--icon--dot--hover');
          }
        }
      }
    }
  }

  @include mixins.is-not('dot') {
    @include mixins.b('step', false) {
      @include mixins.is('clickable') {
        @include mixins.is('process') {
          &:hover {
            @include mixins.e('icon') {
              background: mixins.css-variable('steps-bg--icon--process--hover');
            }
          }

          &:active {
            @include mixins.e('icon') {
              background: mixins.css-variable('steps-bg--icon--process--active');
            }
          }
        }

        @include mixins.is('error') {
          &:hover {
            @include mixins.e('icon') {
              background: mixins.css-variable('steps-bg--icon--error--hover');
            }
          }

          &:active {
            @include mixins.e('icon') {
              background: mixins.css-variable('steps-bg--icon--error--actie');
            }
          }
        }
      }
    }
  }

  @include mixins.is('dot') {
    @include mixins.b('step', false) {
      @include mixins.is('clickable') {
        @include mixins.is('finish') {
          &:hover {
            @include mixins.e('icon') {
              background: mixins.css-variable('steps-bg--icon--finished--dot--hover');
            }
          }

          &:active {
            @include mixins.e('icon') {
              background: mixins.css-variable('steps-bg--icon--finished--dot--active');
            }
          }
        }
      }
    }
  }
}
