@use 'sass:map';
@use '../../../../styles/mixins';
@import './panel-content';
@import './panel-time';
@import './time-select';

@include mixins.b('time-picker') {
  z-index: 9999;
  padding: mixins.css-variable('time-picker-padding');

  @include mixins.m('time') {
    width: mixins.css-variable('time-picker-width--time');
    min-width: mixins.css-variable('time-picker-width--time');
  }

  @include mixins.m('minutes') {
    width: mixins.css-variable('time-picker-width--minutes');
    min-width: mixins.css-variable('time-picker-width--minutes');
  }

  @include mixins.m('seconds') {
    width: mixins.css-variable('time-picker-width--seconds');
    min-width: mixins.css-variable('time-picker-width--seconds');
  }

  @include mixins.m('range') {
    width: auto;
  }

  @include mixins.e('body') {
    background: mixins.css-variable('time-picker-bg--body');
    border: mixins.css-variable('time-picker-border--default');
    border-radius: mixins.css-variable('time-picker-border-radius');
    box-shadow: mixins.css-variable('time-picker-box-shadow');
  }

  @include mixins.e('icon-wrapper') {
    display: flex;
    align-items: center;
    justify-content: center;
    width: mixins.css-variable('time-picker-width--icon-wrapper');
    height: 100%;
    cursor: pointer;
  }

  @include mixins.e('icon') {
    @include mixins.clear-icon;
  }

  #{mixins.block-name('input--with-prefix')} #{mixins.block-name('input__inner')} {
    padding-left: mixins.css-variable('time-picker-padding--left--input-with-prefix-suffix');
  }
}

@include mixins.b('time-picker-trigger') {
  width: 100%;
}

@include mixins.b('time-picker-reference') {
  width: 100%;
}
