@use '../../../../styles/mixins';

@include mixins.b('time-picker-content') {
  display: flex;

  @include mixins.e('main') {
    flex: 1;

    @include mixins.m('range') {
      .n-panel-time {
        flex: 1;

        &:nth-child(2) {
          border-left: 4px solid #E9EAEC;
        }
      }
    }
  }

  @include mixins.m('time') {
    width: mixins.css-variable('time-picker-content-width--time');
    min-width: mixins.css-variable('time-picker-content-width--time');
  }

  @include mixins.m('minutes') {
    width: mixins.css-variable('time-picker-content-width--minutes');
    min-width: mixins.css-variable('time-picker-content-width--minutes');
  }

  @include mixins.m('seconds') {
    width: mixins.css-variable('time-picker-content-width--seconds');
    min-width: mixins.css-variable('time-picker-content-width--seconds');
  }


  @include mixins.e('header') {
    display: flex;
    border-bottom: 1px solid mixins.css-variable('border-noninteractive');;
  }

  @include mixins.e('header-cell') {
    flex: 1;
    padding: mixins.css-variable('time-picker-padding--header-cell');
    color: mixins.css-variable('text-primary');
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    text-align: center;
  }

  @include mixins.e('body-wrapper') {
    display: flex;
  }

  @include mixins.m('left') {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

@include mixins.bem('date-picker', 'content', 'panel') {
  @include mixins.e('main') {
    width: auto;
    min-width: auto;
  }
}
