@use '../../../../styles/mixins';

@include mixins.b('time-select') {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 1px;

  @include mixins.e('container') {
    width: 100%;
    height: 100%;
    padding: mixins.css-variable('time-picker-padding-y--container--select') 0;

    @include mixins.m('time-spinner') {
      border-right: mixins.css-variable('time-picker-border--select');

      &:last-child {
        border-right: none;
      }
    }
  }

  @include mixins.e('wrap') {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  @include mixins.e('item') {
    height: 40px;
    padding: mixins.css-variable('time-picker-padding--item--select');
    list-style: none;
    cursor: pointer;

    &:hover {
      background: mixins.css-variable('time-picker-bg--item--select--hover');
    }

    & > span {
      color: mixins.css-variable('text-primary');
    }

    @include mixins.m('selected') {
      background: mixins.css-variable('time-picker-bg--item--select--selected');

      span {
        font-weight: 540;
      }
    }

    @include mixins.m('disabled') {
      span {
        color: mixins.css-variable('time-picker-color--select--disabled');
      }

      &:hover {
        background: mixins.css-variable('time-picker-bg--item--select--disabled--hover');
        cursor: not-allowed;
      }
    }

    @include mixins.m('blank') {
      &:hover {
        background: mixins.css-variable('time-picker-bg--item--select--blank--hover');
        cursor: default;
      }
    }
  }
}
