@use '../../../../styles/mixins';

$values: (
  size: (
    height: (
      time-cell: 40px,
      panel-header: 39px,
    )
  ),
  color: (
    time-cell: (
      '': mixins.css-variable('text', 'primary'),
      disabled: mixins.css-variable('text', 'disabled'),
    ),
    panels-header: (
      separator: mixins.css-variable('text', 'disabled')
    )
  ),
  background: (
    time-cell: (
      '': mixins.css-variable('bg', 'default'),
      hover: mixins.css-variable('bg', 'secondary'),
      active: mixins.css-variable('bg', 'weak', 'activated'),
      active-hover: mixins.css-variable('bg', 'weak', 'hover'),
      disabled-active: mixins.css-variable('bg', 'weak', 'disabled'),
    )
  ),
  font-weight: (
    time-cell: (
      active: mixins.css-variable('weight', 'strong'),
    ),
    panel-header: (
      label: mixins.css-variable('weight', 'strong'),
    )
  ),
  border-color: (
    '': mixins.css-variable('divider', 'default'),
  ),
  border: (
    panel-column: #{1px solid mixins.css-variable('time-picker', 'border-color')},
    panel: #{2px solid mixins.css-variable('time-picker', 'border-color')}
  ),
  spacing: (
    padding: (
      time-cell: #{0 mixins.css-variable('spacing-5')}
    ),
  ),
  transition: (
    color-behavior: mixins.css-variable('transition', 'color-behavior'),
  )
);
