@use '../../../../styles/mixins';

@include mixins.b('date-picker-footer') {
  display: flex;
  justify-content: space-between;
  padding: mixins.css-variable('date-picker-padding--content--footer');
  border-top: mixins.css-variable('date-picker-border--content--sidebar');

  @include mixins.e('left-button') {
    height: auto;
    padding: 0 !important;
  }

  @include mixins.e('default-footer') {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  @include mixins.bm('button', 'primary', false) {
    min-width: initial;
    padding: mixins.css-variable('date-picker-padding--content--footer--button--primary');
  }

  @include mixins.siblings-block('button') {
    margin: mixins.css-variable('date-picker-margin--content--footer--button--siblings');
  }
}
