@use 'sass:map';
@use '../../../../styles/mixins';
@import './var';

@include mixins.b('range-header') {
  display: flex;
  width: 100%;
  padding: mixins.css-variable('date-picker-padding--range-header');
  border-bottom: mixins.css-variable('date-picker-border--range-header--container');

  @include mixins.e('editor') {
    display: flex;

    @include mixins.e('input') {
      margin: mixins.css-variable('date-picker-margin--range-header__input');
    }
  }

  @include mixins.e('separator') {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    color: mixins.css-variable('date-picker-color--range-header--separator');
  }

  @include mixins.e('time-picker-panel') {
    &#{mixins.block-name('time-picker--time')} {
      width: 132px !important;
      min-width: 132px !important;
    }
  }
}
