@use '../../../../styles/mixins';

@include mixins.b('date-picker-year-month') {
  width: 100%;

  @include mixins.e('body') {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: mixins.css-variable('date-picker-margin--year-month--body');
    padding: mixins.css-variable('date-picker-padding--year-month--body');
    list-style: none;
  }

  @include mixins.e('render-box') {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(60px + ((100% - 240px) / 3));
    margin: mixins.css-variable('date-picker-margin--year-month--render-box');
    color: mixins.css-variable('date-picker-color--year-month--render-box');
    font-size: mixins.css-variable('date-picker-font-size--year-month--render-box');
    list-style: none;

    &:nth-child(4n) {
      width: 60px;
    }

    @include mixins.e('grid') {
      position: relative;
      z-index: 0;

      @include mixins.e('inner-grid') {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 32px;
        color: mixins.css-variable('date-picker-color--year-month--render-box--inner-grid');
        cursor: pointer;

        &:hover {
          background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--inner-grid--hover');
          border-radius: 2px;
        }
      }
    }

    @include mixins.m('no-current') {
      @include mixins.e('grid') {
        &::before {
          border: none !important;
        }
      }
      @include mixins.e('inner-grid') {
        color: mixins.css-variable('date-picker-color--panel-table--render-box') !important;
        background: mixins.css-variable('date-picker-bg--panel-table--render-box--no-current--inner-grid--hover') !important;

        &:hover {
          background: mixins.css-variable('date-picker-bg--panel-table--render-box--no-current--inner-grid--hover') !important;
        }
      }
      &#{mixins.block-name('date-picker-year-month__render-box--begin')}, &#{mixins.block-name('date-picker-year-month__render-box--end')} {
        @include mixins.e('inner-grid') {
          color: mixins.css-variable('date-picker-color--panel-table--render-box') !important;
          background: mixins.css-variable('date-picker-bg--panel-table--render-box--no-current--inner-grid--hover') !important;
  
          &:hover {
            background: mixins.css-variable('date-picker-bg--panel-table--render-box--no-current--inner-grid--hover') !important;
          }
        }
      }

      &#{mixins.block-name('date-picker-year-month__render-box--range')} {
        &::before {
          position: absolute;
          right: 0;
          left: 0;
          height: 100%;
          background: mixins.css-variable('date-picker-bg--panel-table--render-box--no-current--inner-grid--range');
          content: '';
        }
      }
    }

    @include mixins.m('today') {
      @include mixins.e('inner-grid') {
        border: mixins.css-variable('date-picker-border--year-month--render-box--today--grid');
        border-radius: mixins.css-variable('date-picker-border-radius--year-month--render-box--grid');

        &:hover {
          background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--today--grid--hover');
        }
      }
    }

    @include mixins.m('begin') {
      @include mixins.e('inner-grid') {
        color: mixins.css-variable('date-picker-color--year-month--render-box--begin--inner-grid');
        background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--begin--grid');
        border: none;
        border-radius: mixins.css-variable('date-picker-border-radius--year-month--render-box--grid');

        &:hover {
          background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--begin--grid--hover') !important;
        }
      }
    }

    @include mixins.m('range') {
      &::before {
        position: absolute;
        right: 0;
        left: 0;
        height: 100%;
        background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--range');
        content: '';
      }

      @include mixins.e('inner-grid') {
        &:hover {
          background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--range--grid');
        }
      }

      &#{mixins.block-name('date-picker-year-month__render-box--current-last')} {
        &::before {
          width: 60px;
        }
      }
    }

    @include mixins.m('end') {
      @include mixins.e('inner-grid') {
        color: mixins.css-variable('date-picker-color--year-month--render-box--end--inner-grid');
        background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--end--grid');
        border: none;
        border-radius: mixins.css-variable('date-picker-border-radius--year-month--render-box--grid');

        &:hover {
          background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--end--grid--hover') !important;
        }
      }

      &#{mixins.block-name('date-picker-year-month__render-box--begin')} {
        @include mixins.e('grid') {
          position: relative;
          z-index: 0;

          @include mixins.e('inner-grid') {
            border: none;
          }

          &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--begin--grid--hover--before');
            border: mixins.css-variable('date-picker-border--year-month--render-box--begin--before');
            border-radius: mixins.css-variable('date-picker-border-radius--panel-table--render-box--begin--grid');
            transform: translate(-50%, -50%);
            content: '';
          }
        }
      }
    }

    @include mixins.m('selected') {
      @include mixins.e('inner-grid') {
        color: mixins.css-variable('date-picker-color--year-month--render-box--selected--grid');
        background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--selected--grid');
        border: none;
        border-radius: mixins.css-variable('date-picker-border-radius--year-month--render-box--grid');

        &:hover {
          background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--selected--grid--hover') !important;
        }
      }
    }

    @include mixins.m('disabled') {
      cursor: not-allowed;

      @include mixins.e('inner-grid') {
        color: mixins.css-variable('date-picker-color--year-month--render-box--disabled--grid');
        border-color: mixins.css-variable('date-picker-border-color--year-month--render-box--inner-grid--disabled');
        cursor: not-allowed;

        &:hover {
          background: mixins.css-variable('date-picker-bg--panel--year-month--render-box--disabled--grid--hover');
        }
      }
    }
  }
}
