@use '../../../../styles/mixins/function';

$values: (
  size: (
    title: (
      max-width: 480px,
    ),
    content: (
      max-width: 720px,
      min-height: 24px,
    ),
    root: (
      min-height: 48px,
    ),
  ),
  font-size: (
    title: #{function.css-variable('text-xl')},
  ),
  color: (
    '': #{function.css-variable('text-primary')},
    content: #{function.css-variable('text-secondary')},
  ),
  background: (
    divider: #{function.css-variable('divider-default')},
  ),
  spacing: (
    root: (
      padding: #{function.css-variable('spacing-3')} 0 0,
    ),
    items: (
      padding: 0 #{function.css-variable('spacing-7')},
    ),
    main: (
      padding-bottom: #{function.css-variable('spacing-3')},
    ),
    content: (
      column-gap: #{function.css-variable('spacing-3')},
    ),
    inner: (
      row-gap: #{function.css-variable('spacing-2')},
    ),
    wrapper: (
      row-gap: #{function.css-variable('spacing-3')},
    ),
  ),
);
