$namespace: 'n' !default;
$element-separator: '__' !default;
$modifier-separator: '--' !default;
$state-prefix: 'is-' !default;
$has-state-prefix: 'has-' !default;
$css-variable-with-version: false !default;
$dark-mode-class-name: 'lego-dark-mode' !default;
