@use './function';

@mixin with-alpha($size: '6px') {
  background-image:
    linear-gradient(
      45deg,
      function.css-variable('text-disabled') 25%,
      function.css-variable('bg-transparent') 25%
    ),
    linear-gradient(
      135deg,
      function.css-variable('text-disabled') 25%,
      function.css-variable('bg-transparent') 25%
    ),
    linear-gradient(
      45deg,
      function.css-variable('bg-transparent') 75%,
      function.css-variable('text-disabled') 75%
    ),
    linear-gradient(
      135deg,
      function.css-variable('bg-transparent') 75%,
      function.css-variable('text-disabled') 75%
    );
  background-repeat: repeat;
  background-position: 0 0, #{$size} 0, #{$size} -#{$size}, 0 #{$size};
  background-size: calc(#{$size} * 2) calc(#{$size} * 2);
}

@mixin clear-icon() {
  color: function.css-variable('text-tertiary');
  cursor: pointer;

  &:hover {
    color: function.css-variable('text-secondary');
  }
}
