@use '../../../../styles/mixins';

@include mixins.b('menu--full-view') {
  position: absolute;
  top: 100%;
  width: 100%;
  transition: mixins.css-variable('menu', 'transition', 'all');

  @include mixins.e('container') {
    display: flex;
    grid-column-gap: mixins.css-variable('menu', 'spacing', 'full-view', 'group', 'column-gap');
    justify-content: center;
    margin: 0 auto;
    padding: mixins.css-variable('menu', 'spacing', 'full-view', 'padding');
  }

  @include mixins.e('group') {
    display: flex;
    flex-direction: column;
    width: mixins.css-variable('menu', 'size', 'full-view', 'group', 'width');
    padding: mixins.css-variable('menu', 'spacing', 'full-view', 'group', 'padding');

    @include mixins.m('title') {
      &-content {
        padding: mixins.css-variable('menu', 'spacing', 'full-view', 'item', 'padding');
        outline-color: mixins.css-variable('menu', 'border-color', 'outline');
      }

      @include mixins.has-not('router') {
        &::after {
          display: block;
          height: 1px;
          margin: mixins.css-variable('menu', 'spacing', 'full-view', 'group', 'title', 'divider', 'margin');
          content: '';
        }
      }

      @include mixins.is-not('disabled') {
        @include mixins.has('router') {
          cursor: pointer;
        }

        @include mixins.is('active') {
          font-weight: mixins.css-variable('menu', 'font-weight', 'title', 'active');
        }

        @include mixins.is('selectable') {
          cursor: pointer;
        }
      }
    }

    @include mixins.m('list') {
      display: grid;
      grid-gap: mixins.css-variable('menu', 'spacing', 'rows', 'full-view', 'group', 'item', 'column-gap')
        mixins.css-variable('menu', 'spacing', 'columns', 'full-view', 'group', 'item', 'column-gap');
      grid-template-columns: 1fr 1fr;
    }

    @include mixins.m('item') {
      display: flex;
      align-items: center;
      min-width: 0;
      height: mixins.css-variable('menu', 'size', 'full-view', 'group', 'item', 'height');
      padding: mixins.css-variable('menu', 'spacing', 'full-view', 'item', 'padding');
      border-radius: mixins.css-variable('menu', 'border-radius', 'item');
      outline-color: mixins.css-variable('menu', 'border-color', 'outline');
      cursor: pointer;
      transition: mixins.css-variable('menu', 'transition', 'all');

      &-icon {
        margin-right: mixins.css-variable('menu', 'spacing', 'title-icon', 'full-view', 'margin-right');
        line-height: 1;
      }

      &-content {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      @include mixins.is('disabled') {
        cursor: not-allowed;
      }

      @include mixins.is-not('disabled') {
        @include mixins.is('router') {
          cursor: pointer;
        }
      }

      @include mixins.is('active') {
        font-weight: mixins.css-variable('menu', 'font-weight', 'title', 'active');
      }
    }
  }
}
