@use '../../../../styles/mixins';

@include mixins.b('menu') {
  @include mixins.is('vertical') {
    width: mixins.css-variable('menu', 'size', 'vertical', 'width');
    border-right: mixins.css-variable('menu', 'border', 'placeholder');

    @include mixins.e('container', false) {
      flex-direction: column;
      min-width: 0;
      transition: mixins.css-variable('menu', 'transition', 'all');
    }

    @include mixins.e('prepend') {
      flex: 0 0 mixins.css-variable('menu', 'size', 'prepend', 'vertical', 'height');
      padding: mixins.css-variable('menu', 'spacing', 'prepend', 'vertical', 'padding');
    }

    @include mixins.e('inner') {
      flex: 1;
      min-height: 0;
    }

    @include mixins.e('append') {
      display: flex;
      flex: 0 0 mixins.css-variable('menu', 'size', 'append', 'vertical', 'height');
      align-items: center;
      padding: mixins.css-variable('menu', 'spacing', 'append', 'vertical', 'padding');

      @include mixins.m('inner') {
        display: flex;
        flex: 1;
        grid-column-gap: mixins.css-variable('menu', 'spacing', 'append', 'vertical', 'column-gap');
        align-items: center;
        margin-left: mixins.css-variable('menu', 'spacing', 'append', 'vertical', 'column-gap');
      }
    }

    @include mixins.is('collapsed') {
      width: mixins.css-variable('menu', 'size', 'vertical', 'collapsed', 'width') !important;

      @include mixins.e('title', false) {
        @include mixins.m('inner') {
          justify-content: center;
          padding: mixins.css-variable('menu', 'spacing', 'title-inner', 'collapsed', 'padding');
        }

        @include mixins.m('content') {
          flex-direction: column;
        }
      }

      @include mixins.is('collapsed-show-title') {
        @include mixins.e('title', false) {
          height: mixins.css-variable('menu', 'size', 'title', 'collapsed', 'height');

          @include mixins.m('text') {
            display: block !important;
            max-width: 100%;
            margin-top: mixins.css-variable('menu', 'spacing', 'title-text', 'collapsed', 'margin-top');
            overflow: hidden;
            font-size: mixins.css-variable('menu', 'font-size', 'title-span', 'collapsed');
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
