@use '../../../../styles/mixins/function';

$values: (
  size: (
    panel: (
      width: 254px,
    ),
    edit-form: (
      alpha-input: (
        width: 50px,
      ),
      number-input: (
        width: 38px,
      ),
    ),
    trigger: (
      '': 32px,
      small: 24px,
      large: 40px,
    ),
    trigger-input: (
      '': 24px,
      small: 16px,
      large: 32px,
    ),
    color-cursor: 16px,
    current-color: 28px,
    swatch-item: (
      '': 20px,
      inner: 16px,
    ),
    picker: 24px,
    color-type: 16px,
  ),
  font-size: (
    values: (
      label: #{function.css-variable('text-sm')},
    ),
    trigger-text: (
      medium: #{function.css-variable('text-base')},
      small: #{function.css-variable('text-sm')},
      large: #{function.css-variable('text-base')},
    ),
    panel-block-title: #{function.css-variable('text-sm')},
    swatches-description: #{function.css-variable('text-sm')},
  ),
  color: (
    values: (
      label: #{function.css-variable('text-secondary')},
    ),
    trigger: (
      '': #{function.css-variable('text-inverse')},
      picker: #{function.css-variable('text-primary')},
      stroke: #{function.css-variable('text-primary')},
    ),
    trigger-icon: (
      '': #{function.css-variable('text-primary')},
      dark: #{function.css-variable('text-inverse')},
      shadow: #{function.css-variable('text-primary')},
      none-color: #{function.css-variable('text-primary')},
    ),
    hex-prefix: #{function.css-variable('text-disabled')},
    trigger-text: #{function.css-variable('text-primary')},
    panel-block-title: #{function.css-variable('text-primary')},
    swatches-description: #{function.css-variable('text-tertiary')},
  ),
  border-color: (
    '': #{function.css-variable('divider-default')},
    default: (
      opacity-50: #{rgba(#{function.css-variable('color-1-3')}, 0.5)},
    ),
    transparent: #{function.css-variable('border-transparent')},
    cursor: #{function.css-variable('border-inverse')},
    trigger-wrapper: (
      disabled: #{function.css-variable('border-disabled')},
      error: #{function.css-variable('border-error-default')},
    ),
    color-type-item: (
      hover: #{function.css-variable('border-brand-hover')},
      press: #{function.css-variable('border-brand-press')},
      active: #{function.css-variable('border-brand-activated')},
    ),
    swatch-item: (
      '': #{function.css-variable('border-default')},
      empty: #{function.css-variable('border-default')},
    ),
  ),
  border: (
    '': 1px solid #{function.css-variable('color-picker', 'border-color')},
    default: (
      opacity-50: 1px solid
        #{function.css-variable('color-picker', 'border-color', 'default', 'opacity-50')},
    ),
    transparent: 1px solid #{function.css-variable('color-picker', 'border-color', 'transparent')},
    dot: 1px solid #{function.css-variable('color-picker', 'border-color', 'default', 'opacity-50')},
    swatch-item: (
      '': 0.5px solid
        #{function.css-variable('color-picker', 'border-color', 'default', 'opacity-50')},
      empty: 0.5px dashed
        #{function.css-variable('color-picker', 'border-color', 'swatch-item', 'empty')},
    ),
  ),
  border-radius: (
    label-group: #{function.css-variable('radius-m')},
    trigger-wrapper: #{function.css-variable('radius-m')},
    color-type-item: #{function.css-variable('radius-circle')},
    picker: #{function.css-variable('radius-m')},
    track: #{function.css-variable('radius-m')},
    trigger: #{function.css-variable('radius-sm')},
  ),
  background: (
    swatch-item: (
      hover: #{function.css-variable('bg-inverse')},
    ),
    label-group: (
      hover: #{function.css-variable('bg-hover')},
      active: #{function.css-variable('bg-press')},
    ),
    trigger-wrapper: (
      disabled: #{function.css-variable('bg-disabled')},
    ),
    picker-item: (
      hover: #{function.css-variable('bg-secondary')},
    ),
    color-type-item: (
      pure: (
        '': #{function.css-variable('text-secondary')},
        hover: #{function.css-variable('text-brand-hover')},
        active: #{function.css-variable('text-brand-hover')},
      ),
    ),
  ),
  spacing: (
    margin: #{function.css-variable('spacing-4')},
    color-type: (
      wrapper: (
        margin: calc(-1 * #{function.css-variable('popover', 'spacing', 'content', 'padding')}),
      ),
      padding: #{function.css-variable('spacing-4')},
    ),
    trigger-text: (
      margin: 0 calc(#{function.css-variable('spacing-3')} - #{function.css-variable('color-picker', 'spacing', 'trigger-wrapper', 'padding')}) 0 #{function.css-variable('spacing-2')},
    ),
    color-type-item: (
      siblings: (
        margin-right: 10px,
      ),
    ),
    edit-form-input: (
      prefix: (
        margin-right: #{function.css-variable('spacing-1')},
      ),
      padding-x: calc(#{function.css-variable('spacing-3')} - 2px),
    ),
    picker: (
      margin-right: #{function.css-variable('spacing-4')},
    ),
    current-color: (
      margin-left: #{function.css-variable('spacing-4')},
    ),
    swatches-description: (
      margin-left: #{function.css-variable('spacing-3')},
    ),
    button-group: (
      margin-left: #{function.css-variable('spacing-2')},
    ),
    edit-form: (
      margin-top: #{function.css-variable('spacing-3')},
      column-gap: #{function.css-variable('spacing-3')},
    ),
    panel-block-title: (
      margin-bottom: #{function.css-variable('spacing-2')},
    ),
    trigger-wrapper: (
      padding: #{function.css-variable('spacing-2')},
    ),
    picker-item: (
      padding: #{function.css-variable('spacing-2')},
    ),
    popover: (
      padding: #{function.css-variable('spacing-4')},
    ),
    confirm: (
      padding: 0 #{function.css-variable('color-picker', 'spacing', 'popover', 'padding')}
        #{function.css-variable('color-picker', 'spacing', 'popover', 'padding')},
    ),
    square: (
      padding: (
        small: 3px,
      ),
    ),
    panel-block: (
      row-gap: #{function.css-variable('spacing-4')},
    ),
  ),
  box-shadow: (
    cursor: #{function.css-variable('shadow-hover')},
  ),
  opacity: (
    swatch-item: (
      hover: 0.4,
    ),
  ),
  transition: (
    border-color: border-color #{function.css-variable('transition-time-fast')},
  ),
);
