@use '../../../../../styles/mixins';

@include mixins.b('picker') {
  @include mixins.m('no-border') {
    width: mixins.css-variable('picker', 'size', 'no-border', 'min-width');
  }

  @include mixins.e('input') {
    @include mixins.m('no-border') {
      width: mixins.css-variable('picker', 'size', 'no-border', 'min-width');
      max-width: 100%;
      background: mixins.css-variable('picker', 'background', 'input', 'no-border');
      border: mixins.css-variable('picker', 'border', 'input', 'no-border');

      @include mixins.standalone-modifier('inner') {
        width: 100%;
        color: mixins.css-variable('picker', 'color', 'input', 'no-border');
        outline: none;
        cursor: pointer;

        &::placeholder {
          color: mixins.css-variable('picker', 'color', 'input-placeholder', 'no-border');
        }
      }

      @include mixins.standalone-modifier('append-icon') {
        color: mixins.css-variable('picker', 'color', 'input-append-icon', 'no-border');
      }

      @include mixins.standalone-modifier('icon') {
        @include mixins.is('clear') {
          background: transparent !important;

          > svg {
            background: mixins.css-variable('picker', 'background', 'input') !important;
            border-radius: 50%;
          }
        }
      }

      @include mixins.is-not('disabled') {
        &:hover {
          background: mixins.css-variable('picker', 'background', 'input', 'no-border', 'hover');
          border-color: mixins.css-variable('picker', 'border-color', 'input', 'no-border', 'hover');

          @include mixins.standalone-modifier('inner') {
            color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'hover');

            &::placeholder {
              color: mixins.css-variable('picker', 'color', 'input-placeholder', 'no-border', 'hover');
            }
          }

          @include mixins.standalone-modifier('append-icon') {
            color: mixins.css-variable('picker', 'color', 'input-append-icon', 'no-border', 'hover');
          }
        }

        &:focus,
        &:focus-within {
          background: mixins.css-variable('picker', 'background', 'input', 'no-border', 'focus');
          border-color: mixins.css-variable('picker', 'border-color', 'input', 'no-border', 'focus');

          @include mixins.standalone-modifier('inner') {
            color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'focus');

            &::placeholder {
              color: mixins.css-variable('picker', 'color', 'input-placeholder', 'no-border', 'focus');
            }
          }

          @include mixins.standalone-modifier('append-icon') {
            color: mixins.css-variable('picker', 'color', 'input-append-icon', 'no-border', 'focus');
          }
        }

        &:active {
          background: mixins.css-variable('picker', 'background', 'input', 'no-border', 'press');
          border-color: mixins.css-variable('picker', 'border-color', 'input', 'no-border', 'press');

          @include mixins.standalone-modifier('inner') {
            color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'press');

            &::placeholder {
              color: mixins.css-variable('picker', 'color', 'input-placeholder', 'no-border', 'press');
            }
          }

          @include mixins.standalone-modifier('append-icon') {
            color: mixins.css-variable('picker', 'color', 'input-append-icon', 'no-border', 'press');
          }
        }

        @include mixins.is('focusing') {
          @include mixins.is-not('readonly') {
            background: mixins.css-variable('picker', 'background', 'input', 'no-border', 'focusing');
            border-color: mixins.css-variable('picker', 'border-color', 'input', 'no-border', 'focusing');

            @include mixins.standalone-modifier('inner') {
              color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'focusing');

              &::placeholder {
                color: mixins.css-variable('picker', 'color', 'input-placeholder', 'no-border', 'focusing');
              }
            }

            @include mixins.standalone-modifier('append-icon') {
              color: mixins.css-variable('picker', 'color', 'input-append-icon', 'no-border', 'focusing');
            }
          }
        }
      }

      @include mixins.is('error') {
        color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'error');
        background: mixins.css-variable('picker', 'background', 'input', 'no-border', 'error');
        border-color: mixins.css-variable('picker', 'border-color', 'input', 'no-border', 'error') !important;

        @include mixins.standalone-modifier('inner') {
          color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'error');
        }

        @include mixins.standalone-modifier('append-icon') {
          color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'error');
        }
      }

      @include mixins.is('disabled') {
        color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'disabled');
        background: mixins.css-variable('picker', 'background', 'input', 'no-border', 'disabled');
        border-color: mixins.css-variable('picker', 'border-color', 'input', 'no-border', 'disabled');

        @include mixins.standalone-modifier('inner') {
          color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'disabled');
        }

        @include mixins.standalone-modifier('append-icon') {
          color: mixins.css-variable('picker', 'color', 'input', 'no-border', 'disabled');
        }
      }
    }

    @include mixins.parallel-modifier('no-border', 'medium') {
      padding: mixins.css-variable('picker', 'spacing', 'input', 'outer', 'no-border', 'padding');

      @include mixins.standalone-modifier('inner') {
        padding: mixins.css-variable('picker', 'spacing', 'input', 'no-border', 'padding');
      }

      @include mixins.standalone-modifier('static-text') {
        padding: mixins.css-variable('picker', 'spacing', 'input', 'no-border', 'padding');
      }

      @include mixins.standalone-modifier('append-icon') {
        @include mixins.standalone-modifier('icon') {
          @include mixins.is-not('dropdown') {
            margin: mixins.css-variable('picker', 'spacing', 'input-append-icon', 'no-border', 'margin');
          }

          @include mixins.is('dropdown') {
            margin: mixins.css-variable('picker', 'spacing', 'input-dropdown-icon', 'no-border', 'margin');
          }
        }
      }

      @include mixins.standalone-modifier('icon') {
        @include mixins.is('clear') {
          padding: 0
            mixins.css-variable('picker', 'spacing', 'input-clear-icon', 'no-border', 'padding-x');
        }
      }

      @include mixins.standalone-modifier('container') {
        @include mixins.nested('tag-group') {
          padding: mixins.css-variable('picker', 'spacing', 'input', 'tag-group', 'no-border', 'padding');
        }
      }
    }

    @include mixins.parallel-modifier('no-border', 'small') {
      padding: mixins.css-variable('picker', 'spacing', 'input', 'outer', 'no-border', 'padding', 'small');

      @include mixins.standalone-modifier('inner') {
        padding: mixins.css-variable('picker', 'spacing', 'input', 'no-border', 'padding', 'small');
      }

      @include mixins.standalone-modifier('static-text') {
        padding: mixins.css-variable('picker', 'spacing', 'input', 'no-border', 'padding', 'small');
      }

      @include mixins.standalone-modifier('append-icon') {
        @include mixins.standalone-modifier('icon') {
          @include mixins.is-not('dropdown') {
            margin: mixins.css-variable('picker', 'spacing', 'input-append-icon', 'no-border', 'margin', 'small');
          }

          @include mixins.is('dropdown') {
            margin: mixins.css-variable('picker', 'spacing', 'input-dropdown-icon', 'no-border', 'margin', 'small');
          }
        }
      }

      @include mixins.standalone-modifier('icon') {
        @include mixins.is('clear') {
          padding: 0
            mixins.css-variable('picker', 'spacing', 'input-clear-icon', 'no-border', 'padding-x', 'small');
        }
      }

      @include mixins.standalone-modifier('container') {
        @include mixins.nested('tag-group') {
          padding: mixins.css-variable('picker', 'spacing', 'input', 'tag-group', 'no-border', 'padding', 'small');
        }
      }
    }

    @include mixins.parallel-modifier('no-border', 'large') {
      padding: mixins.css-variable('picker', 'spacing', 'input', 'outer', 'no-border', 'padding', 'large');

      @include mixins.standalone-modifier('inner') {
        padding: mixins.css-variable('picker', 'spacing', 'input', 'no-border', 'padding', 'large');
      }

      @include mixins.standalone-modifier('static-text') {
        padding: mixins.css-variable('picker', 'spacing', 'input', 'no-border', 'padding', 'large');
      }

      @include mixins.standalone-modifier('append-icon') {
        @include mixins.standalone-modifier('icon') {
          @include mixins.is-not('dropdown') {
            margin: mixins.css-variable('picker', 'spacing', 'input-append-icon', 'no-border', 'margin', 'large');
          }

          @include mixins.is('dropdown') {
            margin: mixins.css-variable('picker', 'spacing', 'input-dropdown-icon', 'no-border', 'margin', 'large');
          }
        }
      }

      @include mixins.standalone-modifier('icon') {
        @include mixins.is('clear') {
          padding: 0
            mixins.css-variable('picker', 'spacing', 'input-clear-icon', 'no-border', 'padding-x', 'large');
        }
      }

      @include mixins.standalone-modifier('container') {
        @include mixins.nested('tag-group') {
          padding: mixins.css-variable('picker', 'spacing', 'input', 'tag-group', 'no-border', 'padding', 'large');
        }
      }
    }
  }
}
