@use '../../../../../styles/mixins';

@include mixins.b('picker') {
  @include mixins.e('input') {
    @include mixins.m('normal') {
      min-width: mixins.css-variable('picker-min-width--normal');
      background: mixins.css-variable('picker-bg--input');
      border: mixins.css-variable('picker-border--input');

      @include mixins.standalone-modifier('inner') {
        width: 100%;
        color: mixins.css-variable('picker-color--input');
        outline: none;
        cursor: pointer;

        &::placeholder {
          color: mixins.css-variable('picker-color--input-placeholder');
        }
      }

      @include mixins.standalone-modifier('append-icon') {
        color: mixins.css-variable('picker-color--input-append-icon');
      }

      @include mixins.is-not('disabled') {
        &:hover {
          background: mixins.css-variable('picker-bg--input--hover');
          border-color: mixins.css-variable('picker-border-color--input--hover');

          @include mixins.standalone-modifier('inner') {
            color: mixins.css-variable('picker-color--input--hover');

            &::placeholder {
              color: mixins.css-variable('picker-color--input-placeholder--hover');
            }
          }

          @include mixins.standalone-modifier('append-icon') {
            color: mixins.css-variable('picker-color--input-append-icon--hover');
          }
        }

        &:focus, &:focus-within {
          background: mixins.css-variable('picker-bg--input--focus');
          border-color: mixins.css-variable('picker-border-color--input--focus');

          @include mixins.standalone-modifier('inner') {
            color: mixins.css-variable('picker-color--input--focus');

            &::placeholder {
              color: mixins.css-variable('picker-color--input-placeholder--focus');
            }
          }

          @include mixins.standalone-modifier('append-icon') {
            color: mixins.css-variable('picker-color--input-append-icon--focus');
          }
        }

        &:active {
          background: mixins.css-variable('picker-bg--input--press');
          border-color: mixins.css-variable('picker-border-color--input--press');

          @include mixins.standalone-modifier('inner') {
            color: mixins.css-variable('picker-color--input--press');

            &::placeholder {
              color: mixins.css-variable('picker-color--input-placeholder--press');
            }
          }

          @include mixins.standalone-modifier('append-icon') {
            color: mixins.css-variable('picker-color--input-append-icon--press');
          }
        }

        @include mixins.is('focusing') {
          background: mixins.css-variable('picker-bg--input--inputing');
          border-color: mixins.css-variable('picker-border-color--input--inputing');

          @include mixins.standalone-modifier('inner') {
            color: mixins.css-variable('picker-color--input--inputing');

            &::placeholder {
              color: mixins.css-variable('picker-color--input-placeholder--inputing');
            }
          }

          @include mixins.standalone-modifier('append-icon') {
            color: mixins.css-variable('picker-color--input-append-icon--inputing');
          }
        }
      }

      @include mixins.is('error') {
        color: mixins.css-variable('picker-color--input--error');
        background: mixins.css-variable('picker-bg--input--error');
        border-color: mixins.css-variable('picker-border-color--input--error') !important;

        @include mixins.standalone-modifier('inner') {
          color: mixins.css-variable('picker-color--input--error');
        }

        @include mixins.standalone-modifier('append-icon') {
          color: mixins.css-variable('picker-color--input--error');
        }
      }

      @include mixins.is('disabled') {
        color: mixins.css-variable('picker-color--input--disabled');
        background: mixins.css-variable('picker-bg--input--disabled');
        border-color: mixins.css-variable('picker-border-color--input--disabled');

        @include mixins.standalone-modifier('inner') {
          color: mixins.css-variable('picker-color--input--disabled');
        }

        @include mixins.standalone-modifier('append-icon') {
          color: mixins.css-variable('picker-color--input--disabled');
        }
      }
    }

    @include mixins.parallel-modifier('normal', 'medium') {
      padding: mixins.css-variable('picker-padding--input--outer');

      @include mixins.standalone-modifier('inner') {
        padding: mixins.css-variable('picker-padding--input');
      }

      @include mixins.standalone-modifier('static-text') {
        padding: mixins.css-variable('picker-padding--input');
      }

      @include mixins.standalone-modifier('append-icon') {
        @include mixins.standalone-modifier('icon') {
          @include mixins.is-not('dropdown') {
            margin: mixins.css-variable('picker-margin--input-append-icon');
          }

          @include mixins.is('dropdown') {
            margin: mixins.css-variable('picker-margin--input-dropdown-icon');
          }
        }
      }

      @include mixins.standalone-modifier('icon') {
        @include mixins.is('clear') {
          padding: 0 mixins.css-variable('picker-padding-x--input-clear-icon');
        }
      }

      @include mixins.standalone-modifier('container') {
        @include mixins.nested('tag-group') {
          padding: mixins.css-variable('picker-padding--input--tag-group');
        }
      }

      &:not(:has(#{mixins.modifier-name('append-icon', 'input', #{mixins.block('picker')})})) {
        padding-right: mixins.css-variable('picker-padding-right--input--outer--no-suffix-icon');
      }
    }

    @include mixins.parallel-modifier('normal', 'small') {
      padding: mixins.css-variable('picker-padding--input--outer--small');

      @include mixins.standalone-modifier('inner') {
        padding: mixins.css-variable('picker-padding--input--small');
      }

      @include mixins.standalone-modifier('static-text') {
        padding: mixins.css-variable('picker-padding--input--small');
      }

      @include mixins.standalone-modifier('append-icon') {
        @include mixins.standalone-modifier('icon') {
          @include mixins.is-not('dropdown') {
            margin: mixins.css-variable('picker-margin--input-append-icon--small');
          }

          @include mixins.is('dropdown') {
            margin: mixins.css-variable('picker-margin--input-dropdown-icon--small');
          }
        }
      }

      @include mixins.standalone-modifier('icon') {
        @include mixins.is('clear') {
          padding: 0 mixins.css-variable('picker-padding-x--input-clear-icon--small');
        }
      }

      @include mixins.standalone-modifier('container') {
        @include mixins.nested('tag-group') {
          padding: mixins.css-variable('picker-padding--input--tag-group--small');
        }
      }

      &:not(:has(#{mixins.modifier-name('append-icon', 'input', #{mixins.block('picker')})})) {
        padding-right: mixins.css-variable('picker-padding-right--input--outer--no-suffix-icon--small');
      }
    }

    @include mixins.parallel-modifier('normal', 'large') {
      padding: mixins.css-variable('picker-padding--input--outer--large');

      @include mixins.standalone-modifier('inner') {
        padding: mixins.css-variable('picker-padding--input--large');
      }

      @include mixins.standalone-modifier('static-text') {
        padding: mixins.css-variable('picker-padding--input--large');
      }

      @include mixins.standalone-modifier('append-icon') {
        @include mixins.standalone-modifier('icon') {
          @include mixins.is-not('dropdown') {
            margin: mixins.css-variable('picker-margin--input-append-icon--large');
          }

          @include mixins.is('dropdown') {
            margin: mixins.css-variable('picker-margin--input-dropdown-icon--large');
          }
        }
      }

      @include mixins.standalone-modifier('icon') {
        @include mixins.is('clear') {
          padding: 0 mixins.css-variable('picker-padding-x--input-clear-icon--large');
        }
      }

      @include mixins.standalone-modifier('container') {
        @include mixins.nested('tag-group') {
          padding: mixins.css-variable('picker-padding--input--tag-group--large');
        }
      }

      &:not(:has(#{mixins.modifier-name('append-icon', 'input', #{mixins.block('picker')})})) {
        padding-right: mixins.css-variable('picker-padding-right--input--outer--no-suffix-icon--large');
      }
    }
  }
}
