@use '../../../../styles/mixins';

$values: (
  size: (
    check-all: (
      height: 40px,
    ),
    panel-tags: (
      max-height: 104px,
    ),
  ),
  'max-width--panel': 286px,
  'min-width--panel': 136px,
  'min-height--panel': 256px,
  'min-height--item': 40px,
  'height--item-icon': 16px,
  'max-width--tag': 100%,
  'font-size--no-data': #{mixins.css-variable('text-base')},
  'color': #{mixins.css-variable('text-primary')},
  'color--item': #{mixins.css-variable('text-primary')},
  'color--item--disabled': #{mixins.css-variable('text-disabled')},
  'color--no-data': #{mixins.css-variable('text-disabled')},
  'color--item--keyword': #{mixins.css-variable('text-brand-default')},
  'border-color--panel': #{mixins.css-variable('divider-default')},
  'border--panel': 1px solid #{mixins.css-variable('cascader-border-color--panel')},
  bg: (
    item: (
      default: #{mixins.css-variable('bg-default')},
      hover: #{mixins.css-variable('bg-hover')},
    ),
  ),
  'padding--item': 9px #{mixins.css-variable('spacing-4')},
  'padding-right--item': #{mixins.css-variable('spacing-4')},
  'padding-right--item--has-icon': calc(#{mixins.css-variable('spacing-5')} + #{mixins.css-variable('spacing-4')}),
  spacing: (
    check-all: (
      padding: 0 #{mixins.css-variable('spacing-4')},
    ),
    panel-tags: (
      margin-bottom: #{mixins.css-variable('spacing-3')},
    ),
  ),
  'margin-y--panel--scrollbar': #{mixins.css-variable('spacing-3')},
  'gap-column--tags-container': #{mixins.css-variable('select-gap-column--tags-container')},
  'gap-column--tags-container--small': #{mixins.css-variable('select-gap-column--tags-container--small')},
  'transition': #{mixins.css-variable('transition-all--fast')},
  'transition--background': background #{mixins.css-variable('transition-time-fast')},
);
