@use '../../../../styles/mixins';

@include mixins.b('backtop') {
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  color: mixins.css-variable('backtop', 'color');
  font-size: mixins.css-variable('backtop', 'font-size');
  background-color: mixins.css-variable('backtop', 'background');
  border-radius: mixins.css-variable('backtop', 'border-radius');
  box-shadow: mixins.css-variable('backtop', 'box-shadow');
  cursor: pointer;

  &:hover {
    color: mixins.css-variable('backtop', 'color', 'hover');
  }

  &:active {
    color: mixins.css-variable('backtop', 'color', 'active');
  }
}
