@use '../../../../styles/mixins';

@include mixins.b('scrollbar') {
  position: relative;
  height: 100%;
  overflow: hidden;

  @include mixins.e('wrap') {
    height: 100%;
    overflow: auto;

    @include mixins.is-not('native') {
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &::-webkit-scrollbar {
      width: mixins.css-variable('scrollbar', 'size', 'track');
    }
  }

  @include mixins.is('hidden') {
    display: none;
  }

  @include mixins.m('small') {
    @include mixins.e('wrap') {
      &::-webkit-scrollbar {
        width: mixins.css-variable('scrollbar', 'size', 'track', 'small');
      }
    }
  }

  @include mixins.e('track') {
    position: absolute;
    z-index: 1;

    @include mixins.m('thumb') {
      position: absolute;
      background: mixins.css-variable('scrollbar', 'background', 'thumb');
      border-radius: mixins.css-variable('scrollbar', 'border-radius', 'track');
      cursor: pointer;
      transition: mixins.css-variable('scrollbar', 'transition', 'background');
      user-select: none;

      &::after {
        position: absolute;
        display: block;
        content: '';
      }

      &:hover {
        background: mixins.css-variable('scrollbar', 'background', 'thumb', 'hover');
      }

      &:active {
        background: mixins.css-variable('scrollbar', 'background', 'thumb', 'active');
      }
    }

    @include mixins.is('vertical') {
      top: 0;
      right: 0;
      width: mixins.css-variable('scrollbar', 'size', 'track');

      @include mixins.bem('scrollbar', 'track', 'thumb', false) {
        right: mixins.css-variable('scrollbar', 'spacing', 'track', 'padding');
        width: mixins.css-variable('scrollbar', 'size', 'thumb');

        &::after {
          top: 0;
          left: calc(-1 * #{mixins.css-variable('scrollbar', 'spacing', 'track', 'padding')});
          width: calc(
            #{mixins.css-variable('scrollbar', 'size', 'thumb')} +
              #{mixins.css-variable('scrollbar', 'spacing', 'track', 'padding')} * 2
          );
          height: 100%;
        }
      }
    }

    @include mixins.is('horizon') {
      bottom: 0;
      left: 0;
      height: mixins.css-variable('scrollbar', 'size', 'track');

      @include mixins.bem('scrollbar', 'track', 'thumb', false) {
        bottom: mixins.css-variable('scrollbar', 'spacing', 'track', 'padding');
        height: mixins.css-variable('scrollbar', 'size', 'thumb');

        &::after {
          top: calc(-1 * #{mixins.css-variable('scrollbar', 'spacing', 'track', 'padding')});
          left: 0;
          width: 100%;
          height: calc(
            #{mixins.css-variable('scrollbar', 'size', 'thumb')} +
              #{mixins.css-variable('scrollbar', 'spacing', 'track', 'padding')} * 2
          );
        }
      }
    }
  }

  @include mixins.is('track-sticky') {
    @include mixins.e('track') {
      @include mixins.bem('scrollbar', 'track', 'thumb', false) {
        // position: sticky;
      }

      @include mixins.is('horizon') {
        // todo
      }
    }
  }

  @include mixins.m('small') {
    @include mixins.e('wrap', false) {
      &::-webkit-scrollbar {
        width: mixins.css-variable('scrollbar', 'size', 'track', 'small');
      }
    }

    @include mixins.e('track', false) {
      @include mixins.is('vertical') {
        width: mixins.css-variable('scrollbar', 'size', 'track', 'small');

        @include mixins.bem('scrollbar', 'track', 'thumb', false) {
          right: mixins.css-variable('scrollbar', 'spacing', 'track', 'padding', 'small');
          width: mixins.css-variable('scrollbar', 'size', 'thumb', 'small');

          &::after {
            top: 0;
            left: calc(
              -1 * #{mixins.css-variable('scrollbar', 'spacing', 'track', 'padding', 'small')}
            );
            width: calc(
              #{mixins.css-variable('scrollbar', 'size', 'thumb', 'small')} +
                #{mixins.css-variable('scrollbar', 'spacing', 'track', 'padding', 'small')} * 2
            );
            height: 100%;
          }
        }
      }

      @include mixins.is('horizon') {
        height: mixins.css-variable('scrollbar', 'size', 'track', 'small');

        @include mixins.bem('scrollbar', 'track', 'thumb', false) {
          bottom: mixins.css-variable('scrollbar', 'spacing', 'track', 'padding', 'small');
          height: mixins.css-variable('scrollbar', 'size', 'thumb', 'small');

          &::after {
            top: calc(
              -1 * #{mixins.css-variable('scrollbar', 'spacing', 'track', 'padding', 'small')}
            );
            left: 0;
            width: 100%;
            height: calc(
              #{mixins.css-variable('scrollbar', 'size', 'thumb', 'small')} +
                #{mixins.css-variable('scrollbar', 'spacing', 'track', 'padding', 'small')} * 2
            );
          }
        }
      }
    }
  }
}
