@use '../../../../styles/mixins/function';

$values: (
  size: (
    track: (
      '': #{function.css-variable('spacing-5')},
      small: #{function.css-variable('spacing-3')},
    ),
    thumb: (
      '': #{function.css-variable('spacing-3')},
      small: #{function.css-variable('spacing-2')},
    ),
  ),
  border-radius: (
    track: #{function.css-variable('radius-pill')},
  ),
  background: (
    thumb: (
      '': #{function.css-variable('bg-overlay-weak')},
      hover: #{rgba(#{function.css-variable('color-1-10')}, #{function.css-variable('opacity-5')})},
      active: #{rgba(#{function.css-variable('color-1-10')}, #{function.css-variable('opacity-5')})},
    ),
  ),
  spacing: (
    track: (
      padding: (
        '': #{function.css-variable('spacing-2')},
        small: #{function.css-variable('spacing-1')},
      ),
    ),
  ),
  transition: (
    background: background 0.2s,
  ),
);
