@use '../../../../styles/mixins';

@include mixins.b('step') {
  @include mixins.is('dot') {
    @include mixins.e('wrapper') {
      flex-wrap: wrap;
    }

    @include mixins.e('icon') {
      order: 1;
      width: mixins.css-variable('steps-size--icon--dot') !important;
      height: mixins.css-variable('steps-size--icon--dot') !important;
      background: mixins.css-variable('steps-bg--icon--dot');
      border: mixins.css-variable('steps-border--icon--dot');
    }

    @include mixins.e('tail') {
      display: flex;
      flex: 1;
      align-items: center;
      order: 2;
      height: mixins.css-variable('steps-size--icon--dot');

      &::after {
        display: block;
        width: 100%;
        height: 1px;
        background: mixins.css-variable('steps-bg--tail');
        content: '';
      }
    }

    @include mixins.e('content') {
      flex: 100%;
      order: 3;
      margin-top: mixins.css-variable('steps-margin-top--content--dot');
      margin-left: 0;

      @include mixins.m('title') {
        &::after {
          display: none;
        }
      }
    }

    @include mixins.is('finish') {
      @include mixins.e('icon') {
        background: mixins.css-variable('steps-bg--icon--finished--dot');
        border-color: mixins.css-variable('steps-border-color--icon--finished--dot');
      }
    }

    @include mixins.is('process') {
      @include mixins.e('icon') {
        background: mixins.css-variable('steps-bg--icon--process--dot');
        border-color: mixins.css-variable('steps-border-color--icon--process--dot');
      }
    }

    @include mixins.is('error') {
      @include mixins.e('icon') {
        background: mixins.css-variable('steps-bg--icon--error--dot');
        border-color: mixins.css-variable('steps-border-color--icon--error--dot');
      }
    }

    @include mixins.is('disabled') {
      @include mixins.e('icon') {
        background: mixins.css-variable('steps-bg--icon--disabled--dot');
        border-color: mixins.css-variable('steps-border-color--icon--disabled--dot');
      }
    }

    /**
    @include mixins.is('next-finish') {
      @include mixins.e('tail') {
        &::after {
          background: mixins.css-variable('steps-bg--tail--finished');
        }
      }
    }

    @include mixins.is('next-process') {
      @include mixins.e('tail') {
        &::after {
          background: mixins.css-variable('steps-bg--tail--process');
        }
      }
    }

    @include mixins.is('next-error') {
      @include mixins.e('tail') {
        &::after {
          background: mixins.css-variable('steps-bg--tail--error');
        }
      }
    }
    **/

    &:last-child {
      @include mixins.be('step', 'tail', false) {
        display: none;
      }
    }
  }
}
