@use '../../../../styles/mixins/function';

$values: (
  font-size: (
    title: #{function.css-variable('text-lg')},
  ),
  font-weight: (
    title: #{function.css-variable('weight-strong')},
  ),
  line-height: (
    title: 24px,
  ),
  border-color: (
    divider: #{function.css-variable('divider-default')},
  ),
  border-radius: (
    container: 0,
    left: 0 #{function.css-variable('drawer', 'border-radius', 'container')}
      #{function.css-variable('drawer', 'border-radius', 'container')} 0,
    right: #{function.css-variable('drawer', 'border-radius', 'container')} 0 0
      #{function.css-variable('drawer', 'border-radius', 'container')},
    top: 0 0 #{function.css-variable('drawer', 'border-radius', 'container')}
      #{function.css-variable('drawer', 'border-radius', 'container')},
    bottom: #{function.css-variable('drawer', 'border-radius', 'container')}
      #{function.css-variable('drawer', 'border-radius', 'container')} 0 0,
  ),
  background: (
    container: #{function.css-variable('bg-default')},
    mask: #{function.css-variable('bg-overlay-default')},
  ),
  spacing: (
    container: (
      padding-top: #{function.css-variable('spacing-7')} 56px #{function.css-variable('spacing-5')}
        #{function.css-variable('spacing-7')},
      padding-bottom: #{function.css-variable('spacing-5')} #{function.css-variable('spacing-7')}
        #{function.css-variable('spacing-7')},
    ),
    body: (
      padding: #{function.css-variable('spacing-7')},
    ),
    icon: (
      margin-right: #{function.css-variable('spacing-5')},
    ),
  ),
  box-shadow: (
    container: #{function.css-variable('shadow-modal')},
  ),
);
