@use '../../../../styles/mixins';

@include mixins.b('float-button-group') {
  @include mixins.e('container') {
    overflow: hidden;
    box-shadow: mixins.css-variable('float-button', 'box-shadow');

    @include mixins.m('circle') {
      border-top-left-radius: mixins.css-variable('float-button', 'border-radius');
      border-top-right-radius: mixins.css-variable('float-button', 'border-radius');
    }

    @include mixins.m('square') {
      border-top-left-radius: mixins.css-variable('float-button', 'border-radius', 'square');
      border-top-right-radius: mixins.css-variable('float-button', 'border-radius', 'square');
    }

    @include mixins.nested('float-button') {
      border-radius: 0;
      box-shadow: none;
    }
  }

  @include mixins.e('collapse-button') {
    @include mixins.is('expanded') {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
