@use '../../../../styles/mixins';
@use 'shape';
@use 'type';
@use 'group';

@include mixins.b('float-button') {
  position: fixed;
  right: mixins.css-variable('float-button-spacing-right');
  z-index: mixins.css-variable('float-button-z-index');
  width: mixins.css-variable('float-button-size');
  font-size: mixins.css-variable('float-button-font-size');
  box-shadow: mixins.css-variable('float-button-box-shadow');
  cursor: pointer;
  transition: mixins.css-variable('float-button-transition--no-position');

  @include mixins.e('inner') {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: mixins.css-variable('float-button-size');
    height: mixins.css-variable('float-button-size');
  }

  @include mixins.e('inner_all') {
    gap:2px;
    height: mixins.css-variable('float-button-size--large');
    padding:8px;
  }

  @include mixins.e('icon') {
    line-height: 1;
  }

  @include mixins.is('draggable') {
    position: fixed;
  }

  @include mixins.is-not('dragging') {
    transition: mixins.css-variable('float-button-transition');
  }

  @include mixins.is('static') {
    position: static;
  }
}
