@use '../../../../styles/mixins';
@import './themes';
@import './size';

@include mixins.b('dropdown') {
  @include mixins.e('inner') {
    width: var(--n-dropdown-width); // 这里用变量定义宽度，因为直接用style的width，初始化失败
    min-width: mixins.css-variable('dropdown-min-width');
    max-width: mixins.css-variable('dropdown-max-width');
    padding: 0 !important;
  }
}

@include mixins.b('dropdown-item') {
  font-size: mixins.css-variable('dropdown-font-size--item');
  cursor: pointer;
  transition: mixins.css-variable('dropdown-transition--all');

  @include mixins.is('active') {
    font-weight: mixins.css-variable('dropdown-font-weight--item--active');
  }

  @include mixins.is('disabled') {
    cursor: not-allowed;
  }

  @include mixins.e('inner') {
    display: flex;
    align-items: center;
    min-height: mixins.css-variable('dropdown-height--item');
    padding: mixins.css-variable('dropdown-padding--item');
  }

  @include mixins.e('icon') {
    display: flex;
    align-items: center;
    margin-right: mixins.css-variable('dropdown-margin-right--item--icon');
  }

  @include mixins.e('content') {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @include mixins.is('divided') {
    &::after {
      display: block;
      height: 1px;
      margin: 8px;
      background: mixins.css-variable('dropdown-border-color--group-siblings--no-title');
      content: '';
    }
  }

  &:first-child {
    margin-top: mixins.css-variable('dropdown-margin-top-bottom--first-last-child');
  }

  &:last-child {
    margin-bottom: mixins.css-variable('dropdown-margin-top-bottom--first-last-child');
  }
}

@include mixins.b('dropdown-submenu') {
  @include mixins.e('item') {
    font-size: mixins.css-variable('dropdown-font-size--item');
    cursor: pointer;

    @include mixins.m('inner') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: mixins.css-variable('dropdown-height--item');
      padding: mixins.css-variable('dropdown-padding--item');
      transition: mixins.css-variable('dropdown-transition--all');
    }

    @include mixins.m('content') {
      display: flex;
      grid-column-gap: mixins.css-variable('dropdown-margin-right--item--icon');
      min-width: 0;
      white-space: nowrap;
    }

    @include mixins.m('icon') {
      display: flex;
      align-items: center;
    }

    @include mixins.m('title') {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    @include mixins.m('arrow') {
      display: inline-flex;
      align-items: center;
    }
  }

  @include mixins.is('disabled') {
    @include mixins.e('item') {
      cursor: not-allowed;
    }
  }

  @include mixins.e('inner') {
    min-width: mixins.css-variable('dropdown-min-width');
    max-width: mixins.css-variable('dropdown-max-width');
    max-height: mixins.css-variable('dropdown-max-height');
    padding: 0 !important;
  }

  &:first-child {
    margin-top: mixins.css-variable('dropdown-margin-top-bottom--first-last-child');
  }

  &:last-child {
    margin-bottom: mixins.css-variable('dropdown-margin-top-bottom--first-last-child');
  }
}

@include mixins.b('dropdown-group') {
  @include mixins.e('title') {
    max-width: 100%;
    padding: mixins.css-variable('dropdown-padding--group-title');
    overflow: hidden;
    color: mixins.css-variable('dropdown-color--group-title');
    font-size: mixins.css-variable('dropdown-font-size--group-title');
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @include mixins.has-not('title') {
    &:not(:last-of-type) {
      &::after {
        display: block;
        height: 1px;
        margin: mixins.css-variable('dropdown-margin--group-divider--no-title');
        background-color: mixins.css-variable('dropdown-border-color--group-siblings--no-title');
        background-size: 1px 100%;
        content: '';
      }
    }
  }

  @include mixins.e('inner') {
    &:first-child {
      margin-top: mixins.css-variable('dropdown-margin-top-bottom--first-last-child');
    }

    > #{mixins.block-name('dropdown-item')} {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &:first-child {
    margin-top: mixins.css-variable('dropdown-margin-top-bottom--first-last-child');
  }

  &:last-child {
    margin-bottom: mixins.css-variable('dropdown-margin-top-bottom--first-last-child');
  }
}

@include mixins.siblings-block('dropdown-group') {
  margin-top: mixins.css-variable('dropdown-margin-top-bottom--first-last-child');
}

@include mixins.b('dropdown-item') {
  & + #{mixins.block-name('dropdown-group')} {
    margin-top: mixins.css-variable('dropdown-margin-top-bottom--first-last-child');
  }
}
