@use '../../mixins';

@mixin responsive-grid($size) {
  @include mixins.b('grid') {
    grid-template-columns: repeat(var(--h-grid-cols-#{$size}), minmax(0, 1fr));
    gap: var(--h-grid-row-gap-#{$size}) var(--h-grid-column-gap-#{$size});
  }

  @include mixins.b('grid-item') {
    display: var(--h-grid-item-display-#{$size});
    grid-column: span var(--h-grid-item-span-#{$size}) / span var(--h-grid-item-span-#{$size});
    margin-inline-start: var(--h-grid-item-offset-#{$size});
  }
}

@include mixins.b('grid') {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  min-width: 0;
}

@include mixins.b('grid-item') {
  box-sizing: border-box;
  min-width: 0;
  overflow-wrap: anywhere;
}

@media screen and (width <= 480px) {
  @include responsive-grid('xs');
}

@media screen and (width >= 480px) and (width <= 1023px) {
  @include responsive-grid('sm');
}

@media screen and (width >= 1024px) and (width <= 1439px) {
  @include responsive-grid('md');
}

@media screen and (width >= 1440px) and (width <= 1919px) {
  @include responsive-grid('lg');
}

@media screen and (width >= 1920px) and (width <= 2879px) {
  @include responsive-grid('xl');
}

@media screen and (width >= 2880px) {
  @include responsive-grid('xxl');
}
