@use '../mixins';

.rounded {
  border-radius: mixins.css-variable('radius-m') !important;

  &-0 {
    border-radius: 0 !important;
  }

  &-sm {
    border-radius: mixins.css-variable('radius-s') !important;
  }

  &-lg {
    border-radius: mixins.css-variable('radius-l') !important;
  }

  &-xl {
    border-radius: mixins.css-variable('radius-xl') !important;
  }

  &-pill {
    border-radius: mixins.css-variable('radius-pill') !important;
  }
}

.circle {
  border-radius: mixins.css-variable('radius-circle') !important;
}
