$spacing-types: (m: margin, p: padding);
$spacing-directions: (t: top, r: right, b: bottom, l: left);
$spacing-limit: 16;
$spacing-base: 4px;

@each $typeKey, $type in $spacing-types {
  @for $size from 0 through $spacing-limit {
    // m-1
    .#{$typeKey}-#{$size} {
      #{$type}: $size * $spacing-base !important;
    }
  }

  @for $size from 0 through $spacing-limit {
    // mx-1 px-1
    .#{$typeKey}x-#{$size} {
      #{$type}-left: $size * $spacing-base !important;
      #{$type}-right: $size * $spacing-base !important;
    }

    // my-1 py-1
    .#{$typeKey}y-#{$size} {
      #{$type}-top: $size * $spacing-base !important;
      #{$type}-bottom: $size * $spacing-base !important;
    }
  }

  @each $directionKey, $direction in $spacing-directions {
    @for $size from 0 through $spacing-limit {
      // mt-1 pt-1
      .#{$typeKey}#{$directionKey}-#{$size} {
        #{$type}-#{$direction}: $size * $spacing-base !important;
      }
    }
  }

  @each $directionKey, $direction in $spacing-directions {
    // mt-auto pt-auto
    .#{$typeKey}#{$directionKey}-auto {
      #{$type}-#{$direction}: auto !important;
    }
  }

  // m-auto
  .#{$typeKey}-auto {
    #{$type}: auto !important;
  }

  // mx-auto px-auto
  .#{$typeKey}x-auto {
    #{$type}-left: auto !important;
    #{$type}-right: auto !important;
  }

  // my-auto py-auto
  .#{$typeKey}y-auto {
    #{$type}-top: auto !important;
    #{$type}-bottom: auto !important;
  }
}
