@use '../../../../styles/mixins';

@include mixins.b('switch') {
  display: inline-flex;
  flex-direction: column;

  @include mixins.e('label') {
    margin-bottom: mixins.css-variable('switch', 'spacing', 'label', 'margin-bottom');
    color: mixins.css-variable('switch', 'color', 'label');
    font-size: mixins.css-variable('switch', 'font-size', 'label');
    line-height: mixins.css-variable('switch', 'line-height', 'label');
  }

  @include mixins.e('main') {
    display: inline-flex;
    align-items: center;
  }

  @include mixins.e('core') {
    position: relative;
    display: inline-flex;
    width: mixins.css-variable('switch', 'size', 'core', 'width');
    height: mixins.css-variable('switch', 'size', 'core', 'height');
    padding: mixins.css-variable('switch', 'spacing', 'core', 'padding');
    overflow: hidden;
    background-color: mixins.css-variable('switch', 'background', 'core');
    border-radius: mixins.css-variable('switch', 'border-radius', 'core');
    cursor: pointer;
    transition: background-color mixins.css-variable('switch', 'transition', 'duration')
      mixins.css-variable('switch', 'transition', 'timing-function', 'cubic');

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
    }
  }

  @include mixins.e('inner') {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    width: mixins.css-variable('switch', 'size', 'inner');
    height: mixins.css-variable('switch', 'size', 'inner');
    background-color: mixins.css-variable('switch', 'background', 'inner');
    border-radius: mixins.css-variable('switch', 'border-radius', 'inner');
    transform: translate3d(0, 0, 0);
    transition: transform mixins.css-variable('switch', 'transition', 'duration')
      mixins.css-variable('switch', 'transition', 'timing-function', 'cubic');
  }

  @include mixins.e('inner-text') {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    overflow: hidden;
    color: mixins.css-variable('switch', 'color', 'inner-text');
    font-size: mixins.css-variable('switch', 'font-size', 'inner-text');
    line-height: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    pointer-events: none;

    @include mixins.is('active') {
      right: auto;
      left: 0;
    }
  }

  @include mixins.m('active') {
    @include mixins.e('core') {
      background-color: mixins.css-variable('switch', 'background', 'core', 'active');

      @include mixins.e('inner') {
        transform: translate3d(16px, 0, 0);
      }

      @include mixins.is('with-inner-text') {
        @include mixins.e('inner') {
          transform: translate3d(
            mixins.css-variable('switch', 'transform', 'translate-x', 'inner', 'with-inner-text'),
            0,
            0
          );
        }
      }
    }
  }

  @include mixins.m('sm', 'small') {
    @include mixins.e('core') {
      @include mixins.is('active') {
        @include mixins.e('inner') {
          transform: translate3d(12px, 0, 0);
        }
      }
    }

    @include mixins.e('core') {
      width: mixins.css-variable('switch', 'size', 'core', 'width', 'small');
      height: mixins.css-variable('switch', 'size', 'core', 'height', 'small');

      @include mixins.is('with-inner-text') {
        width: mixins.css-variable('switch', 'size', 'core', 'width', 'small', 'with-inner-text');

        @include mixins.is('active') {
          @include mixins.e('inner') {
            transform: translate3d(
              mixins.css-variable('switch', 'transform', 'translate-x', 'inner', 'small', 'with-inner-text'),
              0,
              0
            );
          }
        }
      }
    }

    @include mixins.e('inner') {
      width: mixins.css-variable('switch', 'size', 'inner', 'small');
      height: mixins.css-variable('switch', 'size', 'inner', 'small');
    }
    @include mixins.e('status') {
      height: mixins.css-variable('switch', 'line-height', 'status');
      margin-left: mixins.css-variable('switch', 'spacing', 'status', 'margin-left', 'small');
      font-size: mixins.css-variable('switch', 'font-size', 'status', 'small');
      line-height: mixins.css-variable('switch', 'line-height', 'status');
    }
  }

  @include mixins.m('large') {
    @include mixins.e('core') {
      @include mixins.is('active') {
        @include mixins.e('inner') {
          transform: translate3d(20px, 0, 0);
        }
      }
    }

    @include mixins.e('core') {
      width: mixins.css-variable('switch', 'size', 'core', 'width', 'large');
      height: mixins.css-variable('switch', 'size', 'core', 'height', 'large');

      @include mixins.is('with-inner-text') {
        width: mixins.css-variable('switch', 'size', 'core', 'width', 'large', 'with-inner-text');

        @include mixins.is('active') {
          @include mixins.e('inner') {
            transform: translate3d(
              mixins.css-variable('switch', 'transform', 'translate-x', 'inner', 'large', 'with-inner-text'),
              0,
              0
            );
          }
        }
      }
    }

    @include mixins.e('inner') {
      width: mixins.css-variable('switch', 'size', 'inner', 'large');
      height: mixins.css-variable('switch', 'size', 'inner', 'large');
    }
    @include mixins.e('status') {
      height: mixins.css-variable('switch', 'line-height', 'status');
      margin-left: mixins.css-variable('switch', 'spacing', 'status', 'margin-left', 'large');
      font-size: mixins.css-variable('switch', 'font-size', 'status', 'large');
      line-height: mixins.css-variable('switch', 'line-height', 'status');
    }
  }

  @include mixins.e('status') {
    height: mixins.css-variable('switch', 'line-height', 'status');
    margin-left: mixins.css-variable('switch', 'spacing', 'status', 'margin-left');
    font-size: mixins.css-variable('switch', 'font-size', 'status');
    line-height: mixins.css-variable('switch', 'line-height', 'status');
  }

  @include mixins.e('core') {
    @include mixins.is('with-inner-text') {
      width: mixins.css-variable('switch', 'size', 'core', 'with-inner-text', 'width');
    }
  }

  @include mixins.m('left') {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include mixins.e('label') {
      margin-bottom: mixins.css-variable('switch', 'spacing', 'label', 'left', 'margin-bottom');
      line-height: mixins.css-variable('switch', 'line-height', 'label', 'left');
    }

    @include mixins.e('main') {
      margin-left: mixins.css-variable('switch', 'spacing', 'main', 'margin-left');
    }
  }

  @include mixins.m('right') {
    flex-direction: row;
    align-items: center;

    @include mixins.e('label') {
      order: 1;
      margin-bottom: mixins.css-variable('switch', 'spacing', 'label', 'right', 'margin-bottom');
      margin-left: mixins.css-variable('switch', 'spacing', 'label', 'right', 'margin-left');
      line-height: mixins.css-variable('switch', 'line-height', 'label', 'right');
    }
  }

  @include mixins.e('core') {
    @include mixins.with-multi-state('disabled', 'active') {
      background-color: mixins.css-variable('switch', 'background', 'core', 'disabled', 'active');
    }

    @include mixins.is('disabled') {
      background-color: mixins.css-variable('switch', 'background', 'core', 'disabled');
      cursor: not-allowed;

      input {
        cursor: not-allowed;
      }
    }

    @include mixins.is('readonly') {
      cursor: not-allowed;

      input {
        cursor: not-allowed;
      }
    }
  }
}
