@use '../../../../styles/mixins';

@include mixins.b('rate') {
  display: flex;
  align-items: center;
  @include mixins.e('content') {
    color: mixins.css-variable('rate', 'color', 'content');
  }
  @include mixins.e('icon') {
    position: relative;
    line-height: 100%;
  }
}

@include mixins.b('rate') {
  @include mixins.m('disabled') {
    @include mixins.e('icon') {
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  @include mixins.m('enabled') {
    transition: transform 0.2s ease;

    @include mixins.e('icon') {
      &:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }

    @include mixins.e('tooltip') {
      padding-left: mixins.css-variable('rate', 'spacing', 'tooltip', 'padding-left');
    }
  }
}
