@use '../../../../styles/mixins/function';

$values: (
  color: (
    content: #{function.css-variable('color-3-5')},
    empty: #{function.css-variable('border-default')},
  ),
  spacing: (
    tooltip: (
      padding-left: 5px,
    ),
  ),
);
