@use '../../../../styles/mixins';

@include mixins.b('divider') {
  @include mixins.m('horizontal') {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1px;

    @include mixins.e('line-left') {
      flex: 1;
      border-top: mixins.css-variable('divider', 'border');
    }

    @include mixins.e('title') {
      margin: 0 1em;
    }

    @include mixins.e('line-right') {
      flex: 1;
      border-top: mixins.css-variable('divider', 'border');
    }
  }

  @include mixins.m('vertical') {
    position: relative;
    display: inline-flex;
    width: 1px;
    height: 1em;
    vertical-align: middle;

    @include mixins.e('line-left') {
      width: 100%;
      height: 100%;
      border-right: mixins.css-variable('divider', 'border');
    }

    @include mixins.e('line-right') {
      display: none;
    }
  }

  @include mixins.m('default') {
    @include mixins.e('line-left') {
      border-color: mixins.css-variable('divider', 'border-color');
    }
  }

  @include mixins.m('strong') {
    @include mixins.e('line-left') {
      border-color: mixins.css-variable('divider', 'border-color', 'strong');
    }
  }

  @include mixins.parallel-modifier('title-left', 'horizontal') {
    @include mixins.e('line-left') {
      flex: 0 0 mixins.css-variable('divider', 'size', 'placement-not-center', 'width');
    }
  }

  @include mixins.parallel-modifier('title-right', 'horizontal') {
    @include mixins.e('line-right') {
      flex: 0 0 mixins.css-variable('divider', 'size', 'placement-not-center', 'width');
    }
  }
}
