@use '../../../../styles/mixins/function';

$values: (
  size: (
    arrow: 24px,
    indicator: (
      dot: 6px,
      line: (
        width: 12px,
        height: 4px,
      ),
      slider: (
        width: 48px,
        height: 4px,
      ),
    ),
    indicator-hit: (
      horizontal: 14px,
      vertical: 24px,
    ),
    indicator-wrapper: 48px,
    card: (
      width: 60%,
      vertical-height: 66.6667%,
      perspective: 800px,
    ),
    outer-right-wrapper: 20px,
  ),
  color: (
    control: rgb(255, 255, 255),
    indicator: (
      '': rgb(255, 255, 255, 30%),
      active: rgb(255, 255, 255),
      outside: (
        '': rgb(function.css-variable('color-1-4'), 50%),
        active: #{function.css-variable('bg-tertiary')},
      ),
    ),
  ),
  border-radius: 0,
  depth: (
    card: (
      preview: -200px,
      hidden: -400px,
    ),
  ),
  opacity: (
    card: (
      preview: 0.4,
    ),
  ),
  background: (
    control: (
      '': rgb(255, 255, 255, 30%),
      hover: rgb(255, 255, 255, 50%),
      dark: (
        '': rgb(23, 23, 26, 30%),
        hover: rgb(23, 23, 26, 50%),
      ),
    ),
    indicator-mask: rgb(0, 0, 0, 15%),
  ),
  spacing: (
    arrow: (
      offset: 12px,
    ),
    indicator: (
      gap: 8px,
      offset: 12px,
    ),
    outside: (
      gap: 30px,
    ),
  ),
  transition: (
    duration: 500ms,
    control-duration: 300ms,
    timing-function: cubic-bezier(0.34, 0.69, 0.1, 1),
  ),
);
