@use '../../../../styles/mixins/function';

$values: (
  size: (
    item-step: (
      width: 24px,
    ),
    item: (
      dot: (
        width: (
          small: 8px,
          medium: 12px,
          large: 24px,
        ),
      ),
    ),
  ),
  font-size: (
    item: (
      name: #{function.css-variable('text-base')},
      timestamp: #{function.css-variable('text-sm')},
      desc: #{function.css-variable('text-base')},
      icon: #{function.css-variable('text-sm')},
    ),
  ),
  font-weight: (
    item: (
      name: #{function.css-variable('weight-normal')},
      timestamp: #{function.css-variable('weight-normal')},
    ),
  ),
  line-height: (
    item: (
      name: #{function.css-variable('line-height-standard')},
      timestamp: (
        '': #{function.css-variable('line-height-standard')},
        siblings: #{function.css-variable('line-height-standard')},
      ),
      desc: #{function.css-variable('line-height-standard')},
    ),
  ),
  color: (
    item: (
      dot: (
        '': #{function.css-variable('text-inverse')},
        circle: #{function.css-variable('text-disabled')},
      ),
      name: #{function.css-variable('text-primary')},
      timestamp: #{function.css-variable('text-tertiary')},
      desc: (
        '': #595e72,
        hidden: #{function.css-variable('text-brand-default')},
      ),
    ),
  ),
  border-color: (
    item: (
      dot: (
        circle: #{function.css-variable('border-default')},
      ),
      tail: #{function.css-variable('divider-default')},
    ),
  ),
  border: (
    item: (
      dot: (
        circle: 1px solid
          #{function.css-variable('timeline', 'border-color', 'item', 'dot', 'circle')},
      ),
      tail: 1px solid #{function.css-variable('timeline', 'border-color', 'item', 'tail')},
    ),
  ),
  border-radius: (
    item: (
      dot: #{function.css-variable('radius-circle')},
    ),
  ),
  background: (
    item: (
      disc: #{function.css-variable('text-disabled')},
      dot: (
        circle: #{function.css-variable('bg-default')},
      ),
    ),
  ),
  spacing: (
    time: (
      wrapper: (
        margin-bottom: #{function.css-variable('spacing-9')},
        margin-left: 10px,
      ),
      name: (
        margin-bottom: #{function.css-variable('spacing-2')},
      ),
      timestamp: (
        margin-bottom: #{function.css-variable('spacing-2')},
      ),
      desc: (
        margin-bottom: #{function.css-variable('spacing-1')},
      ),
    ),
    item: (
      timestamp: (
        siblings: (
          margin-left: #{function.css-variable('spacing-3')},
        ),
      ),
    ),
  ),
);
