@use '../../../../styles/mixins';

@include mixins.b('space') {
  display: inline-flex;

  @include mixins.m('block') {
    display: flex;
  }

  @include mixins.m('horizontal') {
    flex-direction: row;
  }

  @include mixins.m('vertical') {
    flex-direction: column;
  }

  @include mixins.parallel-modifier('horizontal', 'wrap') {
    flex-wrap: wrap;
  }

  @include mixins.parallel-modifier('horizontal', 'wrap', 'small') {
    gap: mixins.css-variable('space-spacing--wrap--small');
  }

  @include mixins.parallel-modifier('horizontal', 'wrap', 'medium') {
    gap: mixins.css-variable('space-spacing--wrap--medium');
  }

  @include mixins.parallel-modifier('horizontal', 'wrap', 'large') {
    gap: mixins.css-variable('space-spacing--wrap--large');
  }

  @include mixins.parallel-modifier('horizontal', 'small') {
    column-gap: mixins.css-variable('space-spacing--horizontal--small');
  }

  @include mixins.parallel-modifier('horizontal', 'medium') {
    column-gap: mixins.css-variable('space-spacing--horizontal--medium');
  }

  @include mixins.parallel-modifier('horizontal', 'large') {
    column-gap: mixins.css-variable('space-spacing--horizontal--large');
  }

  @include mixins.parallel-modifier('vertical', 'small') {
    row-gap: mixins.css-variable('space-spacing--vertical--small');
  }

  @include mixins.parallel-modifier('vertical', 'medium') {
    row-gap: mixins.css-variable('space-spacing--vertical--medium');
  }

  @include mixins.parallel-modifier('vertical', 'large') {
    row-gap: mixins.css-variable('space-spacing--vertical--large');
  }

  @include mixins.m('center') {
    align-items: center;
  }

  @include mixins.m('start') {
    align-items: flex-start;
  }

  @include mixins.m('end') {
    align-items: flex-end;
  }

  @include mixins.m('baseline') {
    align-items: baseline;
  }
}
