@use '../../../../styles/mixins';

@include mixins.b('footer') {
  flex-shrink: 0;
  box-sizing: border-box;
  height: mixins.css-variable('container-height--footer');
  padding: mixins.css-variable('container-padding--footer');
}
