@use '../../../../styles/mixins';
@use '../../../../styles/mixins/function';

%transform-text {
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: auto;
}

@include mixins.b('messagebox') {
  // #{function.css-variable-name('dialog-padding--header')}: #{function.css-variable('dialog-padding--container')} #{function.css-variable('dialog-padding--container')} #{function.css-variable('spacing-3')};
  #{function.css-variable-name('dialog-margin--body')}: #{function.css-variable('spacing-3')} 0 #{function.css-variable('dialog-padding--container')};

  @include mixins.e('pure') {
    #{function.css-variable-name('dialog-margin--body')}:  #{function.css-variable('dialog-padding--container')} 0;
  }

  @include mixins.e('alert-body') {
    @extend %transform-text;
  }

  @include mixins.e('confirm-body') {
    @extend %transform-text;
  }
}
