@use '../../../../styles/mixins';

@include mixins.b('tree-select-item') {
  color: mixins.css-variable('tree-select', 'color', 'item');
  background: mixins.css-variable('tree-select', 'background', 'item');
  cursor: pointer;
  transition: mixins.css-variable('tree-select', 'transition', 'background');

  @include mixins.e('inner') {
    position: relative;
    display: flex;
    align-items: center;
    min-height: mixins.css-variable('tree-select', 'size', 'item', 'min-height');
    padding: mixins.css-variable('tree-select', 'spacing', 'item', 'padding');
  }

  @include mixins.e('checkbox') {
    display: flex;
  }

  @include mixins.e('radio') {
    display: flex;
  }

  @include mixins.e('content-wrapper') {
    display: flex;
    flex: 1;
    min-width: 0;
  }

  @include mixins.e('content') {
    display: -webkit-box;
    flex: 1;
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: mixins.css-variable-with-default-value('tree-select-size-item-max-line', 1);
    -webkit-box-orient: vertical;

    .keyword {
      color: mixins.css-variable('tree-select', 'color', 'item', 'keyword');
    }
  }

  @include mixins.e('icon') {
    position: absolute;
    top: 50%;
    right: mixins.css-variable('tree-select', 'spacing', 'item', 'padding-right');
    display: flex;
    align-items: center;
    height: fit-content;
    transform: translateY(-50%);
  }

  @include mixins.is('active') {
    @include mixins.e('content', false) {
      font-weight: bold;
    }
  }

  @include mixins.has('icon') {
    @include mixins.be('tree-select-item', 'content-wrapper', false) {
      padding-right: mixins.css-variable('tree-select', 'spacing', 'item', 'has-icon', 'padding-right');
    }
  }

  @include mixins.is-not('disabled') {
    &:hover {
      background: mixins.css-variable('tree-select', 'background', 'item', 'hover');
    }
  }

  @include mixins.is('focus') {
    background: mixins.css-variable('tree-select', 'background', 'item', 'hover');
  }

  @include mixins.is('disabled') {
    color: mixins.css-variable('tree-select', 'color', 'item', 'disabled');
    cursor: not-allowed;
  }
}
