@use '../../../../styles/mixins/function';

$values: (
  size: (
    panel: (
      max-width: 286px,
      min-width: 136px,
      min-height: 256px,
    ),
    tag: (
      max-width: 100%,
    ),
    item: (
      min-height: 40px,
    ),
    item-icon: (
      height: 16px,
    ),
  ),
  font-size: (
    no-data: #{function.css-variable('text-base')},
  ),
  color: (
    '': #{function.css-variable('text-primary')},
    item: (
      '': #{function.css-variable('text-primary')},
      disabled: #{function.css-variable('text-disabled')},
      keyword: #{function.css-variable('text-brand-default')},
    ),
    no-data: #{function.css-variable('text-disabled')},
  ),
  border-color: (
    panel: #{function.css-variable('divider-default')},
  ),
  border: (
    panel: 1px solid #{function.css-variable('tree-select', 'border-color', 'panel')},
  ),
  background: (
    item: (
      '': #{function.css-variable('bg-default')},
      hover: #{function.css-variable('bg-hover')},
    ),
  ),
  spacing: (
    item: (
      padding: 9px #{function.css-variable('spacing-4')},
      padding-right: #{function.css-variable('spacing-4')},
      has-icon: (
        padding-right: calc(
            #{function.css-variable('spacing-5')} + #{function.css-variable('spacing-4')}
          ),
      ),
    ),
    panel: (
      scrollbar: (
        margin-y: #{function.css-variable('spacing-3')},
      ),
    ),
    tags-container: (
      column-gap: (
        '': #{function.css-variable('select', 'spacing', 'tags-container', 'column-gap')},
        small: #{function.css-variable('select', 'spacing', 'tags-container', 'column-gap', 'small')},
      ),
    ),
  ),
  transition: (
    background: background #{function.css-variable('transition-time-fast')},
  ),
);
