@use '../../../../styles/mixins';

@include mixins.b('upload-button') {
  @include mixins.e('file-items') {
    margin-top: mixins.css-variable('upload-margin-top--file-items--button');
  }

  @include mixins.nested('upload-file-preview') {
    &:nth-child(n + 2) {
      margin-top: mixins.css-variable('upload-margin-top--file-preview--button');
    }
  }

  @include mixins.nested('upload-file-preview__content') {
    width: 0;
  }
}
