@use '../../../../styles/mixins';
@use '../../../../styles/mixins/function';

$values: (
  size: (
    button: (
      icon: 16px,
    ),
    drop-area: (
      width: 432px,
      height: 96px,
      icon: 16px,
    ),
    file-list: (
      max-width: 372px,
      item: (
        width: 396px,
        height: (
          small: 40px,
          medium: 48px,
          large: 64px,
          huge: 80px,
          gigantic: 120px,
        ),
        preview: (
          small: 24px,
          medium: 32px,
          large: 48px,
          huge: 64px,
          gigantic: 80px,
        ),
        progress: (
          height: 18px,
        )
      ),
      control: (
        max-width: 68px,
      )
    ),
    gallery: (
      rectangle: (
        small: (
          width: 72px,
          height: 48px,
        ),
        medium: (
          width: 96px,
          height: 64px,
        ),
        large: (
          width: 120px,
          height: 80px,
        ),
        huge: (
          width: 180px,
          height: 120px,
        )
      ),
      square: (
        small: mixins.css-variable('upload', 'size', 'gallery', 'rectangle', 'small', 'height'),
        medium: mixins.css-variable('upload', 'size', 'gallery', 'rectangle', 'medium', 'width'),
        large: mixins.css-variable('upload', 'size', 'gallery', 'rectangle', 'large', 'width'),
        huge: mixins.css-variable('upload', 'size', 'gallery', 'rectangle', 'huge', 'width'),
      ),
      icon: (
        small: 24px,
        medium: 32px,
        large: 40px,
        huge: 40px,
      )
    ),
    background: (
      width: 420px,
      header: (
        height: 56px,
      ),
      body: (
        max-height: 342px,
      ),
      icon: (
        status: 20px,
        control: 24px,
      ),
      status: (
        height: 34px,
      )
    )
  ),
  font-size: (
    drop-area: mixins.css-variable('text', 'base'),
    file-list: (
      item: mixins.css-variable('text', 'sm')
    ),
    gallery: (
      add-file: (
        small: mixins.css-variable('text', 'lg'),
        medium: mixins.css-variable('text', 'xl'),
        large: mixins.css-variable('text', '3xl'),
        huge: mixins.css-variable('text', '3xl'),
      ),
      item: (
        duration: mixins.css-variable('text', 'sm')
      )
    ),
    background: (
      status-text: mixins.css-variable('text', 'lg'),
      control-icon: mixins.css-variable('text', 'xl'),
    )
  ),
  color: (
    drop-area: (
      title: (
        '': mixins.css-variable('text', 'primary'),
        hover: mixins.css-variable('text', 'brand', 'hover'),
        active: mixins.css-variable('text', 'brand', 'press'),
        disabled: mixins.css-variable('text', 'disabled'),
      ),
      tips: (
        '': mixins.css-variable('text', 'disabled'),
        disabled: mixins.css-variable('text', 'disabled')
      )
    ),
    file-list: (
      item: (
        '': mixins.css-variable('text', 'disabled'),
        success: mixins.css-variable('text', 'success-default'),
        fail: mixins.css-variable('text', 'error-default'),
      ),
    ),
    gallery: (
      add-file: (
        icon: (
          '': mixins.css-variable('text', 'secondary'),
          hover: mixins.css-variable('text', 'brand', 'hover'),
          active: mixins.css-variable('text', 'brand', 'press'),
          disabled: mixins.css-variable('text', 'disabled'),
          error: mixins.css-variable('text', 'error', 'default'),
          disabled-error: mixins.css-variable('text', 'error', 'default'),
        )
      ),
      item: (
        duration: mixins.css-variable('text', 'inverse'),
      )
    ),
    background: (
      status-text: mixins.css-variable('text', 'primary')
    )
  ),
  border-color: (
    drop-area: (
      '': mixins.css-variable('border', 'default'),
      hover: mixins.css-variable('border', 'brand', 'hover'),
      active: mixins.css-variable('border', 'brand', 'press'),
      disabled: mixins.css-variable('border', 'disabled'),
      error: mixins.css-variable('border', 'error', 'default'),
    ),
    file-list: (
      item: mixins.css-variable('divider', 'default')
    ),
    gallery: (
      add-file: (
        '': mixins.css-variable('border', 'default'),
        hover: mixins.css-variable('border', 'brand', 'hover'),
        active: mixins.css-variable('border', 'brand', 'press'),
        disabled: mixins.css-variable('border-disabled'),
        error: mixins.css-variable('border', 'error', 'default'),
      )
    ),
    background: mixins.css-variable('border-default')
  ),
  border: (
    drop-area: (
      '': 1px dashed mixins.css-variable('upload', 'border-color', 'drop-area'),
      hover: 1px dashed mixins.css-variable('upload', 'border-color', 'drop-area', 'hover'),
      active: 1px dashed mixins.css-variable('upload', 'border-color', 'drop-area', 'active'),
    ),
    file-list: (
      item: 1px solid mixins.css-variable('upload', 'border-color', 'file-list', 'item'),
    ),
    gallery: (
      add-file: (
        '': 1px dashed mixins.css-variable('upload', 'border-color', 'gallery', 'add-file'),
        hover: 1px dashed mixins.css-variable('upload', 'border-color', 'gallery', 'add-file', 'hover'),
        active: 1px dashed mixins.css-variable('upload', 'border-color', 'gallery', 'add-file', 'active'),
      )
    ),
    background: 1px solid mixins.css-variable('upload', 'border-color', 'background')
  ),
  border-radius: (
    '': mixins.css-variable('radius'),
    drop-area: mixins.css-variable('upload', 'border-radius'),
    file-list: (
      item: mixins.css-variable('upload', 'border-radius'),
      control: mixins.css-variable('radius', 'sm')
    ),
    gallery: (
      item: (
        '': mixins.css-variable('upload', 'border-radius'),
        duration: mixins.css-variable('upload', 'border-radius'),
      ),
    ),
    background:  mixins.css-variable('upload', 'border-radius'),
  ),
  background: (
    drop-area: (
      '': mixins.css-variable('bg', 'default'),
      hover: mixins.css-variable('bg', 'weak', 'hover'),
      active: rgba(0, 130, 150, 5%),
      disabled: mixins.css-variable('bg', 'disabled'),
    ),
    file-list: (
      item: (
        '': mixins.css-variable('bg', 'default'),
        hover: mixins.css-variable('bg', 'secondary')
      ),
      control: (
        hover: mixins.css-variable('bg', 'disabled'),
        active: mixins.css-variable('bg', 'press')
      )
    ),
    gallery: (
      item: (
        '': mixins.css-variable('bg', 'secondary'),
        duration: mixins.css-variable('bg', 'overlay', 'default'),
      ),
      add-file: (
        '': mixins.css-variable('bg-default'),
        hover: mixins.css-variable('bg', 'weak', 'hover'),
        active: rgba(0, 130, 150, 5%),
        disabled: mixins.css-variable('bg', 'disabled'),
      ),
    ),
    background: (
      '': mixins.css-variable('bg', 'default'),
      upload-status: mixins.css-variable('bg', 'info-weak-activated')
    ),
    controls: (
      '': mixins.css-variable('bg', 'transparent'),
      hover: mixins.css-variable('bg', 'secondary')
    ),
  ),
  spacing: (
    button: (
      icon: (
        margin-right: mixins.css-variable('spacing', 2)
      )
    ),
    drop-area: (
      padding: mixins.css-variable('spacing', 7),
      icon: (
        margin-right: mixins.css-variable('upload', 'spacing', 'button', 'icon', 'margin-right')
      ),
      tips: (
        margin-top: mixins.css-variable('spacing', 3),
      ),
    ),
    file-list: (
      margin-top: mixins.css-variable('spacing', 5),
      item: (
        padding: #{mixins.css-variable('spacing', 2) mixins.css-variable('spacing', 3)},
        controls: (
          margin: #{0 0 0 mixins.css-variable('spacing', 3)},
        ),
        preview: (
          margin-right: mixins.css-variable('spacing',3)
        ),
        siblings:(
          margin-top: mixins.css-variable('spacing', 3)
        ),
        status: (
          margin-left: mixins.css-variable('upload', 'spacing', 'button', 'icon', 'margin-right')
        ),
        file-size: (
          margin-left: mixins.css-variable('spacing', 2)
        ),
        progress: (
          small: (
            left: calc(#{mixins.css-variable('upload', 'size', 'file-list', 'item', 'preview', 'small')} + #{mixins.css-variable('upload', 'spacing', 'file-list', 'item', 'preview', 'margin-right')} + #{mixins.css-variable('spacing', 3)})
          )
        )
      )
    ),
    gallery: (
      item: (
        row: (
          gap: mixins.css-variable('spacing', 3)
        ),
        siblings: (
          gap: mixins.css-variable('spacing', 3)
        ),
        padding: (
          small: #{9px mixins.css-variable('spacing', 2)},
          medium: #{10px mixins.css-variable('spacing', 3)},
          large: #{mixins.css-variable('spacing', 4) mixins.css-variable('spacing', 4)},
          huge: #{mixins.css-variable('spacing', 8) mixins.css-variable('spacing', 4)},
        ),
        duration: (
          top: mixins.css-variable('spacing', 2),
          left: mixins.css-variable('spacing', 2),
          padding: mixins.css-variable('spacing', 2),
        ),
        duration-icon: (
          margin-right: mixins.css-variable('spacing', 2)
        )
      )
    ),
    background: (
      position: mixins.css-variable('spacing', 7),
      header: (
        padding: #{mixins.css-variable('spacing', 5) mixins.css-variable('spacing', 6)}
      ),
      body: (
        padding: mixins.css-variable('spacing', 3)
      ),
      status-icon: (
        margin-right: mixins.css-variable('spacing', 3)
      ),
      upload-status: (
        padding: #{0 mixins.css-variable('spacing', 5)}
      )
    )
  ),
  box-shadow: (
    background: mixins.css-variable('shadow', 'dropdown')
  ),
  transition: (
    '': mixins.css-variable('transition', 'color-behavior'),
    'background-opacity': #{background function.css-variable('transition-time-fast') function.css-variable('transition-func-ease-in-out-bezier'), opacity function.css-variable('transition-time-fast') function.css-variable('transition-func-ease-in-out-bezier')}
  ),
);
