@use '../../../../styles/mixins';
@import './month';
@import './year';
@import './week';
@import './day';
@import './auto-fit';

@include mixins.b('calendar') {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;

  @include mixins.e('header') {
    display: flex;
    align-items: center;
    padding: mixins.css-variable('calendar-padding--header');

    @include mixins.m('switcher-wrapper') {
      display: flex;
      align-items: center;
      user-select: none;
    }

    @include mixins.m('today') {
      #{mixins.css-variable-name('button-default-border-color')}: #{mixins.css-variable('calendar-border-color--header-switcher')};
      #{mixins.css-variable-name('button-default-text-color')}: #{mixins.css-variable('calendar-color--header-today')};
      margin-right: mixins.css-variable('calendar-margin-right--header-today');
    }

    @include mixins.m('switcher') {
      display: flex;
      width: fit-content;
      padding: mixins.css-variable('calendar-padding--header-switcher');
      border: mixins.css-variable('calendar-border--header-switcher');
      border-radius: mixins.css-variable('calendar-border-radius');
    }

    @include mixins.m('switcher-item') {
      display: flex;
      align-items: center;
      justify-content: center;
      width: mixins.css-variable('calendar-size--header-switcher--icon');
      height: mixins.css-variable('calendar-size--header-switcher--icon');
      border-radius: mixins.css-variable('calendar-border-radius');
      cursor: pointer;

      &:hover {
        background: mixins.css-variable('calendar-bg--header-switcher-item--hover');
      }

      &:active,
      &.active {
        background: mixins.css-variable('calendar-bg--header-switcher-item--active');
      }
    }

    @include mixins.m('switcher-date') {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: calc(65px + #{mixins.css-variable('calendar-padding-x--header-switcher-date')} * 2);
      height: mixins.css-variable('calendar-size--header-switcher--icon');
      padding: 0 mixins.css-variable('calendar-padding-x--header-switcher-date');
      font-weight: mixins.css-variable('calendar-font-weight--header-switcher-date');
      font-size: mixins.css-variable('calendar-font-size--header-switcher-date');
    }

    @include mixins.m('suffix') {
      flex: 1;
      min-width: 0;
      margin: 0 mixins.css-variable('calendar-padding-x--header-suffix');
    }
  }

  @include mixins.e('body') {
    display: flex;
    flex: 1;
    min-height: 0;
  }
}
