@use '../../../../styles/mixins';

@include mixins.b('calendar-week') {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 580px;

  @include mixins.e('header') {
    position: relative;
    display: grid;
    flex-direction: column;
    grid-template-columns: mixins.css-variable('calendar', 'size', 'week', 'left', 'width') 1fr;
    width: 100%;
    height: mixins.css-variable('calendar', 'size', 'week', 'header', 'height');

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      width: 200%;
      height: 200%;
      border-bottom: mixins.css-variable('calendar', 'border', 'day-row');
      transform: scale(0.5, 0.5);
      transform-origin: 0 0;
      content: '';
      pointer-events: none;
    }

    @include mixins.m('time-zone') {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: mixins.css-variable('calendar', 'spacing', 'week', 'header', 'time-zone', 'padding-bottom');
      color: mixins.css-variable('calendar', 'color', 'week', 'header', 'time-zone');
      user-select: none;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 200%;
        height: 200%;
        border-right: mixins.css-variable('calendar', 'border', 'day-row');
        transform: scale(0.5, 0.5);
        transform-origin: 0 0;
        content: '';
        pointer-events: none;
      }
    }

    @include mixins.m('dates') {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      align-items: center;
      height: 100%;
    }

    @include mixins.m('date') {
      position: relative;
      display: flex;
      height: 100%;
      padding: mixins.css-variable('calendar', 'spacing', 'week', 'date-cell', 'padding');
      user-select: none;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 200%;
        height: 200%;
        border-right: mixins.css-variable('calendar', 'border', 'day-row');
        transform: scale(0.5, 0.5);
        transform-origin: 0 0;
        content: '';
        pointer-events: none;
      }

      --week-color: mixins.css-variable('calendar', 'color', 'week', 'header-week');
      --num-color: mixins.css-variable('calendar', 'color', 'week', 'header-week', 'num');

      &-inner {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
      }

      &-week {
        height: mixins.css-variable('calendar', 'size', 'week', 'header', 'week', 'height');
        color: var(--week-color);
        font-weight: mixins.css-variable('calendar', 'font-weight', 'week', 'header-week');
        font-size: mixins.css-variable('calendar', 'font-size', 'week', 'header-week');
      }

      &-num {
        color: var(--num-color);
        font-weight: mixins.css-variable('calendar', 'font-weight', 'week', 'header-week', 'num');
        font-size: mixins.css-variable('calendar', 'font-size', 'week', 'header-week', 'num');
      }

      @include mixins.is('today') {
        --week-color: mixins.css-variable('calendar', 'color', 'week', 'header', 'today');
        --num-color: mixins.css-variable('calendar', 'color', 'week', 'header', 'today');
      }
    }

    @include mixins.e('body') {
      display: grid;
      flex: 1;
      grid-template-columns: mixins.css-variable('calendar', 'size', 'week', 'left', 'width') 1fr;
      min-height: 0;

      @include mixins.m('time-scroll') {
        position: relative;
        display: grid;
        flex-direction: column;
        grid-template-rows: repeat(
          24,
          mixins.css-variable('calendar', 'size', 'week', 'hour-cell', 'height')
        );
        align-items: center;
        width: 100%;
        user-select: none;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          width: 200%;
          height: 200%;
          border-right: mixins.css-variable('calendar', 'border', 'day-row');
          transform: scale(0.5, 0.5);
          transform-origin: 0 0;
          content: '';
          pointer-events: none;
        }
      }

      @include mixins.m('current-time-label') {
        position: absolute;
        left: 0;
        width: mixins.css-variable('calendar', 'size', 'week', 'left', 'width');
        color: mixins.css-variable('calendar', 'background', 'week', 'current-time');
        font-size: mixins.css-variable('calendar', 'font-size', 'week', 'time-scroll', 'current-time-label');
        text-align: center;
        transform: translateY(-50%);
      }

      @include mixins.m('time-label') {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: mixins.css-variable('calendar', 'color', 'week', 'time-scroll', 'label');
        transform: translateY(
          calc(#{mixins.css-variable('calendar', 'size', 'week', 'hour-cell', 'height')} / 2)
        );
      }

      @include mixins.m('hour-divider') {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 200%;
        border-top: mixins.css-variable('calendar', 'border', 'day-row');
        transform: scale(0.5, 0.5);
        transform-origin: 0 0;
        content: '';
        pointer-events: none;
      }

      @include mixins.m('date-grids') {
        position: relative;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
      }

      @include mixins.m('date-grid-column') {
        position: relative;
        display: grid;
        grid-template-rows: repeat(
          24,
          mixins.css-variable('calendar', 'size', 'week', 'hour-cell', 'height')
        );

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          box-sizing: border-box;
          width: 200%;
          height: 200%;
          border-right: mixins.css-variable('calendar', 'border', 'day-row');
          transform: scale(0.5, 0.5);
          transform-origin: 0 0;
          content: '';
          pointer-events: none;
        }
      }

      @include mixins.m('date-grid') {
        display: flex;
        border-bottom: mixins.css-variable('calendar', 'border', 'week', 'divider');
      }

      @include mixins.m('disabled-hours') {
        position: absolute;
        width: 100%;
        background: mixins.css-variable('calendar', 'background', 'week', 'disabled-hours');
        cursor: not-allowed;
      }

      @include mixins.m('current-time') {
        position: absolute;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 1px;
        background: mixins.css-variable('calendar', 'background', 'week', 'current-time');

        &::before {
          position: absolute;
          top: 50%;
          display: block;
          width: mixins.css-variable('calendar', 'size', 'week', 'current-time', 'indicator');
          height: mixins.css-variable('calendar', 'size', 'week', 'current-time', 'indicator');
          background: mixins.css-variable('calendar', 'background', 'week', 'current-time');
          border-radius: mixins.css-variable('calendar', 'border-radius', 'week', 'current-time', 'indicator');
          transform: translate(-50%, -50%);
          content: '';
        }

        @include mixins.is('disabled') {
          background: mixins.css-variable('calendar', 'background', 'week', 'current-time', 'disabled');

          &::before {
            display: none;
          }
        }
      }
    }
  }

  @include mixins.e('flag') {
    position: absolute;
    z-index: 2;
    padding: mixins.css-variable('calendar', 'spacing', 'flag', 'padding');
    overflow: hidden;
    color: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month');
    font-size: mixins.css-variable('calendar', 'font-size', 'flag', 'month');
    line-height: mixins.css-variable('calendar', 'size', 'flag', 'month', 'height');
    background: mixins.css-variable('calendar', 'background', 'flag', 'month');
    border-radius: mixins.css-variable('calendar', 'border-radius', 'flag');
    user-select: none;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 100%;
      background: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month');
      content: '';
    }

    @include mixins.m('primary') {
      color: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month', 'primary');
      background: mixins.css-variable('calendar', 'background', 'flag', 'month', 'primary');

      &::before {
        background: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month', 'primary');
      }
    }

    @include mixins.m('success') {
      color: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month', 'success');
      background: mixins.css-variable('calendar', 'background', 'flag', 'month', 'success');

      &::before {
        background: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month', 'success');
      }
    }

    @include mixins.m('warning') {
      color: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month', 'warning');
      background: mixins.css-variable('calendar', 'background', 'flag', 'month', 'warning');

      &::before {
        background: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month', 'warning');
      }
    }

    @include mixins.m('error') {
      color: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month', 'error');
      background: mixins.css-variable('calendar', 'background', 'flag', 'month', 'error');

      &::before {
        background: mixins.css-variable('calendar', 'background', 'flag-prefix', 'month', 'error');
      }
    }

    @include mixins.is('clickable') {
      cursor: pointer;
    }

    @include mixins.m('content') {
      font-weight: mixins.css-variable('calendar', 'font-weight', 'flag-content');

      &-title {
        margin-right: mixins.css-variable('calendar', 'spacing', 'flag-title', 'margin-right');
      }
    }
  }
}
