@use '../../../../styles/mixins';

@include mixins.b('main') {
  display: block;
  flex: 1;
  flex-basis: auto;
  box-sizing: border-box;
  padding: mixins.css-variable('container-padding--main');
  overflow: auto;
}
