@use '../../../../styles/mixins';

@include mixins.b('tree-select') {
  @include mixins.e('panel') {
    @include mixins.b('picker', false) {
      @include mixins.e('panel-input') {
        border-bottom: mixins.css-variable('tree-select-border--panel');
      }
    }
  }
}

@include mixins.b('tree') {
  @include mixins.e('list') {
    margin: mixins.css-variable('tree-select-margin-y--panel--scrollbar') 0;
  }
}

@include mixins.b('tree-select-panel') {
  flex: fit-content;
  min-width: mixins.css-variable('tree-select-min-width--panel');
  max-width: mixins.css-variable('tree-select-max-width--panel');
  min-height: mixins.css-variable('tree-select-min-height--panel');
  border-right: mixins.css-variable('tree-select-border--panel');

  &:last-child {
    border-right: none;
  }

  @include mixins.e('empty') {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: mixins.css-variable('tree-select-color--no-data');
    font-size: mixins.css-variable('tree-select-font-size--no-data');
  }

  @include mixins.e('group-label') {
    padding: mixins.css-variable('select-padding--option-group--title');
    overflow: hidden;
    color: mixins.css-variable('select-color--option-group--title');
    font-size: mixins.css-variable('select-font-size--option-group--title');
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@include mixins.b('tree-select-search-panel') {
  @include mixins.e('scrollbar') {
    border-top: mixins.css-variable('tree-select-border--panel');

    @include mixins.m('view') {
      margin: mixins.css-variable('tree-select-margin-y--panel--scrollbar') 0;
    }
  }
}
