@use './function';

@mixin chat-1($addon: null) {
  font-size: 60px $addon;
  font-weight: function.css-variable('weight-normal') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin chat-2($addon: null) {
  font-size: 46px $addon;
  font-weight: function.css-variable('weight-normal') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin chat-3($addon: null) {
  font-size: 40px $addon;
  font-weight: function.css-variable('weight-normal') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin headline-1($addon: null) {
  font-size: function.css-variable('text-3xl') $addon;
  font-weight: function.css-variable('weight-normal') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin headline-2($addon: null) {
  font-size: function.css-variable('text-2xl') $addon;
  font-weight: function.css-variable('weight-normal') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin subtitle-1($addon: null) {
  font-size: function.css-variable('text-xl') $addon;
  font-weight: function.css-variable('weight-strong') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin subtitle-2($addon: null) {
  font-size: function.css-variable('text-lg') $addon;
  font-weight: function.css-variable('weight-strong') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin subtitle-3($addon: null) {
  font-size: function.css-variable('text-base') $addon;
  font-weight: function.css-variable('weight-strong') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin body-1($addon: null) {
  font-size: function.css-variable('text-lg') $addon;
  font-weight: function.css-variable('weight-normal') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin body-2($addon: null) {
  font-size: function.css-variable('text-base') $addon;
  font-weight: function.css-variable('weight-normal') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin body-3($addon: null) {
  font-size: function.css-variable('text-sm') $addon;
  font-weight: function.css-variable('weight-normal') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin caption-1($addon: null) {
  font-size: function.css-variable('text-sm') $addon;
  font-weight: function.css-variable('weight-normal') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}

@mixin caption-2($addon: null) {
  font-size: function.css-variable('text-sm') $addon;
  font-weight: function.css-variable('weight-strong') $addon;
  line-height: function.css-variable('line-height-standard') $addon;
}
