@use '../../../../styles/mixins';
@import './utils';

@include mixins.b('color-picker-panel') {
  @include mixins.e('color-board') {
    position: relative;
    width: mixins.size(232);
    height: mixins.size(160);
    overflow: hidden;
    user-select: none;

    &__wrapper {
      position: relative;
      overflow: hidden;
    }

    @include mixins.m('white') {
      @include absolute-full;

      background: linear-gradient(to right, #fff, rgb(255 255 255 / 0%));
    }

    @include mixins.m('black') {
      @include absolute-full;

      background: linear-gradient(to top, #000, rgb(0 0 0 / 0%));
    }

    @include mixins.m('cursor') {
      @include cursor;
    }
  }
}
