@use '../../../../styles/mixins';

@include mixins.b('color-picker-edit-form') {
  display: flex;
  grid-column-gap: mixins.css-variable('color-picker-column-gap--edit-form');
  align-items: center;
  width: 100%;

  @include mixins.e('type-picker') {
    #{mixins.css-variable-name('picker-min-width--normal')}: 64px;
    #{mixins.css-variable-name('picker-margin-x--input-append-icon')}: 4px;

    @include mixins.nested('picker__input') {
      width: 64px;
    }
  }

  @include mixins.e('hex-prefix') {
    color: mixins.css-variable('color-picker-color--hex-prefix');
  }

  @include mixins.e('combine-input') {
    display: flex;
    flex: 1;
    align-items: center;

    @include mixins.prev('>', 'input') {
      flex: 1 1 fit-content;
      width: fit-content;
      min-width: 0;

      &:not(:last-child) {
        @include mixins.be('input', 'inner-wrap', false) {
          width: mixins.css-variable('color-picker-width--edit-form--number-input');
          padding-left: mixins.css-variable('color-picker-padding-x--edit-form-input');
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        @include mixins.bem('input-number', 'group', 'inner', false) {
          width: mixins.css-variable('color-picker-width--edit-form--number-input');
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        @include mixins.be('input-number', 'inner', false) {
          padding: 0 mixins.css-variable('color-picker-padding-x--edit-form-input');
        }
      }

      &:not(:first-child) {
        @include mixins.be('input', 'inner-wrap', false) {
          width: mixins.css-variable('color-picker-width--edit-form--number-input');
          padding-left: mixins.css-variable('color-picker-padding-x--edit-form-input');
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        @include mixins.bem('input-number', 'group', 'inner', false) {
          width: mixins.css-variable('color-picker-width--edit-form--number-input');
          border-left: none;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        @include mixins.be('input-number', 'inner', false) {
          padding: 0 mixins.css-variable('color-picker-padding-x--edit-form-input');
        }
      }

      @include mixins.m('hex') {
        @include mixins.be('input', 'inner-wrap', false) {
          width: auto !important;
          padding-left: mixins.css-variable('color-picker-padding-x--edit-form-input');
        }

        @include mixins.be('input', 'prefix', false) {
          margin-right: mixins.css-variable('color-picker-margin-right--edit-form-input--prefix');
        }
      }

      @include mixins.m('alpha') {
        flex: 0 0 mixins.css-variable('color-picker-width--edit-form--alpha-input');

        @include mixins.be('input-number', 'suffix', false) {
          padding-right: 2px !important;

          @include mixins.m('wrapper') {
            min-width: 0;
          }
        }
      }
    }
  }
}
