@use '../../../../styles/mixins';
@import './utils';

@include mixins.b('color-picker-panel') {
  display: flex;
  flex-direction: column;
  grid-row-gap: mixins.css-variable('color-picker-row-gap--panel-block');
  align-items: center;
  width: mixins.css-variable('color-picker-width--panel');
  padding: mixins.css-variable('color-picker-padding--popover');

  @include mixins.e('block') {
    width: 100%;

    @include mixins.m('title') {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: mixins.css-variable('color-picker-margin-bottom--panel-block-title');
      color: mixins.css-variable('color-picker-color--panel-block-title');
      font-size: mixins.css-variable('color-picker-font-size--panel-block-title');
    }

    @include mixins.m('pointer-icon') {
      cursor: pointer;
    }

    @include mixins.m('button-group') {
      @include mixins.siblings-block('button') {
        margin-left: mixins.css-variable('color-picker-margin-left--button-group') !important;
      }
    }
  }
}
