@use 'utils';

@use '../../../../styles/mixins';

@include mixins.b('color-picker-panel') {
  @include mixins.e('preview') {
    display: flex;
    align-items: center;
    width: 100%;
    height: mixins.size(36);
    margin-bottom: calc(
      #{mixins.css-variable('color-picker', 'spacing', 'edit-form', 'margin-top')} -
        #{mixins.css-variable('color-picker', 'spacing', 'panel-block', 'row-gap')}
    );

    @include mixins.m('picker') {
      display: flex;
      flex: 0 mixins.css-variable('color-picker', 'size', 'picker');
      align-items: center;
      justify-content: center;
      height: mixins.css-variable('color-picker', 'size', 'picker');
      margin-right: mixins.css-variable('color-picker', 'spacing', 'picker', 'margin-right');
      border-radius: mixins.css-variable('color-picker', 'border-radius', 'picker');
      cursor: pointer;

      svg path {
        fill: mixins.css-variable('color-picker', 'color', 'trigger', 'picker');
      }

      &:hover {
        background: mixins.css-variable('color-picker', 'background', 'picker-item', 'hover');
      }
    }

    @include mixins.m('dot') {
      position: relative;
      flex: 0 mixins.css-variable('color-picker', 'size', 'current-color');
      height: mixins.css-variable('color-picker', 'size', 'current-color');
      margin-left: mixins.css-variable('color-picker', 'spacing', 'current-color', 'margin-left');
      overflow: hidden;
      border: mixins.css-variable('color-picker', 'border', 'dot');
      border-radius: mixins.css-variable('radius-circle');

      .alpha {
        @include utils.absolute-full;
        @include mixins.with-alpha(2px);
      }

      .current-color {
        position: absolute;
        width: calc(#{mixins.css-variable('color-picker', 'size', 'current-color')} - 2px);
        height: calc(#{mixins.css-variable('color-picker', 'size', 'current-color')} - 2px);

        @include mixins.is('eye-dropper') {
          cursor: pointer;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(#000, 0.4);
            opacity: 0;
            content: '';
          }

          &:hover {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }

    @include mixins.m('track') {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;
      min-height: 100%;

      .color {
        position: relative;
        width: 100%;
        height: mixins.size(8);
        background: linear-gradient(
          to right,
          #f00 0%,
          #ff0 16.66%,
          #0f0 33.33%,
          #0ff 50%,
          #00f 66.66%,
          #f0f 83.33%,
          #f00 100%
        );
        border-radius: mixins.css-variable('color-picker', 'border-radius', 'track');

        .cursor {
          @include utils.cursor;

          top: 50%;
          transform: translateY(-50%);
        }
      }

      .alpha {
        position: relative;
        width: 100%;
        height: mixins.size(8);
        border-radius: mixins.size(10);

        @include mixins.with-alpha(2px);

        .alpha-color-bg {
          @include utils.absolute-full;

          border-radius: mixins.css-variable('color-picker', 'border-radius', 'track');
        }

        .cursor {
          @include utils.cursor;

          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
