@use '../../../../styles/mixins/function';

$values: (
  size: (
    arrow: 8px,
  ),
  color: (
    '': #{function.css-variable('text-primary')},
    dark: #{function.css-variable('text-inverse')},
  ),
  border-color: (
    '': #{function.css-variable('divider-default')},
    dark: #{function.css-variable('border-transparent')},
  ),
  border: 1px solid #{function.css-variable('popover', 'border-color')},
  border-radius: #{function.css-variable('radius-m')},
  background: (
    '': #{function.css-variable('bg-default')},
    mask: #{function.css-variable('bg-overlay-weak')},
    dark: #{function.css-variable('text-primary')},
  ),
  spacing: (
    content: (
      padding: #{function.css-variable('spacing-5')},
    ),
  ),
  box-shadow: (
    popcontent: #{function.css-variable('shadow-down2')},
  ),
);
