@use '../../../../styles/mixins';

@include mixins.b('badge') {
  position: relative;
  display: inline-flex;

  @include mixins.e('content') {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include mixins.m('dot') {
    @include mixins.e('content') {
      width: 8px;
      height: 8px;
      border: 1px solid mixins.css-variable('badge', 'border-color', 'content');
      border-radius: mixins.css-variable('badge', 'border-radius', 'content');
    }
  }

  @include mixins.m('num') {
    @include mixins.e('content') {
      min-width: 16px;
      height: 16px;
      padding: 0 3px;
      color: mixins.css-variable('badge', 'color');
      border: 1px solid mixins.css-variable('badge', 'border-color', 'content');
      border-radius: mixins.css-variable('badge', 'border-radius', 'content', 'pill');

      span {
        font-size: mixins.css-variable('badge', 'font-size', 'content');
        transform: scale(0.83);
      }
    }
  }

  @include mixins.m('icon') {
    @include mixins.e('content') {
      color: mixins.css-variable('badge', 'color');
      background-color: mixins.css-variable('badge', 'background', 'content') !important;
      border: 1px solid mixins.css-variable('badge', 'border-color', 'content');
      border-radius: mixins.css-variable('badge', 'border-radius', 'content');
    }
  }

  @include mixins.m('center-point') {
    @include mixins.e('content') {
      transform: translate(50%, -50%);
    }
  }

  @include mixins.m('inner') {
    @include mixins.e('content') {
      transform: none;
    }
  }

  @include mixins.m('outer') {
    @include mixins.e('content') {
      transform: translate(100%, 0);
    }
  }

  @include mixins.m('fix-left') {
    @include mixins.e('content') {
      transform: translate(calc(100% - 16px), 0);
    }
  }

  @include mixins.m('bottom') {
    @include mixins.e('content') {
      top: auto;
      bottom: 0;
    }

    @include mixins.parallel-modifier('center-point') {
      @include mixins.e('content', false) {
        transform: translate(50%, 50%);
      }
    }
  }
}
