@use '../../../../styles/mixins/function';

$values: (
  font-size: (
    content: #{function.css-variable('text-sm')},
  ),
  color: #{function.css-variable('text-inverse')},
  border-color: (
    content: #{function.css-variable('border-inverse')},
  ),
  border-radius: (
    content: (
      '': #{function.css-variable('radius-circle')},
      pill: #{function.css-variable('radius-pill')},
    ),
  ),
  background: (
    content: #{function.css-variable('bg-default')},
  ),
);
