@use '../../../../styles/mixins';

@include mixins.b('slider') {
  @include mixins.m('primary') {
    @include mixins.e('progress') {
      background: mixins.css-variable('slider-bg--progress--primary');
    }
  }

  @include mixins.m('info') {
    @include mixins.e('progress') {
      background: mixins.css-variable('slider-bg--progress--info');
    }
  }

  @include mixins.m('success') {
    @include mixins.e('progress') {
      background: mixins.css-variable('slider-bg--progress--success');
    }
  }

  @include mixins.m('warning') {
    @include mixins.e('progress') {
      background: mixins.css-variable('slider-bg--progress--warning');
    }
  }

  @include mixins.m('error') {
    @include mixins.e('progress') {
      background: mixins.css-variable('slider-bg--progress--error');
    }
  }

  @include mixins.is('disabled') {
    @include mixins.e('track') {
      background: mixins.css-variable('slider-bg--track--disabled');
    }

    @include mixins.e('progress') {
      background: mixins.css-variable('slider-bg--progress--disabled');
    }

    @include mixins.e('cursor') {
      border-color: mixins.css-variable('slider-border-color--cursor--disabled');
    }
  }
}
