@use '../../../../styles/mixins';

@include mixins.b('picker-fit-content-input') {
  @include mixins.e('wrapper') {
    position: relative;
    display: inline-block;
    float: left;
    max-width: 100%;
    height: calc(#{mixins.css-variable('picker-height')} - (#{mixins.css-variable('picker-padding--input--outer')} + 1px) * 2);
    vertical-align: middle;

    @include mixins.is('main') {
      margin-left: 0;
    }
  }

  @include mixins.e('opacity-content') {
    display: inline-flex;
    align-items: center;;
    min-width: calc(#{mixins.css-variable('picker-min-width--fit-content-input')} + 2 * #{mixins.css-variable('picker-padding-y--pop-content')});
    height: 100%;
    opacity: 0;
  }

  @include mixins.e('input') {
    position: absolute;
    top: 50%;;
    left: 0;
    align-self: baseline;
    width: 100%;
    height: 100%;
    color: inherit;
    border: none;
    outline: none;
    transform: translateY(-50%);
    caret-color: mixins.css-variable('picker-color--caret');
  }
}
