@use '../../../../styles/mixins';

@include mixins.b('picker') {
  @include mixins.e('pop-content') {
    position: relative;
    display: flex;
    align-items: stretch;
    padding: 0 !important;
    background: mixins.css-variable('picker-bg--panel');

    @include mixins.m('center') {
      flex: 1;
    }

    @include mixins.m('wrapper') {
      outline: none;
      pointer-events: none;

      > * {
        pointer-events: auto;
      }

      @include mixins.is('show-popover-content-only') {
        width: fit-content;

        @include mixins.nested('popover__popcontent') {
          box-shadow: none;
        }
      }
    }

    @include mixins.m('empty') {
      display: flex;
      align-items: center;
      justify-content: center;
      height: mixins.css-variable('picker-height--panel--empty');
      color: mixins.css-variable('picker-color--panel-empty');
    }

    @include mixins.m('loading') {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: mixins.css-variable('picker-bg--panel-empty');

      > svg {
        color: mixins.css-variable('picker-color--panel-empty--loading');
      }
    }

    @include mixins.m('confirm-wrapper') {
      position: relative;
      display: flex;
      grid-column-gap: mixins.css-variable('picker-margin-left--confirm-wrapper--button');
      align-items: center;
      justify-content: space-between;
      min-height: mixins.css-variable('picker-height--panel--confirm-wrapper');
      padding: mixins.css-variable('picker-padding-x--pop-content--confirm-wrapper');
      border-top: mixins.css-variable('picker-border-top--popper--confirm-wrapper');

      @include mixins.siblings-block('button') {
        margin-left: mixins.css-variable('picker-margin-left--confirm-wrapper--button') !important;
      }

      @include mixins.is('small') {
        height: auto;
        padding: mixins.css-variable('picker-padding-x--pop-content--confirm-wrapper--small');
        border-top: 0;
      }
    }
  }

  @include mixins.e('panel-input') {
    padding: mixins.css-variable('picker-padding--panel-filter');
  }
}
