@use '../../../../styles/mixins';

@mixin drag-over-cursor() {
  position: absolute;
  right: calc(
    #{mixins.css-variable('tree', 'size', 'drag-over-cursor-arrow')} +
      #{mixins.css-variable('tree', 'size', 'drag-over-cursor', 'height')} * 2
  );
  bottom: 0;
  width: 100%;
  height: mixins.css-variable('tree', 'size', 'drag-over-cursor', 'height');
  background: mixins.css-variable('tree', 'background', 'drag-over-cursor');
  opacity: 0;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    display: block;
    width: mixins.css-variable('tree', 'size', 'drag-over-cursor-arrow');
    height: mixins.css-variable('tree', 'size', 'drag-over-cursor-arrow');
    border: mixins.css-variable('tree', 'border', 'drag-over-cursor-arrow');
    border-radius: mixins.css-variable('tree', 'border-radius', 'drag-over-cursor-arrow');
    transform: translateY(-50%);
    content: '';
  }

  &::before {
    left: calc(
      (
          #{mixins.css-variable('tree', 'size', 'drag-over-cursor-arrow')} +
            #{mixins.css-variable('tree', 'size', 'drag-over-cursor', 'height')} * 2
        ) *
        -1
    );
  }

  &::after {
    right: calc(
      (
          #{mixins.css-variable('tree', 'size', 'drag-over-cursor-arrow')} +
            #{mixins.css-variable('tree', 'size', 'drag-over-cursor', 'height')}
        ) *
        -1
    );
  }
}

@include mixins.b('tree-item') {
  @include mixins.is('draggable') {
    position: relative;

    @include mixins.is('draggable-whole') {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }
    }
  }

  @include mixins.is('shadow') {
    opacity: 0.7;
    transition: none;
    user-select: none;
    pointer-events: none;
  }

  @include mixins.is('dragging') {
    background: mixins.css-variable('tree', 'background', 'item', 'dragging') !important;
    user-select: none;
  }

  @include mixins.is('drag-over') {
    background: mixins.css-variable('tree', 'background', 'item', 'drag-over') !important;
  }

  @include mixins.be('tree-item', 'draggable-icon', false) {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    @include mixins.is('disabled') {
      color: mixins.css-variable('tree', 'color', 'item', 'disabled') !important;
      cursor: not-allowed;
    }
  }

  @include mixins.e('drag-over-cursor') {
    @include drag-over-cursor;
  }

  @include mixins.e('drag-over-wrap') {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;

    @include mixins.is('sibling') {
      width: 100%;
    }

    &:hover {
      @include mixins.e('drag-over-cursor') {
        opacity: 1;
      }
    }
  }
}

@include mixins.b('tree') {
  @include mixins.e('drag-over-cursor') {
    @include drag-over-cursor;

    bottom: 50%;
    transform: translateY(-50%);
    opacity: 1;

    &::before,
    &::after {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
