@use '../../../../styles/mixins';
@use 'item';
@use 'draggable';
@use 'motion';

@include mixins.b('tree') {
  position: relative;

  @include mixins.e('filter') {
    position: sticky;
    top: 0;
    margin-bottom: mixins.css-variable('tree', 'spacing', 'filter', 'margin-bottom');
  }

  @include mixins.e('empty') {
    display: flex;
    align-items: center;
    justify-content: center;
    height: mixins.css-variable('tree', 'size', 'empty', 'height');
    color: mixins.css-variable('tree', 'color', 'empty');
  }

  @include mixins.is('dragging') {
    user-select: none;
  }

  @include mixins.em('drag', 'top') {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: mixins.css-variable('tree', 'size', 'item', 'height');
    transform: translateY(-50%);
  }
}
