@use '../../../../styles/mixins';

@include mixins.b('alert') {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: mixins.css-variable('alert', 'spacing', 'content', 'gap');
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: mixins.css-variable('alert', 'spacing', 'padding');
  overflow: hidden;
  background-color: mixins.css-variable('alert', 'background');
  opacity: 1;
  transition: opacity 0.2s;
  @include mixins.m('small') {
    padding: mixins.css-variable('alert', 'spacing', 'padding', 'small');
  }

  @include mixins.is('round') {
    border-radius: mixins.css-variable('alert', 'border-radius');
  }

  p {
    margin: 0;
  }

  @include mixins.m('success') {
    background-color: mixins.css-variable('alert', 'background', 'success');
  }

  @include mixins.m('info') {
    background-color: mixins.css-variable('alert', 'background', 'info');
  }

  @include mixins.m('warning') {
    background-color: mixins.css-variable('alert', 'background', 'warning');
  }

  @include mixins.m('error') {
    background-color: mixins.css-variable('alert', 'background', 'error');
  }

  @include mixins.e('icon-box') {
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  @include mixins.e('close-btn') {
    margin-left: 8px;
    cursor: pointer;
    transition: color 0.2s;
    @include mixins.is('flex-start') {
      align-self: flex-start;
    }

    #{mixins.block-name('link')} {
      margin-left: 0;
    }
  }
  @include mixins.e('action') {
    display: flex;
    margin-left: 8px;
    column-gap: mixins.css-variable('alert', 'spacing', 'content', 'action', 'gap');
    cursor: pointer;
    @include mixins.is('bottom') {
      flex-basis: 100%;
      justify-content: flex-end;
    }
    #{mixins.block-name('link')} {
      margin-left: 0;
    }
  }
  @include mixins.em('action', 'small') {
    column-gap: mixins.css-variable('alert', 'spacing', 'content', 'action', 'gap', 'small');
  }
  @include mixins.e('content') {
    display: flex;
    flex: 1;
    align-items: center;
    color: mixins.css-variable('alert', 'color');
    column-gap: mixins.css-variable('alert', 'spacing', 'content', 'gap');

    @include mixins.e('container') {
      display: flex;
      flex-direction: column;
      row-gap: mixins.css-variable('alert', 'spacing', 'content', 'gap');
      @include mixins.e('title') {
        font-weight: mixins.css-variable('alert', 'font-weight', 'title');
        font-size: mixins.css-variable('alert', 'font-size', 'title');
        line-height: mixins.css-variable('alert', 'line-height');
      }

      @include mixins.e('description') {
        font-size: mixins.css-variable('alert', 'font-size', 'content');
        line-height: mixins.css-variable('alert', 'line-height');
      }
    }
    @include mixins.em('container', 'small', false) {
      row-gap: mixins.css-variable('alert', 'spacing', 'content', 'gap', 'small');
    }
  }
}

@include mixins.b('alert-fade-enter') {
  opacity: 0;

  &-active {
    opacity: 0;
  }
}
