@use '../../../../styles/mixins/function';

$values: (
  size: (
    aside: (
      width: 300px,
    ),
    footer: (
      height: 60px,
    ),
    header: (
      height: 60px,
    ),
  ),
  spacing: (
    footer: (
      padding: 0 20px,
    ),
    header: (
      padding: 0 20px,
    ),
    main: (
      padding: 0 20px,
    ),
  ),
);
