@use '../../../../styles/mixins';
@use 'var';
@use 'mixin';
@use 'loading-icon';

@include mixins.b('loading') {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  @include mixins.e('container-row') {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include mixins.m('dots-text-row') {
      @each $size in (large, medium, small) {
        @include mixin.dots-text-row-gap($size);
      }
    }

    @include mixins.m('circle-text-row') {
      @each $size in (large, medium, small) {
        @include mixin.circle-text-row-gap($size);
      }
    }
  }

  @include mixins.e('container-column') {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.m('dots-text-column') {
      @each $size in (large, medium, small) {
        @include mixin.dots-text-column-gap($size);
      }
    }

    @include mixins.m('circle-text-column') {
      @each $size in (large, medium, small) {
        @include mixin.circle-text-column-gap($size);
      }
    }
  }

  @include mixins.e('container') {
    @include mixins.m('animation-circle') {
      @each $size in (large, medium, small) {
        @include mixin.circle-size($size);
      }
    }

    @include mixins.m('animation-dots') {
      @each $size in (large, medium, small) {
        @include mixin.dots-size($size);
      }
    }
  }
}
