@use 'sass:map';
@use '../../../../styles/mixins';
@use 'var';

@mixin dots-size($size) {
  &#{mixins.$modifier-separator}#{$size} {
    $width: map.get(var.$dot-sizes, $size, 'width');
    $height: map.get(var.$dot-sizes, $size, 'height');
    $gap: map.get(var.$dot-sizes, $size, 'gap');
    $dots-translate-x: map.get(var.$dot-sizes, $size, 'dots-translate-x');
    $dots-right-left: map.get(var.$dot-sizes, $size, 'dots-right-left');

    display: flex;
    align-items: center;
    justify-content: center;

    .loading-wrap {
      position: relative;
      height: $height;
      transform: translateX($dots-translate-x);

      .dot {
        width: $width;
        height: $height;
        border-radius: 50%;
        transition: all 0.3s;
      }

      .dot-left {
        position: absolute;
        left: 0;
        background-color: mixins.css-variable('v-loading-color--dots-left');
        animation: left-ani 0.6s infinite;
      }

      .dot-right {
        position: absolute;
        left: $dots-right-left;
        background: mixins.css-variable('v-loading-color--dots-right');
        animation: right-ani 0.6s infinite;
      }

      @keyframes left-ani {
        from {
          left: 0;
        }

        to {
          left: $dots-right-left;
        }
      }

      @keyframes right-ani {
        from {
          left: $dots-right-left;
        }

        to {
          left: 0;
        }
      }
    }
  }
}

@mixin circle-size($size) {
  &#{mixins.$modifier-separator}#{$size} {
    $width: map.get(var.$circle-sizes, $size, 'width');
    $height: map.get(var.$circle-sizes, $size, 'height');

    display: flex;
    align-items: center;
    width: $width;

    @keyframes loading-dash {
      0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
      }

      50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px;
      }

      100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px;
      }
    }

    .path {
      animation: loading-dash 1.5s ease-in-out infinite;
      stroke: mixins.css-variable('v-loading-color--circle');
      stroke-dasharray: 90, 150;
      stroke-dashoffset: 0;
      stroke-linecap: round;
    }

    @keyframes loading-rotate {
      100% {
        transform: rotate(360deg);
      }
    }

    .circular {
      display: inline;
      width: $width;
      height: $height;
      animation: loading-rotate 2s linear infinite;
    }
  }
}

@mixin dots-text-row-gap($size) {
  &#{mixins.$modifier-separator}#{$size} {
    margin-right: map.get(var.$dot-sizes, $size, 'dots-translate-x');
    margin-left: map.get(var.$dot-sizes, $size, 'text-row-gap');
    color: mixins.css-variable('v-loading-color--text');
    font-weight: 420;
    font-size: mixins.css-variable('v-loading-font-size');
    font-style: normal;
    line-height: mixins.css-variable('v-loading-line-height');
  }
}

@mixin dots-text-column-gap($size) {
  &#{mixins.$modifier-separator}#{$size} {
    margin-top: map.get(var.$dot-sizes, $size, 'text-column-gap');
    color: mixins.css-variable('v-loading-color--text');
    font-weight: 420;
    font-size: mixins.css-variable('v-loading-font-size');
    font-style: normal;
    line-height: mixins.css-variable('v-loading-line-height');
  }
}

@mixin circle-text-row-gap($size) {
  &#{mixins.$modifier-separator}#{$size} {
    margin-left: map.get(var.$circle-sizes, $size, 'text-row-gap');
    color: mixins.css-variable('v-loading-color--text');
    font-weight: 420;
    font-size: mixins.css-variable('v-loading-font-size');
    font-style: normal;
    line-height: mixins.css-variable('v-loading-line-height');
  }
}

@mixin circle-text-column-gap($size) {
  &#{mixins.$modifier-separator}#{$size} {
    margin-top: map.get(var.$circle-sizes, $size, 'text-column-gap');
    color: mixins.css-variable('v-loading-color--text');
    font-weight: 420;
    font-size: mixins.css-variable('v-loading-font-size');
    font-style: normal;
    line-height: mixins.css-variable('v-loading-line-height');
  }
}
