@use '../../../../styles/mixins/function';

$values: (
  size: (
    panel-body: (
      height: 246px,
    ),
    drag-over-cursor: (
      height: 2px,
    ),
    drag-over-cursor-arrow: 6px,
  ),
  color: (
    '': #{function.css-variable('text-primary')},
    clear: (
      header: #{function.css-variable('text-brand-default')},
    ),
    panel-item: (
      group: #{function.css-variable('text-tertiary')},
    ),
    panel-body: (
      empty: #{function.css-variable('text-tertiary')},
    ),
  ),
  border-color: (
    drag-over-cursor-arrow: #{function.css-variable('bg-brand-activated')},
  ),
  border: (
    panel: 1px solid #{function.css-variable('border-default')},
    drag-over-cursor-arrow: #{function.css-variable(
        'transfer',
        'size',
        'drag-over-cursor',
        'height'
      )}
      solid #{function.css-variable('transfer', 'border-color', 'drag-over-cursor-arrow')},
  ),
  border-radius: (
    '': #{function.css-variable('radius-m')},
    item: #{function.css-variable('radius-m')},
    drag-over-cursor-arrow: #{function.css-variable('radius-circle')},
  ),
  background: (
    panel: #{function.css-variable('bg-default')},
    panel-input: #{function.css-variable('bg-default')},
    panel-item: (
      gap-top: #{function.css-variable('bg-brand-default')},
      gap-bottom: #{function.css-variable('bg-brand-default')},
      hover: #{function.css-variable('bg-hover')},
    ),
    item: (
      drag-over: #{function.css-variable('bg-weak-activated')},
    ),
    drag-over-cursor: #{function.css-variable('bg-brand-activated')},
  ),
  spacing: (
    panel-header: (
      padding: 16px 20px 0,
    ),
    panel-body: (
      padding: 8px 0 0,
      empty: (
        padding-bottom: 46px,
      ),
    ),
    panel-breadcrumb: (
      padding: 8px 20px 0,
    ),
    panel-input: (
      padding: 16px 20px 0,
    ),
    panel-footer: (
      padding: 8px 16px,
    ),
    panel-item: (
      padding: 8px 20px,
      group: (
        padding: 0 20px,
      ),
    ),
    control: (
      margin: 0 #{function.css-variable('spacing-4')},
      button-siblings: (
        margin-top: #{function.css-variable('spacing-3')},
      ),
    ),
  ),
  transition: (
    sort: transform #{function.css-variable('transition-time-fast')}
      #{function.css-variable('transition-func-ease-in-out-bezier')},
  ),
);
