@use '../../../../styles/mixins/function';

$values: (
  font-size: (
    title: #{function.css-variable('text-2xl')},
    subtitle: #{function.css-variable('text-lg')},
  ),
  color: (
    title: #{function.css-variable('text-primary')},
    subtitle: #{function.css-variable('text-tertiary')},
  ),
  spacing: (
    margin: 32px,
    icon: (
      margin-bottom: 12px,
    ),
    title: (
      margin-bottom: 4px,
    ),
    subtitle: (
      margin-bottom: 40px,
    ),
    siblings-button: (
      margin-left: 16px,
    ),
  ),
);
